---
openapi: "3.0.1"
info:
  title: "Solartis Insure Open API Documentation"
  description: "API documentation for Solartis Insure Microservices generated and\
    \ maintained by PMT"
  contact:
    email: "orchidapi@solartis.com"
  version: "1.0.0.1"
servers:
- url: "https://uciorchidapi.solartis.net/solartisinsure"
paths:
  /api/integration/pl/GetAIRDistanceToCoast:
    description: "Microservice to Get AIR Distance To Coast"
    post:
      tags:
      - "Integration"
      description: "Microservice to Get AIR Distance To Coast"
      parameters:
      - name: "OwnerId"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "4742"
      - name: "UserName"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid username}"
      - name: "Token"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid token}"
      - name: "ApplicableFromDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "EffectiveDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "Mode"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "LIVE"
          enum:
          - "DEV"
          - "TEST"
          - "LIVE"
      - name: "Environment"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "15"
          enum:
          - "25"
          - "20"
          - "15"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                ServiceRequestDetail:
                  required:
                  - "ServiceRequestVersion"
                  - "ServiceResponseVersion"
                  - "OwnerId"
                  - "ResponseType"
                  - "EndClientUserUniqueSessionId"
                  - "LanguageCode"
                  - "UserName"
                  - "RegionCode"
                  - "Lob"
                  - "BrowserIp"
                  - "UserRole"
                  - "Token"
                  type: "object"
                  properties:
                    ServiceRequestVersion:
                      type: "string"
                      example: "1.0"
                    ServiceResponseVersion:
                      type: "string"
                      example: "1.0"
                    OwnerId:
                      type: "string"
                      example: "1"
                    ResponseType:
                      type: "string"
                      example: "json"
                    EndClientUserUniqueSessionId:
                      type: "string"
                      example: "1.0"
                    LanguageCode:
                      type: "string"
                      example: "en"
                    UserName:
                      type: "string"
                      example: "isorateadmin"
                    RegionCode:
                      type: "string"
                      example: "US"
                    Lob:
                      type: "string"
                      example: "PL"
                    BrowserIp:
                      type: "string"
                      example: "192.158.1.38."
                    UserRole:
                      type: "string"
                      example: "Underwriter"
                    Token:
                      type: "string"
                      example: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                Property:
                  type: "array"
                  items:
                    required:
                    - "Latitude"
                    - "Longitude"
                    type: "object"
                    properties:
                      Latitude:
                        type: "string"
                        example: "36.99446"
                      Longitude:
                        type: "string"
                        example: "-76.38188"
                OwnerId:
                  type: "string"
                  example: "1"
                EventName:
                  type: "string"
                  example: "GetAIRDistanceToCoast"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  ServiceRequestDetail:
                    type: "string"
                    default: ""
                  Property:
                    type: "string"
                    default: ""
                  OwnerId:
                    type: "string"
                    default: "1"
                  EventName:
                    type: "string"
                    default: "GetAIRDistanceToCoast"
                  ResponseStatus:
                    type: "string"
                    default: "Success"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: "Authentication Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: "Authorization Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/integration/pl/GetVeRiskPropertyInformation:
    description: "Microservice to get Verisk Property Information"
    post:
      tags:
      - "Integration"
      description: "Microservice to get Verisk Property Information"
      parameters:
      - name: "OwnerId"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "4742"
      - name: "UserName"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid username}"
      - name: "Token"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid token}"
      - name: "ApplicableFromDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "EffectiveDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "Mode"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "LIVE"
          enum:
          - "DEV"
          - "TEST"
          - "LIVE"
      - name: "Environment"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "15"
          enum:
          - "25"
          - "20"
          - "15"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                OwnerId:
                  type: "string"
                  example: "1"
                ServiceRequestDetail:
                  required:
                  - "OwnerId"
                  - "EndClientUserUniqueSessionId"
                  - "ServiceRequestVersion"
                  - "LanguageCode"
                  - "UserName"
                  - "RegionCode"
                  - "ServiceResponseVersion"
                  - "ResponseType"
                  - "Token"
                  - "Lob"
                  - "UserRole"
                  - "BrowserIp"
                  - "RMSModeledPremium"
                  type: "object"
                  properties:
                    OwnerId:
                      type: "string"
                      example: "1"
                    EndClientUserUniqueSessionId:
                      type: "string"
                      example: "1.0"
                    ServiceRequestVersion:
                      type: "string"
                      example: "1.0"
                    LanguageCode:
                      type: "string"
                      example: "en"
                    UserName:
                      type: "string"
                      example: "isorateadmin"
                    RegionCode:
                      type: "string"
                      example: "US"
                    ServiceResponseVersion:
                      type: "string"
                      example: "1.0"
                    ResponseType:
                      type: "string"
                      example: "json"
                    Token:
                      type: "string"
                      example: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                    Lob:
                      type: "string"
                      example: "PL"
                    UserRole:
                      type: "string"
                      example: "Underwriter"
                    BrowserIp:
                      type: "string"
                      example: ""
                    RMSModeledPremium:
                      type: "string"
                      example: "425.21"
                EventName:
                  type: "string"
                  example: "GetVeRiskPropertyInformation"
                Property:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      StreetNumberAddress1:
                        type: "string"
                        example: "3917"
                      City:
                        type: "string"
                        example: "Climax"
                      StateRegionCode:
                        type: "string"
                        example: "NC"
                      Country:
                        type: "string"
                        example: "USA"
                      SquareFt:
                        type: "string"
                        example: "123"
                      ValuationID:
                        type: "string"
                        example: "7425"
                      Zipcode1:
                        type: "string"
                        example: "66618"
                      EmailAddress:
                        type: "string"
                        example: "Test@Solartis.com"
                      InsuredName:
                        type: "string"
                        example: "John"
                      FirstName1:
                        type: "string"
                        example: "Max"
                      LastName2:
                        type: "string"
                        example: "Smith"
                      MiddleName3:
                        type: "string"
                        example: "john"
                      DateBuilt:
                        type: "string"
                        example: "2015"
                      ResType:
                        type: "string"
                        example: "Primary Owner"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  OwnerId:
                    type: "string"
                    default: "1"
                  ServiceRequestDetail:
                    required:
                    - "OwnerId"
                    - "EndClientUserUniqueSessionId"
                    - "ServiceRequestVersion"
                    - "LanguageCode"
                    - "UserName"
                    - "RegionCode"
                    - "ServiceResponseVersion"
                    - "ResponseType"
                    - "Token"
                    - "Lob"
                    - "UserRole"
                    - "BrowserIp"
                    - "RMSModeledPremium"
                    type: "object"
                    properties:
                      OwnerId:
                        type: "string"
                        default: "1"
                      EndClientUserUniqueSessionId:
                        type: "string"
                        default: "1.0"
                      ServiceRequestVersion:
                        type: "string"
                        default: "1.0"
                      LanguageCode:
                        type: "string"
                        default: "en"
                      UserName:
                        type: "string"
                        default: "isorateadmin"
                      RegionCode:
                        type: "string"
                        default: "US"
                      ServiceResponseVersion:
                        type: "string"
                        default: "1.0"
                      ResponseType:
                        type: "string"
                        default: "json"
                      Token:
                        type: "string"
                        default: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                      Lob:
                        type: "string"
                        default: "PL"
                      UserRole:
                        type: "string"
                        default: "Underwriter"
                      BrowserIp:
                        type: "string"
                        default: ""
                      RMSModeledPremium:
                        type: "string"
                        default: "425.21"
                  EventName:
                    type: "string"
                    default: "GetVeRiskPropertyInformation"
                  VeriskErrorMessages:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        Status:
                          type: "string"
                          default: "Status"
                        MessageCode:
                          type: "string"
                          default: "Error"
                        MessageType:
                          type: "string"
                          default: "Rule"
                        MessageLevel:
                          type: "string"
                          default: "1"
                        MessageSeverity:
                          type: "string"
                          default: "1"
                        UserMessage:
                          type: "string"
                          default: "1"
                        Message:
                          type: "string"
                          default: "1"
                        PARENTID:
                          type: "string"
                          default: "1"
                        ID:
                          type: "string"
                          default: "1"
                        RuleType:
                          type: "string"
                          default: "Rule"
                        ErrorCode:
                          type: "string"
                          default: "Error"
                        RuleMessage:
                          type: "string"
                          default: "Rule"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: "Authentication Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: "Authorization Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/transaction/pl/FindInsured:
    description: "Find Insured V2 using search criteria"
    post:
      tags:
      - "Transaction"
      description: "Find Insured V2 using search criteria"
      parameters:
      - name: "OwnerId"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "4742"
      - name: "UserName"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid username}"
      - name: "Token"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid token}"
      - name: "ApplicableFromDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "EffectiveDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "Mode"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "LIVE"
          enum:
          - "DEV"
          - "TEST"
          - "LIVE"
      - name: "Environment"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "15"
          enum:
          - "25"
          - "20"
          - "15"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                Prefix:
                  type: "string"
                  example: "Mr."
                Suffix:
                  type: "string"
                  example: "001"
                Type:
                  type: "string"
                  example: "Individual"
                InsuredNickname:
                  type: "string"
                  example: ""
                InsuredStatus:
                  type: "string"
                  example: "Success"
                Dob:
                  type: "string"
                  example: "10/27/1989"
                Gender:
                  type: "string"
                  example: "Male"
                FirstName1:
                  type: "string"
                  example: "chriss"
                LastName2:
                  type: "string"
                  example: "Max"
                MiddleName3:
                  type: "string"
                  example: ""
                EventName:
                  type: "string"
                  example: "FindInsured"
                SearchName:
                  type: "string"
                  example: "FindInsuredV2"
                ServiceRequestDetail:
                  required:
                  - "EndClientUserUniqueSessionId"
                  - "ServiceRequestVersion"
                  - "LanguageCode"
                  - "UserName"
                  - "RegionCode"
                  - "ServiceResponseVersion"
                  - "ResponseType"
                  - "Token"
                  - "Lob"
                  - "BrowserIp"
                  - "OwnerId"
                  type: "object"
                  properties:
                    EndClientUserUniqueSessionId:
                      type: "string"
                      example: "1.0"
                    ServiceRequestVersion:
                      type: "string"
                      example: "1.0"
                    LanguageCode:
                      type: "string"
                      example: "en"
                    UserName:
                      type: "string"
                      example: "isorateadmin"
                    RegionCode:
                      type: "string"
                      example: "US"
                    ServiceResponseVersion:
                      type: "string"
                      example: "1.0"
                    ResponseType:
                      type: "string"
                      example: "json"
                    Token:
                      type: "string"
                      example: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                    Lob:
                      type: "string"
                      example: "PL"
                    BrowserIp:
                      type: "string"
                      example: ""
                    OwnerId:
                      type: "string"
                      example: "1"
                OwnerId:
                  type: "string"
                  example: "4742"
                AgencyNumber:
                  type: "string"
                  example: "OUA3333"
                AgentNumber:
                  type: "string"
                  example: "AGT8"
                StartLimit:
                  type: "string"
                  example: "1000"
                EndLimit:
                  type: "string"
                  example: "1000"
                CreatedFromDate:
                  type: "string"
                  example: "01/04/2020"
                CreatedToDate:
                  type: "string"
                  example: "01/04/2023"
                UpdatedFromDate:
                  type: "string"
                  example: "01/04/2020"
                UpdatedToDate:
                  type: "string"
                  example: "01/04/2023"
                InsuredName:
                  type: "string"
                  example: "chriss Max"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  InsuredNumber:
                    type: "string"
                    default: "I - 71081"
                  Prefix:
                    type: "string"
                    default: "Mr."
                  Suffix:
                    type: "string"
                    default: "001"
                  Type:
                    type: "string"
                    default: "Individual"
                  InsuredNickname:
                    type: "string"
                    default: "John"
                  InsuredStatus:
                    type: "string"
                    default: "Success"
                  Dob:
                    type: "string"
                    default: "1/1/20"
                  Gender:
                    type: "string"
                    default: "Male"
                  FirstName1:
                    type: "string"
                    default: "Max"
                  LastName2:
                    type: "string"
                    default: "Smith"
                  MiddleName3:
                    type: "string"
                    default: "john"
                  EventName:
                    type: "string"
                    default: "FindInsured_1.0.0.1"
                  SearchName:
                    type: "string"
                    default: "FindInsured"
                  ResponseJson:
                    type: "string"
                    default: "001"
                  ResponseStatus:
                    type: "string"
                    default: "Success"
                  ServiceRequestDetail:
                    required:
                    - "EndClientUserUniqueSessionId"
                    - "ServiceRequestVersion"
                    - "LanguageCode"
                    - "UserName"
                    - "RegionCode"
                    - "ServiceResponseVersion"
                    - "ResponseType"
                    - "Token"
                    - "Lob"
                    - "BrowserIp"
                    - "OwnerId"
                    type: "object"
                    properties:
                      EndClientUserUniqueSessionId:
                        type: "string"
                        default: "1.0"
                      ServiceRequestVersion:
                        type: "string"
                        default: "1.0"
                      LanguageCode:
                        type: "string"
                        default: "en"
                      UserName:
                        type: "string"
                        default: "isorateadmin"
                      RegionCode:
                        type: "string"
                        default: "US"
                      ServiceResponseVersion:
                        type: "string"
                        default: "1.0"
                      ResponseType:
                        type: "string"
                        default: "json"
                      Token:
                        type: "string"
                        default: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                      Lob:
                        type: "string"
                        default: "PL"
                      BrowserIp:
                        type: "string"
                        default: ""
                      OwnerId:
                        type: "string"
                        default: "1"
                  PARENTID:
                    type: "string"
                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                  ID:
                    type: "string"
                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                  DescriptionOfOperation:
                    type: "string"
                    default: "001"
                  ROOTID:
                    type: "string"
                    default: "001"
                  AgencyNumber:
                    type: "string"
                    default: "AGN001"
                  AgentNumber:
                    type: "string"
                    default: "1234"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: "Authentication Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: "Authorization Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/workflow/pl/BindEndorsement:
    description: "Workflow microservice to bind the endorsement"
    post:
      tags:
      - "Workflow"
      description: "Workflow microservice to bind the endorsement"
      parameters:
      - name: "OwnerId"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "4742"
      - name: "UserName"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid username}"
      - name: "Token"
        in: "header"
        required: true
        schema:
          type: "string"
          default: "{use a valid token}"
      - name: "ApplicableFromDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "EffectiveDate"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "2023-01-09"
      - name: "Mode"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "LIVE"
          enum:
          - "DEV"
          - "TEST"
          - "LIVE"
      - name: "Environment"
        in: "header"
        required: false
        schema:
          type: "string"
          default: "15"
          enum:
          - "25"
          - "20"
          - "15"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                OwnerId:
                  type: "string"
                  example: "1"
                ServiceRequestDetail:
                  required:
                  - "OwnerId"
                  - "EndClientUserUniqueSessionId"
                  - "ServiceRequestVersion"
                  - "LanguageCode"
                  - "UserName"
                  - "RegionCode"
                  - "ServiceResponseVersion"
                  - "ResponseType"
                  - "Token"
                  - "Lob"
                  - "BrowserIp"
                  - "UserRole"
                  - "RMSModeledPremium"
                  type: "object"
                  properties:
                    OwnerId:
                      type: "string"
                      example: "1"
                    EndClientUserUniqueSessionId:
                      type: "string"
                      example: "1.0"
                    ServiceRequestVersion:
                      type: "string"
                      example: "1.0"
                    LanguageCode:
                      type: "string"
                      example: "en"
                    UserName:
                      type: "string"
                      example: "isorateadmin"
                    RegionCode:
                      type: "string"
                      example: "US"
                    ServiceResponseVersion:
                      type: "string"
                      example: "1.0"
                    ResponseType:
                      type: "string"
                      example: "json"
                    Token:
                      type: "string"
                      example: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                    Lob:
                      type: "string"
                      example: "PL"
                    BrowserIp:
                      type: "string"
                      example: "192.158.1.38."
                    UserRole:
                      type: "string"
                      example: "Underwriter"
                    RMSModeledPremium:
                      type: "string"
                      example: "425.21"
                EventName:
                  type: "string"
                  example: "BindEndorsement_WF_1.0.0.1"
                ID:
                  type: "string"
                  example: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                Notes:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      NotesDescription:
                        type: "string"
                        example: "Free Text"
                      InternalViewOnly:
                        type: "string"
                        example: "Y"
                      ActualNotes:
                        type: "string"
                        example: "Notes"
                      ID:
                        type: "string"
                        example: "001"
                      PARENTID:
                        type: "string"
                        example: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                      DiaryNoteCategory:
                        type: "string"
                        example: "Inspections"
                      DiaryNoteDateCreated:
                        type: "string"
                        example: "03/01/2022"
                      DiaryNoteDateDue:
                        type: "string"
                        example: "02/01/2022"
                      DiaryNoteAssigned:
                        type: "string"
                        example: "John Doe"
                      DiaryNoteAttachments:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            PARENTID:
                              type: "string"
                              example: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            ID:
                              type: "string"
                              example: "001"
                            Status:
                              type: "string"
                              example: "Active"
                            AttachmentType:
                              type: "string"
                              example: "Policy"
                            AttachmentName:
                              type: "string"
                              example: "Quote Proposal"
                            AttachmentLocation:
                              type: "string"
                              example: "S2442-HOMEOWNER INSURANCE RATING WORKBOOK\
                                \ 2.PDF"
                            AttachmentFileType:
                              type: "string"
                              example: "PDF"
                            AttachmentDescription:
                              type: "string"
                              example: "Policy Document"
                            AttachmentUrl:
                              type: "string"
                              example: "Attachement.pdf"
                      DiaryNoteDashboardReminder:
                        type: "string"
                        example: "01/01/2022"
                      DiaryNoteTeam:
                        type: "string"
                        example: "PL"
                      DiaryNoteCreatedBy:
                        type: "string"
                        example: "Morris"
                      DiaryNoteSerialNumber:
                        type: "string"
                        example: "1"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  OwnerId:
                    type: "string"
                    default: "1"
                  PolicyNumber:
                    type: "string"
                    default: "MLH - 0010208"
                  CarrierList:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        CarrierID:
                          type: "string"
                          default: "1"
                        CarrierName:
                          type: "string"
                          default: "QBE"
                  ServiceRequestDetail:
                    required:
                    - "OwnerId"
                    - "EndClientUserUniqueSessionId"
                    - "ServiceRequestVersion"
                    - "LanguageCode"
                    - "UserName"
                    - "RegionCode"
                    - "ServiceResponseVersion"
                    - "ResponseType"
                    - "Token"
                    - "Lob"
                    - "BrowserIp"
                    - "UserRole"
                    - "RMSModeledPremium"
                    type: "object"
                    properties:
                      OwnerId:
                        type: "string"
                        default: "1"
                      EndClientUserUniqueSessionId:
                        type: "string"
                        default: "1.0"
                      ServiceRequestVersion:
                        type: "string"
                        default: "1.0"
                      LanguageCode:
                        type: "string"
                        default: "en"
                      UserName:
                        type: "string"
                        default: "isorateadmin"
                      RegionCode:
                        type: "string"
                        default: "US"
                      ServiceResponseVersion:
                        type: "string"
                        default: "1.0"
                      ResponseType:
                        type: "string"
                        default: "json"
                      Token:
                        type: "string"
                        default: "o/WwiFUNrk64AGe/U05nYTQeeixoAo2X9zMD4/qPHcH7SUq6mA/MxaC9cj3yr0tdJ8PxsX5vq/eSq6Syt/A274zI/YUmbKcvutWaKWH7pbQdYAhBTHTvDEHlQvoiW12yVLOiHKV1p1Zex77LU9Z0DwJ60iENbBpAiFQA1YyxJlYNCWtY3XDA6zIHErFqlB/1vXTdGISFs3CvQ2FLJko1NvTDkLH0a1D1RedR4p9OBCDcKKGtNpWw1X094je1dz8KQ0vFKaO3wuuz1foFxXbxOsDsdmB1cp4NxLBw20uDzevarBuihxTnPcHY06hVzMRxMzhYqzmyrlG8bmJUNiTAi5LF384JCBYoMfsJYKnHIvarV+dfoc02oO6CTMgukBYd+I4IxTkU2WM8XDJ9tAlRuOfqSa5WA7EwoTZqGMwOV9HDvBxPauutliKcr+vpBhwXs6aAhRvMM5pBBKtk2DJkkUdWAmYrSfraEFqifhVZWiXK4ZBoYSVQjwbAOhH6YEufV1SYo7xJGaKYNhJn4/NMA8QC43BxTERRd5F8OuXsHFUbCwszVRRGwcfaFJFbEhM2uoc5Aah3Ley91+Ew4ODWI9nruZG+tnhsvkYeT4LRUsuorCxMtiR6qXZRTVM2HY0IEIl3R28j5awGnBeJJ/BUNvl98FY8bmS21mt2VGLEDltUKcuuITGP7W/v2kZDzXjYvXc93fzCUqOkmHyVZXkt9S5zyMTTAPhVleYW8tsycfVHL7yaxl6vhfUrg5EL6A92GW3DTu7DBZ9SMc5PXFAo3KXs31sAxL/cs1RKRs7odnxM94E8qM6Xu3EppBcaGwzejFBMSpwhBEbPqmsyrw3fuf3tbGG/d0p4CGNQzkkR0rXFJo1D79COpuN71cmKxQLlzC0sI+7PWNm1FM1tdpuKEOyn2rXF7anePdCrC7oB658HydU3RRVsxQPYpKpXu2i0rtoiOdDEmSwAk3thhJ5rMp6ziI0kx/yCxUGjnaEupFysXS1qcNHYSyKwuTxHhXGsnv+jsKMelc1Umvc27uj5izQWfWQU90Jg3WEKX4khahzIuOpFL21/Tzh701uOV4T0HolQXR0r+onjsr2qS9Q4DMFiiltuq9/KEKiuxJZuMbNYf6RXgUg+ZQqmx7KZN9rpX78Lvt5rAchHPL9DtKl2vEjHHBWs9Kpxfj5tqm6f4OudwgNODUFuIPS9g53wCqRT3UqiridYOsBDLxXomwjyNEY9OP1G119JEKBnWekQW53FOBUXbWBlUXKxKkTGb+3NMPwIaeXEvAck4QGUInNcNOrJgm9CEkpfy/7cpqFyP2uCMq/5fcW45+qy9gRbOr21KdL3ui1oJMoDiG2bvTvOD+NOIQ5cw3FGdQvapEECIuEAFJ6atMv6nxpOY4MIX7J76I3O+jNWd/8x5uAVdYU8SFJVGN7gzM0ejhac0PGLr0aKitNocMXMzS9gknO1M3hfsL8sEgBbKfv+XONmoFoowRIKh0wbR/c95wi6xOHHFasdXfoLUSjvySb88MC/FFkkKdpi//+d9Px+zjjeBOPicZu8hcwbzkZEY5OhvatFlsbeEQkQff30dhPRnDxsaye4Z/oqi75yCcr1a8H+/wPznxgl4QDmtL5TajKqtA4WhR3y58tAm5v96KwdOJxecV0Ow1eWcwlmmv75rwG38UVya9jHFzVNgxADKeC3ik094ajn08yfd/fdtDrUW+1nmyCDO+ESiiEyKpgmV4Dq5f1zDoFOrO1lNitJkjibJofTFRPpTOcNJ10NKPPHiGXHR6sJiFid+fv7c6iYlp2pumnz49H546f/HUlf8v3qGlrxU9cIRNCEqyA5loe+2X+/X8TQ/XR4xd7IyLkWnnoD5MiepBwGqXQbUP2VnYuyUA/FKiAJb3RrNg8zqfe/UoADK1RHhRYNz9EbApxrAIPbnv8wanVnwVQtrH2F+nUL2lasMK7hfQNxcMv4PIssktuzWWK40Yu9j3CIsfQFiX+0jEb6NPogKsu5tFKNnfKSccAxVuWu2iI50MSZLACTe2GEnmsy6F+/FHMGGPqc25gpZCYKaA=="
                      Lob:
                        type: "string"
                        default: "PL"
                      BrowserIp:
                        type: "string"
                        default: "192.158.1.38."
                      UserRole:
                        type: "string"
                        default: "Underwriter"
                      RMSModeledPremium:
                        type: "string"
                        default: "425.21"
                  EventName:
                    type: "string"
                    default: "BindEndorsement_WF_1.0.0.1"
                  BillingType:
                    type: "string"
                    default: "Agency Bill"
                  QuoteNumber:
                    type: "string"
                    default: "1759753"
                  CarrierID:
                    type: "string"
                    default: "1"
                  CarrierName:
                    type: "string"
                    default: "XYZ Company"
                  SubLineID:
                    type: "string"
                    default: "1"
                  SublineName:
                    type: "string"
                    default: "HO8"
                  ProductNumber:
                    type: "string"
                    default: "005"
                  ProductVerNumber:
                    type: "string"
                    default: "V1"
                  PolicyEffectiveDate:
                    type: "string"
                    default: "01/01/2021"
                  PolicyExpirationDate:
                    type: "string"
                    default: "01/01/2022"
                  RateLookupDate:
                    type: "string"
                    default: "01/01/2021"
                  EndorsementNumber:
                    type: "string"
                    default: "1"
                  OwnerCommissionPercentage:
                    type: "string"
                    default: "10%"
                  OwnerCommissionAmount:
                    type: "string"
                    default: "78.75"
                  OverrideOwnerCommissionPercentage:
                    type: "string"
                    default: "22.5"
                  ID:
                    type: "string"
                    default: "001"
                  PARENTID:
                    type: "string"
                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                  ROOTID:
                    type: "string"
                    default: "001"
                  GeneralAgency:
                    type: "object"
                    properties:
                      Agency:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            ParentAgencyId:
                              type: "string"
                              default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            Name:
                              type: "string"
                              default: "101 Insurance Agency"
                            CompanyCode:
                              type: "string"
                              default: "123"
                            BranchCode:
                              type: "string"
                              default: "8009888"
                            AgencyType:
                              type: "string"
                              default: "General"
                            DefaultCommissionPercentage:
                              type: "string"
                              default: "5"
                            Status:
                              type: "string"
                              default: "Active"
                            ID:
                              type: "string"
                              default: "001"
                            PARENTID:
                              type: "string"
                              default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            OwnerId:
                              type: "string"
                              default: "1"
                            Agent:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  Prefix:
                                    type: "string"
                                    default: "Mr."
                                  FirstName1:
                                    type: "string"
                                    default: "Kim"
                                  LastName2:
                                    type: "string"
                                    default: "Kate"
                                  MiddleName3:
                                    type: "string"
                                    default: "Max"
                                  Suffix:
                                    type: "string"
                                    default: "001"
                                  ContractStartDate:
                                    type: "string"
                                    default: "01/01/2021"
                                  ContractEndDate:
                                    type: "string"
                                    default: "01/01/2022"
                                  DefaultCommissionPercentage:
                                    type: "string"
                                    default: "5"
                                  AgentNumber:
                                    type: "string"
                                    default: "140404"
                                  OverrideAgentCommissionPercentage:
                                    type: "string"
                                    default: "12.5"
                                  AgentCommissionAmount:
                                    type: "string"
                                    default: "500"
                                  Status:
                                    type: "string"
                                    default: "Active"
                                  AgencyNumber:
                                    type: "string"
                                    default: "AGT47556"
                                  ID:
                                    type: "string"
                                    default: "001"
                                  PARENTID:
                                    type: "string"
                                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                  OwnerId:
                                    type: "string"
                                    default: "1"
                                  AgentAddress:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        AddressCode:
                                          type: "string"
                                          default: "264726"
                                        AddressType:
                                          type: "string"
                                          default: "Primary Address"
                                        StreetNumberAddress1:
                                          type: "string"
                                          default: "P O BOX 999,  PALMETTO"
                                        StreetNameAddress2:
                                          type: "string"
                                          default: "GA 30268-0999"
                                        City:
                                          type: "string"
                                          default: "Dalton"
                                        County:
                                          type: "string"
                                          default: "Barbour"
                                        StateRegionCode:
                                          type: "string"
                                          default: "GA"
                                        StateRegion:
                                          type: "string"
                                          default: "GA"
                                        CountryCode:
                                          type: "string"
                                          default: "US"
                                        Country:
                                          type: "string"
                                          default: "USA"
                                        Zipcode1:
                                          type: "string"
                                          default: "30721"
                                        Zipcode2:
                                          type: "string"
                                          default: "30721"
                                        ID:
                                          type: "string"
                                          default: "001"
                                        PARENTID:
                                          type: "string"
                                          default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                  AgentCommunication:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        CommunicationType:
                                          type: "string"
                                          default: "Phone"
                                        PhoneNumber:
                                          type: "string"
                                          default: "+1 (770) 463 1907"
                                        Fax:
                                          type: "string"
                                          default: "+1 (770) 463 1969"
                                        EmailAddress:
                                          type: "string"
                                          default: "Test@Solartis.com"
                                        ID:
                                          type: "string"
                                          default: "001"
                                        PARENTID:
                                          type: "string"
                                          default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                  AgentContact:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        Prefix:
                                          type: "string"
                                          default: "Mr."
                                        FirstName1:
                                          type: "string"
                                          default: "Turner"
                                        LastName2:
                                          type: "string"
                                          default: "Penny"
                                        MiddleName3:
                                          type: "string"
                                          default: "Max"
                                        Suffix:
                                          type: "string"
                                          default: "001"
                                        ContactType:
                                          type: "string"
                                          default: "Phone"
                                        ContactPurpose:
                                          type: "string"
                                          default: "Verification or Urgent Purpose"
                                        Description:
                                          type: "string"
                                          default: "Text"
                                        Salutation:
                                          type: "string"
                                          default: "Mr"
                                        ID:
                                          type: "string"
                                          default: "001"
                                        PARENTID:
                                          type: "string"
                                          default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                        AgentContactAddress:
                                          type: "array"
                                          items:
                                            type: "object"
                                            properties:
                                              AddressCode:
                                                type: "string"
                                                default: "264726"
                                              AddressType:
                                                type: "string"
                                                default: "Primary Address"
                                              StreetNumberAddress1:
                                                type: "string"
                                                default: "P O BOX 999,  PALMETTO"
                                              StreetNameAddress2:
                                                type: "string"
                                                default: "GA 30268-0999"
                                              City:
                                                type: "string"
                                                default: "Dalton"
                                              County:
                                                type: "string"
                                                default: "Barbour"
                                              StateRegionCode:
                                                type: "string"
                                                default: "GA"
                                              StateRegion:
                                                type: "string"
                                                default: "GA"
                                              CountryCode:
                                                type: "string"
                                                default: "US"
                                              Country:
                                                type: "string"
                                                default: "USA"
                                              Zipcode1:
                                                type: "string"
                                                default: "30721"
                                              Zipcode2:
                                                type: "string"
                                                default: "30721"
                                              ID:
                                                type: "string"
                                                default: "001"
                                              PARENTID:
                                                type: "string"
                                                default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                        AgentContactCommunication:
                                          type: "array"
                                          items:
                                            type: "object"
                                            properties:
                                              CommunicationType:
                                                type: "string"
                                                default: "Phone"
                                              PhoneNumber:
                                                type: "string"
                                                default: "+1 (770) 463 1907"
                                              EmailAddress:
                                                type: "string"
                                                default: "Test@Solartis.com"
                                              ID:
                                                type: "string"
                                                default: "001"
                                              PARENTID:
                                                type: "string"
                                                default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                  AgentLicense:
                                    type: "string"
                                    default: "L050340"
                            AgencyAddress:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  AddressCode:
                                    type: "string"
                                    default: "264726"
                                  AddressType:
                                    type: "string"
                                    default: "Primary Address"
                                  StreetNumberAddress1:
                                    type: "string"
                                    default: "3917"
                                  StreetNameAddress2:
                                    type: "string"
                                    default: "Plum Tree Rd"
                                  City:
                                    type: "string"
                                    default: "Climax"
                                  County:
                                    type: "string"
                                    default: "Barbour"
                                  StateRegionCode:
                                    type: "string"
                                    default: "NC"
                                  StateRegion:
                                    type: "string"
                                    default: "North Carolina"
                                  CountryCode:
                                    type: "string"
                                    default: "US"
                                  Country:
                                    type: "string"
                                    default: "USA"
                                  Zipcode1:
                                    type: "string"
                                    default: "27233"
                                  Zipcode2:
                                    type: "string"
                                    default: "27233"
                                  ID:
                                    type: "string"
                                    default: "001"
                                  PARENTID:
                                    type: "string"
                                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            AgencyLicense:
                              type: "string"
                              default: "200893"
                            AgencyCommunication:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  CommunicationType:
                                    type: "string"
                                    default: "Phone"
                                  PhoneNumber:
                                    type: "string"
                                    default: "+1 (770) 463 1907"
                                  Fax:
                                    type: "string"
                                    default: "+1 (770) 463 1969"
                                  EmailAddress:
                                    type: "string"
                                    default: "Test@Solartis.com"
                                  ID:
                                    type: "string"
                                    default: "001"
                                  PARENTID:
                                    type: "string"
                                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            AgencyContact:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  AgencyContactAddress:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        AddressCode:
                                          type: "string"
                                          default: "264726"
                                        AddressType:
                                          type: "string"
                                          default: "Primary Address"
                                        StreetNumberAddress1:
                                          type: "string"
                                          default: "3917"
                                        StreetNameAddress2:
                                          type: "string"
                                          default: "Plum Tree Rd"
                                        City:
                                          type: "string"
                                          default: "Climax"
                                        County:
                                          type: "string"
                                          default: "Barbour"
                                        StateRegionCode:
                                          type: "string"
                                          default: "NC"
                                        StateRegion:
                                          type: "string"
                                          default: "North Carolina"
                                        CountryCode:
                                          type: "string"
                                          default: "US"
                                        Country:
                                          type: "string"
                                          default: "USA"
                                        Zipcode1:
                                          type: "string"
                                          default: "27233"
                                        Zipcode2:
                                          type: "string"
                                          default: "27233"
                                        ID:
                                          type: "string"
                                          default: "001"
                                        PARENTID:
                                          type: "string"
                                          default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                  AgencyContactCommunication:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        CommunicationType:
                                          type: "string"
                                          default: "Phone"
                                        PhoneNumber:
                                          type: "string"
                                          default: "+1 (770) 463 1907"
                                        Fax:
                                          type: "string"
                                          default: "+1 (770) 463 1969"
                                        EmailAddress:
                                          type: "string"
                                          default: "Test@Solartis.com"
                                        ID:
                                          type: "string"
                                          default: "001"
                                        PARENTID:
                                          type: "string"
                                          default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                  Account:
                    type: "object"
                    properties:
                      AgencyNumber:
                        type: "string"
                        default: "AGT47556"
                      AgentNumber:
                        type: "string"
                        default: "140404"
                      OwnerId:
                        type: "string"
                        default: "1"
                      AccountNumber:
                        type: "string"
                        default: "acc-123"
                      Dob:
                        type: "string"
                        default: "01-01-1995"
                      FirstName1:
                        type: "string"
                        default: "Max"
                      LastName2:
                        type: "string"
                        default: "Smith"
                      ID:
                        type: "string"
                        default: "001"
                      Insured:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            InsuredName:
                              type: "string"
                              default: "1"
                            InsuredNumber:
                              type: "string"
                              default: "I - 71081"
                            LastModifiedFromDate:
                              type: "string"
                              default: "01/04/2020"
                            LastModifiedToDate:
                              type: "string"
                              default: "01/04/2020"
                            FirstName1:
                              type: "string"
                              default: "Max"
                            LastName2:
                              type: "string"
                              default: "Smith"
                            Type:
                              type: "string"
                              default: "Individual"
                            Dob:
                              type: "string"
                              default: "01-01-1995"
                            InsuredFullAddress:
                              type: "string"
                              default: "8100\_W\_higgins\_Road,\_IL"
                            ID:
                              type: "string"
                              default: "001"
                            PARENTID:
                              type: "string"
                              default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            OwnerId:
                              type: "string"
                              default: "1"
                            AdditionalInsured:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  FirstName1:
                                    type: "string"
                                    default: "Max"
                                  LastName2:
                                    type: "string"
                                    default: "Smith"
                                  Dob:
                                    type: "string"
                                    default: "01-01-1995"
                                  ID:
                                    type: "string"
                                    default: "001"
                                  PARENTID:
                                    type: "string"
                                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                            Location:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  LocationFullAddress:
                                    type: "string"
                                    default: "5895 S Orange Blossom Trl, Orlando,\
                                      \ FL 32839, USA"
                                  StreetNumberAddress1:
                                    type: "string"
                                    default: "5895"
                                  StreetNameAddress2:
                                    type: "string"
                                    default: "Orange Blossom Trl"
                                  City:
                                    type: "string"
                                    default: "Orlando"
                                  County:
                                    type: "string"
                                    default: "Barbour"
                                  StateRegionCode:
                                    type: "string"
                                    default: "FL"
                                  Country:
                                    type: "string"
                                    default: "USA"
                                  Zipcode1:
                                    type: "string"
                                    default: "32839"
                                  NumberOfBuildings:
                                    type: "string"
                                    default: "1"
                                  Latitude:
                                    type: "string"
                                    default: "10.00"
                                  Longitude:
                                    type: "string"
                                    default: "4.56"
                                  ID:
                                    type: "string"
                                    default: "001"
                                  PARENTID:
                                    type: "string"
                                    default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                  Building:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        DateBuilt:
                                          type: "string"
                                          default: "2010"
                                        ConstructionType:
                                          type: "string"
                                          default: "Frame"
                                        ProtectionClass:
                                          type: "string"
                                          default: "9"
                                        SquareFt:
                                          type: "string"
                                          default: "123"
                                        NumberOfStories:
                                          type: "string"
                                          default: "2"
                                        Occupancy:
                                          type: "string"
                                          default: "Owner - Primary residence"
                                        ResType:
                                          type: "string"
                                          default: "Primary Owner"
                                        CoastalWaterDistance:
                                          type: "string"
                                          default: "1000"
                                        HeatingUpdated:
                                          type: "string"
                                          default: "2010"
                                        PlumbingUpdated:
                                          type: "string"
                                          default: "2010"
                                        RoofUpdated:
                                          type: "string"
                                          default: "2010"
                                        OtherBusiness:
                                          type: "string"
                                          default: "N"
                                        TrampolineOnPremises:
                                          type: "string"
                                          default: "N"
                                        AnimalsOnPremises:
                                          type: "string"
                                          default: "N"
                                        InteriorSprinkler:
                                          type: "string"
                                          default: "N"
                                        ListOnHistoricPlaces:
                                          type: "string"
                                          default: "Yes"
                                        IsThereFuelTank:
                                          type: "string"
                                          default: "N"
                                        ForSale:
                                          type: "string"
                                          default: "Yes"
                                        MitigationOpenings:
                                          type: "string"
                                          default: "Impact Glass"
                                        IsPreexistingDamage:
                                          type: "string"
                                          default: "Y"
                                        IsNewConstructionOrRenovation:
                                          type: "string"
                                          default: "Y"
                                        SwimmingPoolOnPremises:
                                          type: "string"
                                          default: "N"
                                        FloodZone:
                                          type: "string"
                                          default: "A"
                                        RentedResidence:
                                          type: "string"
                                          default: "N"
                                        RoofShape:
                                          type: "string"
                                          default: "Flat Roof"
                                        HighProfileIndividual:
                                          type: "string"
                                          default: "Y"
                                        WaterHeaterUpdated:
                                          type: "string"
                                          default: "2010"
                                        CancelledByPriorCarrier:
                                          type: "string"
                                          default: "N"
                                        ID:
                                          type: "string"
                                          default: "001"
                                        PARENTID:
                                          type: "string"
                                          default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                        PersonalProperty:
                                          type: "array"
                                          items:
                                            type: "object"
                                            properties:
                                              SerialNumber:
                                                type: "string"
                                                default: "007"
                                              ItemName:
                                                type: "string"
                                                default: "vehicles"
                                              ItemValue:
                                                type: "string"
                                                default: "0"
                                              Description:
                                                type: "string"
                                                default: "Rings"
                                              ProrataPremium:
                                                type: "string"
                                                default: "0"
                                              ID:
                                                type: "string"
                                                default: "001"
                                              PARENTID:
                                                type: "string"
                                                default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                              ItemStorage:
                                                type: "string"
                                                default: "In home safe"
                                        AdditionalInterest:
                                          type: "array"
                                          items:
                                            type: "object"
                                            properties:
                                              AdditionalInterestType:
                                                type: "string"
                                                default: "Mortage"
                                              AdditionalInterestCompanyName:
                                                type: "string"
                                                default: "ABC Insurance"
                                              LoanNumber:
                                                type: "string"
                                                default: "2847827538"
                                              ContactName:
                                                type: "string"
                                                default: "Max"
                                              Address1:
                                                type: "string"
                                                default: "2800 Olympic Blvd #100"
                                              Address2:
                                                type: "string"
                                                default: "Santa Monica, CA 90404,\
                                                  \ USA"
                                              City:
                                                type: "string"
                                                default: "Santa Monica"
                                              CountyName:
                                                type: "string"
                                                default: "Baldwin"
                                              Zip:
                                                type: "string"
                                                default: "90404"
                                              StateCode:
                                                type: "string"
                                                default: "CA"
                                              CountryCode:
                                                type: "string"
                                                default: "US"
                                              PhoneNum:
                                                type: "string"
                                                default: "246-274-2257"
                                              MortgageePay:
                                                type: "string"
                                                default: "0.00625"
                                              EmailAddress:
                                                type: "string"
                                                default: "Test@gmail.com"
                                              ID:
                                                type: "string"
                                                default: "001"
                                              PARENTID:
                                                type: "string"
                                                default: "fa58c6e1-f497-4949-9e86-7cc863602b38"
                                              OwnerId:
                                                type: "string"
                                                default: "1"
                                              ROOTID:
                                                type: "string"
                                                default: "001"
                                              EventName:
                                                type: "string"
                                                default: "Rating"
                                              ResponseStatus:
                                                type: "string"
                                                default: "Success"
                                              Type:
                                                type: "string"
                                                default: "listed"
                                              FirstName:
                                                type: "string"
                                                default: "Max"
                                              LastName:
                                                type: "string"
                                                default: "Smith"
                                              AdditionalInsuredType:
                                                type: "string"
                                                default: "Co-Owner"
                                              Name:
                                                type: "string"
                                                default: "Max"
                                              EscrowAccount:
                                                type: "string"
                                                default: "Agency Bill"
                                        Coverage:
                                          type: "array"
                                          items:
                                            type: "object"
                                            properties:
                                              AopPolicyDeductibleAmount:
                                                type: "string"
                                                default: "100"
                                              MiscsurchargeFactor:
                                                type: "string"
                                                default: "1"
                                              RMS_Multiplier:
                                                type: "string"
                                                default: "1.00"
                                              AIR_Multiplier:
                                                type: "string"
                                                default: "1.00"
                                              DwellingCoverage:
                                                type: "string"
                                                default: "314,000"
                                              EarthquakeDeductible:
                                                type: "string"
                                                default: "N/A"
                                              EquipmentBreakdown:
                                                type: "string"
                                                default: "Yes"
                                              LossAssessment:
                                                type: "string"
                                                default: "1000"
                                              LossOfUseCoverage:
                                                type: "string"
                                                default: "62,800"
                                              MiscsurchargeAmount:
                                                type: "string"
                                                default: "100"
                                              MoldCov:
                                                type: "string"
                                                default: "5,000"
                                              MoldPremium:
                                                type: "string"
                                                default: "0"
                                              OrdinanceLawCoverage:
                                                type: "string"
                                                default: "10%(Cov A)"
                                              OtherStructureCoverage:
                                                type: "string"
                                                default: "31,400"
                                              PersonalPropertyCoverage:
                                                type: "string"
                                                default: "10000"
                                              PersonalInjury:
                                                type: "string"
                                                default: "N/A"
                                              PolicyformOption:
                                                type: "string"
                                                default: "RCV"
                                              ScheduledPersonalPropertyCoverage:
                                                type: "string"
                                                default: "Excluded"
                                              SecondaryPropertyExtendedLiabilityAmount:
                                                type: "string"
                                                default: "100"
                                              WaterBackupDeductible:
                                                type: "string"
                                                default: "5,000"
                                              WindDeductibleType:
                                                type: "string"
                                                default: "AOP_Only"
                                              PersonalLiabilityPremium:
                                                type: "string"
                                                default: "0"
                                              TotalPremium:
                                                type: "string"
                                                default: "0"
                                              BasePremium:
[...]
