{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "Solartis Policy Issuance API for ILT",
		"description": "To Policy Issuance for Leisure Travel from Solartis Rate API."
	},
	"host": "travelapihk.solartis.net",
	"basePath": "/DroolsV4_2/DroolsService",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/FireEventV2": {
			"post": {
				"description": "Policy Issuance for Leisure Travel",
				"operationId": "policyissuance",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "Token",
						"in": "header",
						"description": "Authentication Token",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "iMgdpnp436QjuYQ2tn9HU+SgJDsyFW8kDSoLHGwadQKpl/wr4yKoVMjkSfJB/FKqjFqrLmebBUqmHM/dVAMv+DDPaXOt/GY7mjWZXGT2z0C5cMldq5ghrNRFqvYrAXiI506Ue4quZZNMZosssVnBIFbnbLVHo4e9WNp/4X9Sai/5LrKZ1J99H71yIi/9rXsAKhCk5lGzFaO3SXLwJluxpsUM+5MiljDi4NFM+/K0KPeUOuL8R2FZD9RobXBVvR7xPdH1oZ71jBgOmg59/75ugVgJ/35PRXWc1Emi9SPqQHHEmsD4AoH2xj45UGMY3hjx0sz/uABSHKxNwA8DwPTBS7jaN2XqKLCayPsSWHVH04XW+ZeDaw1iRLb/0euQfXT97fiPQgPQSjtDvxif6cFXZQX/BHYIcAUjZtdcuv098quieEPaIWri6DUFEIzf/uRM7R4itGHIU7/B0cMwwQNFhxjtMVAgSBq7Kw4a8kf5s+2XOip5XV3KeT5U4u8HX6/xdKxhpP8gLng6PoGj0MEnSugWYicqO81QJH2UISAaI3iDgNxzCSFmsAChwURz5g/RRmHqLknkxHh4lvFfjQGlTIfdNwW+CwHbg0EQFt/c/4M6CofYIAQVzElcVRih/j88U7EqGr8v1mrTPel1sBXl+auuXSlODNRoeDVogcqA1Fr9504oM1kbCEmrVIqjUxUmK9a8CWsZEjIYiNuY0KncVKuuXSlODNRoeDVogcqA1Foa9LkTsAlC3ItSy+gbt0NdLaJdXbWS8ClBkbddTRCbeWRNMZNDq/vS1JTb8FKCl5OsniK5MZQnMbZdqNHlqbv2WOw2j+jUU0BThnDgEX6XEjSt7SoS1Xd6+F4DyPRZsQbD7XGhOWwTgbKALHDL6LviA3K4dHjVKHv1xOd8L284LsWKpOWqHf8xYqRIiCHZgQEtSRZCdfQPbklkXKGNaTjD"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content Type",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "application/json"
					},
					{
						"name": "EventName",
						"in": "header",
						"description": "EventName",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "Pay_Issue"
					},
					{
						"name": "Request",
						"in": "body",
						"description": "For request",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"$ref": "#/definitions/Success_Response"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/errorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Request": {
			"type": "object",
			"properties": {
			  				"ServiceRequestDetail": {
					"type": "object",
					"properties": {
						"ServiceRequestVersion": {
							"type": "string",
							"default": "1.0"
						},
						"ServiceResponseVersion": {
							"type": "string",
							"default": "1.0"
						},
						"OwnerId": {
							"type": "string",
							"default": "15"
						},
						"ResponseType": {
							"type": "string",
							"enum": [
								"JSON",
								"XML"
							],
							"default": "JSON"
						},
						"RegionCode": {
							"type": "string",
							"default": "US"
						},
						"Token": {
							"type": "string",
							"default": "iMgdpnp436QjuYQ2tn9HU+SgJDsyFW8kDSoLHGwadQKpl/wr4yKoVMjkSfJB/FKqjFqrLmebBUqmHM/dVAMv+DDPaXOt/GY7mjWZXGT2z0C5cMldq5ghrNRFqvYrAXiI506Ue4quZZNMZosssVnBIFbnbLVHo4e9WNp/4X9Sai/5LrKZ1J99H71yIi/9rXsAKhCk5lGzFaO3SXLwJluxpsUM+5MiljDi4NFM+/K0KPeUOuL8R2FZD9RobXBVvR7xPdH1oZ71jBgOmg59/75ugVgJ/35PRXWc1Emi9SPqQHHEmsD4AoH2xj45UGMY3hjx0sz/uABSHKxNwA8DwPTBS7jaN2XqKLCayPsSWHVH04XW+ZeDaw1iRLb/0euQfXT97fiPQgPQSjtDvxif6cFXZQX/BHYIcAUjZtdcuv098quieEPaIWri6DUFEIzf/uRM7R4itGHIU7/B0cMwwQNFhxjtMVAgSBq7Kw4a8kf5s+2XOip5XV3KeT5U4u8HX6/xdKxhpP8gLng6PoGj0MEnSugWYicqO81QJH2UISAaI3iDgNxzCSFmsAChwURz5g/RRmHqLknkxHh4lvFfjQGlTIfdNwW+CwHbg0EQFt/c/4M6CofYIAQVzElcVRih/j88U7EqGr8v1mrTPel1sBXl+auuXSlODNRoeDVogcqA1Fr9504oM1kbCEmrVIqjUxUmK9a8CWsZEjIYiNuY0KncVKuuXSlODNRoeDVogcqA1Foa9LkTsAlC3ItSy+gbt0NdLaJdXbWS8ClBkbddTRCbeWRNMZNDq/vS1JTb8FKCl5OsniK5MZQnMbZdqNHlqbv2WOw2j+jUU0BThnDgEX6XEjSt7SoS1Xd6+F4DyPRZsQbD7XGhOWwTgbKALHDL6LviA3K4dHjVKHv1xOd8L284LsWKpOWqHf8xYqRIiCHZgQEtSRZCdfQPbklkXKGNaTjD"
						},
						"UserName": {
							"type": "string",
							"default": "travelagent"
						},
						"LanguageCode": {
							"type": "string",
							"default": "en"
						}
					}
				},
				"PolicyInformation": {
					"type": "object",
					"properties": {
						"ProductID": {
							"type": "string",
							"default": "619"
						},
						"ProductVerID": {
							"type": "string",
							"default": "706"
						},
						"ProductNumber": {
							"type": "string",
							"default": "ILT"
						},
						"ProductVerNumber": {
							"type": "string",
							"default": "1.0"
						},
						"ProducerCode": {
							"type": "string",
							"default": "86201"
						},
						"OwnerId": {
							"type": "string",
							"default": "15"
						},
						"CustomerNumber": {
							"type": "string",
							"default": "SC1700006650KCP0"
						},
						"RoleID": {
							"type": "string",
							"default": "5"
						},
						"RoleName": {
							"type": "string",
							"default": "Agent"
						},						
						"RoleType": {
							"type": "string",
							"default": "User"
						},
						"EventName": {
							"type": "string",
							"default": "Pay_Issue"
						},
						"CardNumber": {
							"type": "string",
							"default": "5555555555554444"
						},
						"CVV": {
							"type": "string",
							"default": "123"
						},
						"ExpiryMonth": {
							"type": "string",
							"default": "11"
						},
						"ExpiryYear": {
							"type": "string",
							"default": "2018"
						},
						"PayerName": {
							"type": "string",
							"default": "John Doe"
						},
						"PayerAddress1": {
							"type": "string",
							"default": "399 Park st"
						},
						"PayerCity": {
							"type": "string",
							"default": "Atlanta"
						},
						"PayerState": {
							"type": "string",
							"default": "GA"
						},
						"PayerCountry": {
							"type": "string",
							"default": "US"
						},
						"PayerZipcode": {
							"type": "string",
							"default": "30301"
						},
						"PayerEmail": {
							"type": "string",
							"default": "test@solartis.net"
						},
						"PayerPhone": {
							"type": "string",
							"default": "4045555512"
						},
						"PaymentMethod": {
							"type": "string",
							"default": "Credit Card"
						},
						"CardType": {
							"type": "string",
							"default": "MasterCard"
						}
					}
				}
			}
		},
		"Success_Response": {
			"type": "object",
			"properties": {
				"messageDetail": {
					"type": "object"
				},
				"ResponseStatus": {
					"type": "string"
				},
				"Policy": {
					"type": "object"
				}
			}
		},
		"errorModel": {
			"type": "object",
			"required": [
				"RequestStatus",
				"MessageDetail"
			],
			"properties": {
				"RequestStatus": {
					"type": "string"
				},
				"MessageDetail": {
					"type": "object",
					"properties": {
						"MessageCode": {
							"type": "string"
						},
						"MessageType": {
							"type": "string"
						},
						"UserMessage": {
							"type": "string"
						},
						"MessageLevel": {
							"type": "string"
						},
						"MessageSeverity": {
							"type": "string"
						},
						"MessageList": {
							"type": "object",
							"properties": {
								"Message": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
