{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "Solartis Rate API for Professional Liability",
		"description": "To get rate for Professional Liability from Solartis Rate API."
	},
	"host": "profapihk.solartis.net",
	"basePath": "/DroolsV6/DroolsService",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/FireEventV2": {
			"post": {
				"description": "Gets Rate for Professional Liability",
				"operationId": "getRates",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"name": "Token",
						"in": "header",
						"description": "Authentication Token",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "4FZxzc4nBK8PRh3INiXPSfawgRYPCEkoc60xJpfTD7nXYmuQPzOC7yLW/oKtbXp1smfPJL5hXaNxWIO2M3gTkhKjhTvLKGFxoAmeks94kYjbpjmRsAqvILP/flmuLCUR8Ndkt3dBgpFL2xzVMWQS3rJNIBo/WV1/KNMt3PN8RAWiHvA5laEEbb1rg4N5aBYo2oW5Rd6sXJ5fC+2uj59QFhBd3ma1g3+XNaiFtEvXr5OKEdxVJPhlCcTgWieXwISFDpgV0HJN2izR4dDFP93Pjz3Ul+0CCQNWrWs5qT2c7LSooBvo2hi0RdI+RnEb+fJqwwaXjt+7pdhZqFpr9AhkQ0Wtnh0EaeWa9r8eKTzSJjtLBIJFPjZVWbKGrrKy9aXIXKLg/7rY4BAfunkChQzSfl92LTsRTpirBJNTNaKXizcumWQgcNPtE977XiCO9o87UvEcWm8kX5ziy9JDv9HWcwfYcJHyjrLy8OhMN2Rh7kdnkSyFbetkKkeicba+YbE+7aBXP9JGE0/k4M+qzzyfXcizAblzTLVxghZahz+90u8NStKp/gBBATfUvIGUYZODq48Jjh5hYJys22hDYwrnfkwCSiTtC9b0wWy/qbBz+cm8DEsFJ7t7QMq+LzNuT7UyCzipQbyqLhq5Uv5Dh5ZwuD4OMSxou/PdlcvLjAuzrun9fHNIK7wfLl2wJp76Qkjq4SZBnS8x6UN0Rt5lj5GHvlgfLa+VKweOGaKpY8M2J4yDOhj8VobzuETIZNhW/8e2MGfE6zwEIz72As5Qd8XaCbDy2zKYIuTH5ptDiijhZTIgmnyJX67VaNUtPBSKPGKzUDIz0PmkLh75Vht4ykhOS1qn9/8WFvUUPA+r4XcyeHAwBRKOU8r5iSeSgbr2ADhhfciPlgxzzZfl1XOwlHpwsQWRy57/STpnR0uMGHvaIRPek+Zb/nfqIJ3LzVp2eVimwS+ndm+d9pCQbcXPle8S3D0DFBtsQF2umULbYFlPjlsI6cbgsrCLrR/B1ul0z9mO7TokvAWXQQ+6CH7BGSOpIgzWt6NHEjMz7wZFfxsHnXnrIp15jUduVLP/T1T7JPjm5JzlxMa3tR2ME7gCcZL1yzi3hmCCwe0Ul7ZJ8fhLlvRQ2X/FHtEUDOBIs0bEhh/nfs1Fj+ObeiKG36vt32eqzYXc7da1Sd2VDFglQClEksRoy+/Xs3+TUhumtq56x9SEuVPXYVcRAh8bUYpwYI/RwC3hh+18adF4xz5+LjKSG1vriH8Z9tkqniMQ03NTSNJZUtWOlVW9F5XG4JRw1VTdMyabnAI3H8H6WHv96pt4uirsL8FkgmH3boUoG6nA3Fbv20mFb3oVcjE8GM4aQ3+VZJQjc4scutwYr3HP/Z7yaItv6GM3JIJU+P7ijoFeKYquPID6Z5aJDV7K7o3Jun3XSamCLRNMigcwoH2kZJwZwHaA4hp6Qg4ag063AbsGYGlnbQADissQvyiVfyT7pH0Sm3o0UM4G6rcqVCAuKJtvq5VMX3hqrMyVleDxhc1Nf/zrVkp70H1LsPWSH3rNjYCbDHo9gDJ6JdheAl5JNOp1SRqLh8oGLGRH0hJGUEdTqMSuHWQwY3m7jsC4C6XKK5WIAPsZ/PV67cIDT4AJpZFvyHK7f3o8cMS7O/6blErtKLKLD99ziPOVP4nrWVqLd5H59QAapb6L9rBclgUiCGhzVhtuuZKz9LQ0/Thoko80vWuFhmz9GW2fdlUXh3dHggAmTv18DL+cHB+1Nli9mZpDiuw5RJddWRgWGfJPp+zk3hFhN8kHGDc7XFtQXvmIMyYwsiLl/3bBPON+pM4I3dodFPLpjmKQLIAJBr3rYnpca78ACuju1ZxTNfjPqMOH9Z1873XFW+FXllZDDw9NGSnEMAQXrFO+HLavoFLflEA3QIZLb4bxQ6IclhtxidwP7bM1K+lFw2R3n7nX4KzAFgwWkslvhvFDohyWG3GJ3A/tszUrXhW2hIJa0RJ/YSMx/wdO/cIIwvxBWK5SEno5Nzt/6ckvwNR0c7hH/9uefKyVaX6GcmzrcNJXnnau1h6k5pzKjhW9BGuiwt+IOl9s5zyb8PfNGNeqRHd31U5bEapNjBRoFnxWSYLII8TnaVEnlfuhGJFC+2S/wGerJn6l1Vb9xYEB1rI1yIxBxoAFhC71U0Qp5nYHtxoHLJGZ8hfQzoWM3Ml+sevHgz287/JuBQhf8wJQahhYxLhsVE5QJkfbKXpQrAxUs2i7rQ0JpkTJgpAbfSNrHGXqUwU7MWiWOLXdqogpfH5uTbvL8BYrdVwXd9H1A+FrERH3ymA1HcaLgYMnRiWZVtkE0J9WZ2AsLuukX8mSLGlxmS9ete/Zvr5augiGkuLGFMOfie6DNHU4UAKxZSy9/O5TGUVtruP8qEzEqzI6PE1L/rc2CLkRj9dF6lN/s92nqLrCb9Fl/yMcje+CAhF1RLJ0Q3y5CSo0bkNJY/ZY0AC0sspLMMNdpfK7rMvqVhehY8Fc8xQOWfqqHqyJEBW8vCDp4QXVDcPG+8EgsgJ/0K5/STtsUZBQ/mOqyDYI9vST4nhUgPIxJUbNr0eBpJjnyGAKGdUu5zZwY+NjdK2a6yrDDHUglfSwAWFS2j64VEGuErE5hel6N/mo3pr9Yj3AcDnwI38hHbbEFymbyAr1JTSz3xdXIL54+YSaxC2xG0bBA6q4Ny20ciFpXdzuS2tLIfMTQn6vILYIF5oA5lZ/s3lSGnrzg28mz15vGwvt"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content Type",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "application/json"
					},
					{
						"name": "EventName",
						"in": "header",
						"description": "EventName",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "PLICalculateRate"
					},
					{
						"name": "EventVersion",
						"in": "header",
						"description": "EventVersion",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "2.2.2.1"
					},
					{
						"name": "Rating Request",
						"in": "body",
						"description": "For rating request",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Rating_Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"$ref": "#/definitions/Rating_Success_Response"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/errorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Rating_Request": {
			"type": "object",
			"properties": {
				"EndClientUserUniqueSessionId": {
					"type": "string",
					"default": "Uniquesession"
				},
				"ServiceRequestDetail": {
					"type": "object",
					"properties": {
						"OwnerId": {
							"type": "string",
							"default": "27"
						},
						"ResponseType": {
							"type": "string",
							"enum": [
								"JSON",
								"XML"
							],
							"default": "JSON"
						},
						"UserName": {
							"type": "string",
							"default": "CWAgent"
						},
						"Token": {
							"type": "string",
							"default": "4FZxzc4nBK8PRh3INiXPSfawgRYPCEkoc60xJpfTD7nXYmuQPzOC7yLW/oKtbXp1smfPJL5hXaNxWIO2M3gTkhKjhTvLKGFxoAmeks94kYjbpjmRsAqvILP/flmuLCUR8Ndkt3dBgpFL2xzVMWQS3rJNIBo/WV1/KNMt3PN8RAWiHvA5laEEbb1rg4N5aBYo2oW5Rd6sXJ5fC+2uj59QFhBd3ma1g3+XNaiFtEvXr5OKEdxVJPhlCcTgWieXwISFDpgV0HJN2izR4dDFP93Pjz3Ul+0CCQNWrWs5qT2c7LSooBvo2hi0RdI+RnEb+fJqwwaXjt+7pdhZqFpr9AhkQ0Wtnh0EaeWa9r8eKTzSJjtLBIJFPjZVWbKGrrKy9aXIXKLg/7rY4BAfunkChQzSfl92LTsRTpirBJNTNaKXizcumWQgcNPtE977XiCO9o87UvEcWm8kX5ziy9JDv9HWcwfYcJHyjrLy8OhMN2Rh7kdnkSyFbetkKkeicba+YbE+7aBXP9JGE0/k4M+qzzyfXcizAblzTLVxghZahz+90u8NStKp/gBBATfUvIGUYZODq48Jjh5hYJys22hDYwrnfkwCSiTtC9b0wWy/qbBz+cm8DEsFJ7t7QMq+LzNuT7UyCzipQbyqLhq5Uv5Dh5ZwuD4OMSxou/PdlcvLjAuzrun9fHNIK7wfLl2wJp76Qkjq4SZBnS8x6UN0Rt5lj5GHvlgfLa+VKweOGaKpY8M2J4yDOhj8VobzuETIZNhW/8e2MGfE6zwEIz72As5Qd8XaCbDy2zKYIuTH5ptDiijhZTIgmnyJX67VaNUtPBSKPGKzUDIz0PmkLh75Vht4ykhOS1qn9/8WFvUUPA+r4XcyeHAwBRKOU8r5iSeSgbr2ADhhfciPlgxzzZfl1XOwlHpwsQWRy57/STpnR0uMGHvaIRPek+Zb/nfqIJ3LzVp2eVimwS+ndm+d9pCQbcXPle8S3D0DFBtsQF2umULbYFlPjlsI6cbgsrCLrR/B1ul0z9mO7TokvAWXQQ+6CH7BGSOpIgzWt6NHEjMz7wZFfxsHnXnrIp15jUduVLP/T1T7JPjm5JzlxMa3tR2ME7gCcZL1yzi3hmCCwe0Ul7ZJ8fhLlvRQ2X/FHtEUDOBIs0bEhh/nfs1Fj+ObeiKG36vt32eqzYXc7da1Sd2VDFglQClEksRoy+/Xs3+TUhumtq56x9SEuVPXYVcRAh8bUYpwYI/RwC3hh+18adF4xz5+LjKSG1vriH8Z9tkqniMQ03NTSNJZUtWOlVW9F5XG4JRw1VTdMyabnAI3H8H6WHv96pt4uirsL8FkgmH3boUoG6nA3Fbv20mFb3oVcjE8GM4aQ3+VZJQjc4scutwYr3HP/Z7yaItv6GM3JIJU+P7ijoFeKYquPID6Z5aJDV7K7o3Jun3XSamCLRNMigcwoH2kZJwZwHaA4hp6Qg4ag063AbsGYGlnbQADissQvyiVfyT7pH0Sm3o0UM4G6rcqVCAuKJtvq5VMX3hqrMyVleDxhc1Nf/zrVkp70H1LsPWSH3rNjYCbDHo9gDJ6JdheAl5JNOp1SRqLh8oGLGRH0hJGUEdTqMSuHWQwY3m7jsC4C6XKK5WIAPsZ/PV67cIDT4AJpZFvyHK7f3o8cMS7O/6blErtKLKLD99ziPOVP4nrWVqLd5H59QAapb6L9rBclgUiCGhzVhtuuZKz9LQ0/Thoko80vWuFhmz9GW2fdlUXh3dHggAmTv18DL+cHB+1Nli9mZpDiuw5RJddWRgWGfJPp+zk3hFhN8kHGDc7XFtQXvmIMyYwsiLl/3bBPON+pM4I3dodFPLpjmKQLIAJBr3rYnpca78ACuju1ZxTNfjPqMOH9Z1873XFW+FXllZDDw9NGSnEMAQXrFO+HLavoFLflEA3QIZLb4bxQ6IclhtxidwP7bM1K+lFw2R3n7nX4KzAFgwWkslvhvFDohyWG3GJ3A/tszUrXhW2hIJa0RJ/YSMx/wdO/cIIwvxBWK5SEno5Nzt/6ckvwNR0c7hH/9uefKyVaX6GcmzrcNJXnnau1h6k5pzKjhW9BGuiwt+IOl9s5zyb8PfNGNeqRHd31U5bEapNjBRoFnxWSYLII8TnaVEnlfuhGJFC+2S/wGerJn6l1Vb9xYEB1rI1yIxBxoAFhC71U0Qp5nYHtxoHLJGZ8hfQzoWM3Ml+sevHgz287/JuBQhf8wJQahhYxLhsVE5QJkfbKXpQrAxUs2i7rQ0JpkTJgpAbfSNrHGXqUwU7MWiWOLXdqogpfH5uTbvL8BYrdVwXd9H1A+FrERH3ymA1HcaLgYMnRiWZVtkE0J9WZ2AsLuukX8mSLGlxmS9ete/Zvr5augiGkuLGFMOfie6DNHU4UAKxZSy9/O5TGUVtruP8qEzEqzI6PE1L/rc2CLkRj9dF6lN/s92nqLrCb9Fl/yMcje+CAhF1RLJ0Q3y5CSo0bkNJY/ZY0AC0sspLMMNdpfK7rMvqVhehY8Fc8xQOWfqqHqyJEBW8vCDp4QXVDcPG+8EgsgJ/0K5/STtsUZBQ/mOqyDYI9vST4nhUgPIxJUbNr0eBpJjnyGAKGdUu5zZwY+NjdK2a6yrDDHUglfSwAWFS2j64VEGuErE5hel6N/mo3pr9Yj3AcDnwI38hHbbEFymbyAr1JTSz3xdXIL54+YSaxC2xG0bBA6q4Ny20ciFpXdzuS2tLIfMTQn6vILYIF5oA5lZ/s3lSGnrzg28mz15vGwvt"
						},
						"BrowserIp": {
							"type": "string",
							"default": "127.0.0.1"
						},
						"ServiceRequestVersion": {
							"type": "string",
							"default": "1.0"
						},
						"RegionCode": {
							"type": "string",
							"default": "US"
						}
					}
				},
				"Policy": {
					"type": "object",
					"properties": {
						"ProgramName": {
							"type": "string",
							"default": "Healthcare"
						},
						"PolicyType": {
							"type": "string",
							"default": "Individual"
						},
						"ZipCode": {
							"type": "string",
							"default": "35005"
						},
						"State": {
							"type": "string",
							"default": "AL"
						},
						"EffectiveDate": {
							"type": "string",
							"default": "2018-05-14"
						},
						"EventName": {
							"type": "string",
							"default": "PLICalculateRate"
						},
						"EventVersion": {
							"type": "string",
							"default": "2.2.2.1"
						},
						"ApplicableFromDate": {
							"type": "string",
							"default": "2018-05-14"
						},
						"NumOfProviders": {
							"type": "string",
							"default": "1"
						},
						"SharedOrSeparateLimit": {
							"type": "string",
							"default": "Shared"
						},
						"PLOrWLCoverageType": {
							"type": "string",
							"default": "Claims-Made"
						},
						"ProfessionalLiabilityLimitsOfInsurance": {
							"type": "string",
							"default": "$1M/$3M"
						},
						"WorkplaceLiabilityLimitsOfInsurance": {
							"type": "string",
							"default": "$2M/$6M"
						},
						"WorkplaceLiabilityInsurance": {
							"type": "string",
							"default": "Yes"
						},
						"CorporationOrPartnershipCoverage": {
							"type": "string",
							"default": "Yes"
						},
						"AdditionalInsuredCoverage": {
							"type": "string",
							"default": "Yes"
						},
						"EmploymentCategory": {
							"type": "string",
							"default": "Employed"
						},
						"TransitionFactor": {
							"type": "string",
							"default": "10"
						},
						"ProductNumber": {
							"type": "string",
							"default": "HC_PLI"
						},
						"ProductVerNumber": {
							"type": "string",
							"default": "2.0"
						},
						"ExpensesInsideOrOutside": {
							"type": "string",
							"default": "Inside"
						},
						"DeductibleAmount": {
							"type": "string",
							"default": "500"
						},
						"NumberOfClaimsinPast5Yrs": {
							"type": "string",
							"default": "2"
						},
						"TotalReportedIncurredLossandExpense": {
							"type": "string",
							"default": "200000"
						},
						"RetroDate": {
							"type": "string",
							"default": "Inception"
						},
						"Revenue": {
							"type": "string",
							"default": "2000000"
						},
						"ResidentialOrCommercialBusinessModifier": {
							"type": "string",
							"default": "10"
						},
						"ProjectSizeModifier": {
							"type": "string",
							"default": "10"
						},
						"WrittenContractsModifier": {
							"type": "string",
							"default": "10"
						},
						"RiskManagementModifier": {
							"type": "string",
							"default": "10"
						},
						"FinancialStrength": {
							"type": "string",
							"default": "10"
						},
						"UseofSubcontractors": {
							"type": "string",
							"default": "10"
						},
						"HistoryofDisciplinaryAction": {
							"type": "string",
							"default": "10"
						},
						"MergersandAcquisitions": {
							"type": "string",
							"default": "10"
						},
						"ExperienceofPrincipals": {
							"type": "string",
							"default": "10"
						},
						"ClientSize": {
							"type": "string",
							"default": "100"
						},
						"RequireSubstoShowProofOfEAndO": {
							"type": "string",
							"default": "10"
						},
						"RequireAandEstoShowProofOfEandO": {
							"type": "string",
							"default": "10"
						},
						"KYLocalGovernmentTaxRate": {
							"type": "string",
							"default": "20"
						},
						"KYLocalGovernmentTaxOverridden": {
							"type": "string",
							"default": "No"
						},
						"Provider": {
							"type": "array",
							"items": {
								"properties": {
									"ProviderDetail": {
										"type": "object",
										"properties": {
											"FirstName": {
												"type": "string",
												"default": "John"
											},
											"MiddleInitial": {
												"type": "string",
												"default": "E"
											},
											"LastName": {
												"type": "string",
												"default": "Doe"
											},
											"ProviderClass": {
												"type": "string",
												"default": "Athletic Trainer"
											},
											"ProfessionalAssociation": {
												"type": "string",
												"default": "Licensed"
											},
											"YearsOfPolicy": {
												"type": "string",
												"default": "1"
											},
											"YearsInPractice": {
												"type": "string",
												"default": "1"
											},
											"RiskManagementDiscount": {
												"type": "string",
												"default": "Yes"
											},
											"PatientCompensationFund": {
												"type": "string",
												"default": "No"
											},
											"HoursWorkPerWeek": {
												"type": "string",
												"default": "25"
											},
											"ScheduleRatingFactor": {
												"type": "string",
												"default": "25"
											},
											"ProviderEmailId": {
												"type": "string",
												"default": "john@gmail.com"
											},
											"MeetsStudentQualification": {
												"type": "string",
												"default": "Yes"
											},
											"UseofWrittenContractsFactor": {
												"type": "string",
												"default": "10"
											},
											"TrainingorEducationFactor": {
												"type": "string",
												"default": "10"
											},
											"ProfessionalReputationFactor": {
												"type": "string",
												"default": "10"
											},
											"NatureofOperationsFactor": {
												"type": "string",
												"default": "10"
											}
										}
										}
									}
								}
							}
						}
					},
					"OwnerId": {
						"type": "string",
						"default": "27"
					}
				}
			},
			"Rating_Success_Response": {
				"type": "object",
				"properties": {
					"messageDetail": {
						"type": "object"
					},
					"ResponseStatus": {
						"type": "string"
					},
					"Policy": {
						"type": "object"
					}
				}
			},
			"errorModel": {
				"type": "object",
				"required": [
					"RequestStatus",
					"MessageDetail"
				],
				"properties": {
					"RequestStatus": {
						"type": "string"
					},
					"MessageDetail": {
						"type": "object",
						"properties": {
							"MessageCode": {
								"type": "string"
							},
							"MessageType": {
								"type": "string"
							},
							"UserMessage": {
								"type": "string"
							},
							"MessageLevel": {
								"type": "string"
							},
							"MessageSeverity": {
								"type": "string"
							},
							"MessageList": {
								"type": "object",
								"properties": {
									"Message": {
										"type": "array",
										"items": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
