{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "Solartis Rate API for ISO-GL-V2",
		"description": "To get rate for General Liability from Solartis Rate API with ISO ERC."
	},
	"host": "isoglbkbv4-2.solartis.net",
	"basePath": "/DroolsV4_4/DroolsService/FireEventV3",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/FireEventV3": {
			"post": {
				"description": "Gets Rate for General Liability based on ISO ERC",
				"operationId": "getRates",
				"produces": [
					"application/json"
				],
				"parameters":[
				  {
						"name": "Token",
						"in": "header",
						"description": "Authentication Token",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "QeRXLmUY7xEFSHjHMcCuhauJEl+in5Huh0cS+CLndfy+4m82ZwGrPI58uSH0CYZs4cazG0Em3MQf73wuurBsEeFBdKaiqqfDvabmpEfprzsaw3Q7JHhb1ZEcyCvKND2i6jHI5gOlLpkmJNncsa5FKyUXN0vQkdFsMZckXUjZJOTwN/JZxZbU0Q0pwv/YW6dLcWqUL677bxWW3Suj2AgTmdIwOH0RaC5+E0qUpAAp+2thdJjkopHpT7/cguUUVxNTyKAjDhxHSfSyfeT75v2YN6qfBMiIR9Ry5sQhau90fAC6t9RxzN2iCnn1rTYZMlWjMCiG0yzK/Y9ryC0de83rpGMpmpA70JCx33fcSww89zJoGTgLhPT1LGW1Wickra244f9r0PJF9s/qPMXEUDYFUWmVHnqnu/iGbCzHex2+u5NTZT4XqXxrfxa3rxA6Y5BikR6a7ERwdiXHvaNQlmhS1Vlk4maL91KdL3Cd8tPsuE5cMQc9gwMOMr41v+IEJEehpZbfRQKLWrEKCj7RaIFDHcJJHZSNZteG5vSmHzzCiEdx2Kbl+7l1V6PtNJ6KAvSDABcx/sh3eqadipKV37dZcHw3Ylb65AeKiPLwOAJ3Sf11o+pMDxkZgGpVuoJmIELzYEqGNDO+MDPOLor3RIYPNZTPUZq4JlkVMVzNavSAfC0LOJPTp5Gx6RWz19oKb5pFkT40VSO99ym2a1nXgyz629zG1Mwjrzw+Ei+iOtazKzplbiSGNPBv9mKtbxWhlnRH6HzBcwp+i4x5xBtzPGfCBfqXFbE7HWV0W53OGz4s9mDW7TnQLJnygnry5esOj7JKUK1yj4mIsjGpIb8l/PjYX333NJbABtGboz9YZkDjE9mKG19A6JhRgkPJlObp1C2FHm69NeNsT+Emy9lcGKE39Bgvuz+Jkbfss1meINQ9nrf+QXypF4mn3PqWOv90nSLusvJ0E9tBEemiJoCH5IifmRgvuz+Jkbfss1meINQ9nrdB6fdxQtO0PpsPPo6xUNoyKzKQxu5GFmchkU0ulZ3JGLk3XEFDJ2sMiC4orFYMjpfOVXM7dAWLJYxFGIkB9yhdbHnqZk4HmXQ6EZrrFJpQkU8lIAmbsL3lMDrkYq/mlhtBm+UmQv+S0DH5FOO6wVBQ2kdvsaGk535QmgdKJoY4kk8kKk3qBLD/iRjudOpbH7iAEDfkZmDamKCmDoAVNYTbk61AhSx7XHAon/uG3Jbl9hIkquzLCG79PFGmsQF3qI8Q5O8pmync1rD1ekEwgc+XTh0qFa3PAEWPfjVaHpNpy7thrLOsHp4Yft8mCFQX5zoZFWg+ktiVvyaXLk1CHT9Q9E+hueOvUPyPTThxapYMXN2SF4YfzxQjWbNqC8byXxzw55ECUNlfLucfcYnHw0WYfm1XAPtUAdmaanWRBJ6yvZ8/upvipu33grsX8eE4JmcoAK5OQu1pJJXLrO3sBi27QQhukVAMOodkVW8JA9z6olOY+6z32vdo8KGMJWthl8tI28oPAkZefZxv33QDVMzHJBn5oDvyRJAulYnokHhtmbY/0pGQhciwCEXR8XdsrVZch4Vr1dC3pCTjxpiv4Diu8CSLPa/x/Pi8favKQC6rr4bj6tEuhMlD9EpI568R7J5uAm8sUqbTdGxjtpi6g+l0n0Ix7+8FGpgQiG/2Bi5d1F6SEw9Jf3g34hgp2yGwSIuWhu+4H8IdCjHbDMdVBu9P0n0m9L0OQ0j4RLBIhAlrNQIbXShqjKcHtezTTYyxyEczqSQozijghbtJ2rG02pJLNbEY33zKcgE7Ejpk1QXt/r5mWYeXsiaKEug2C8zbeEn6NSwOr9+tuaG5YOXi/dQKsbUDUr6ClSu1pzX4Dh7zPqmXBSUOLFnuKg+EB4gnS4JhM3RvYhUtapPubeem1sccOf1wEgxWl77bz+eWDydn9Q=="
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content Type",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "application/json"
					},
					{
						"name": "EventName",
						"in": "header",
						"description": "EventName",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "GL_RatingEvent_V1"
					},
					{
						"name": "Rating Request",
						"in": "body",
						"description": "For rating request",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"$ref": "#/definitions/Success_Response"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/errorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Request": {
		  "type":"object",
		  "properties":{
		    "ExpirationDate":{
		      "type": "string",
		      "default": "2020-02-01"
		    },
		    "County":{
		      "type": "string",
		      "default": "Borough of Richmond"
		    },
		    "State": {
		      "type": "string",
		      "default": "AL"
		    },
		    "GeneralLiability":{
		      "type":"array",
		      "items":{
		        "properties":{
		          "GeneralLiabilityLocation":{
		            "type":"array",
		            "items":{
		              "properties":{
		          "GeneralLiabilityDesignatedLocGeneralAggLimit":{
		            "type":"array",
		            "items":{
		              "properties":{
		                "ManualPremium":{
		                 "type": "string",
		                 "default": "0"
		                }
		              }
		            }
		          },
		          "OwnersContractorsTerritory":{
		            "type": "string",
		            "default": "999"
		          },
		          "State":{
		            "type": "string",
		            "default": "AL"
		          },
		          "UniqueIdentifier":{
		            "type": "string",
		            "default": ""
		          },
		          "ProdsCompldOpsBIDeductible":{
		            "type": "string",
		            "default":  "No Deductible"
		          },
		          "GeneralLiabilityDesignatedLocLiquorAggLimit": {
		            "type":"array",
		            "items":{
		              "properties":{
		                "ManualPremium":{
		                  "type": "string",
		                  "default": "0"
		                }
		            }
		            }
              },
              "PollutionTerritory":{
                "type": "string",
		            "default":"999"
		            },
          "TerrorismTerritory": {
            "type": "string",
            "default":"502"
            },
          "CertifiedActsOfTerrorismManhattan":{ 
            "type": "string",
            "default":"Yes"
            },
          "ProdsCompldOpsBIPDDeductible":{ 
             "type": "string",
            "default":"No Deductible"
            },
            "GeneralLiabilityExclAllHazardsInConnectionWithDesignatedPrem":{
              "type":"array",
              "items":{
              "properties":{
                 "ManualPremium":{
                   "type": "string",
                    "default":"0"
                 }
              }
              }
            },
            "PremOpsBIDeductible":{
             "type": "string",
            "default":"No Deductible"
            },
            "ZipCode":{
              "type": "string",
               "default":"35005"
            },
            "CertifiedActsOfTerrorismTerr":{
              "type": "string",
               "default":"Yes"
            },
            "ProdsCompldOpsPDDeductible":{
               "type": "string",
               "default":"No Deductible"
            },
            "GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalfDesignSitesOps":{
              "type":"array",
              "items":{
                "properties":{
                  "ManualPremium":{
                   "type": "string",
                    "default":"0"
                 }
                }
              }
            },
            "PremOpsBIPDDeductible":{
             "type": "string",
            "default":"No Deductible" 
            },
            "GeneralLiabilityAddlInsdMgrsLessorsPrem":{
             "type":"array",
             "items":{
               "properties":{
                 "GeneralLiabilityAddlInsdMgrsLessorsPremDetail":{
                   "type":"array",
                   "items":{
                     "properties":{
                       "ManualPremium":{
                         "type": "string",
                         "default":"0"
                       }
                     }
                   }
                 }
               }
             }
            },
             "LiquorDeductible":{
               "type": "string",
               "default":"500 Per Claim" 
             },
             "ProdsCompldOpsTerritory":{
               "type": "string",
               "default":"999"
             },
             "GeneralLiabilityExclExplosionCollapseUndrgrdPropDmgHazardSpecifiedOps":{
               "type":"array",
               "items":{
                 "properties":{
                   "ManualPremium":{
                     "type":"string",
                     "default":"0"
                   }
                 }
               }
             },
             "PremOpsPDDeductible":{
              "type":"string",
              "default":"No Deductible"
             },
             "GeneralLiabilityAddlInsdOwnersLesseesContrctrsCompldOpsLocLvl":{
              "type":"array",
              "items":{
                "properties":{
                  "GeneralLiabilityAddlInsdOwnersLesseesContrctrsCompldOpsLocLvlDetail":{
                   "type":"array",
                   "items":{
                "properties":{ 
                  "ManualPremium":{
                    "type":"string",
                     "default":"0"
                  }
                }
                   }
                  }
                }
              }
             },
             "LiquorLiabTerr":{
              "type":"string",
              "default":"" 
             },
             "ProductWithdrawalDeductible":{
                "type":"string",
                "default":"No Deductible"
             },
             "GeneralLiabilityExclExplosionCollapseUndrgrdPropDmgHazardSpecifiedOpsExcepted":{
               "type":"array",
               "items":{
                 "properties":{
                    "ManualPremium":{
                     "type":"string",
                     "default":"0" 
                    }
                 }
               }
             },
             "PremisesOperationsTerr":{
              "type":"string",
              "default":"" 
             },
             "GeneralLiabilityClassification":{
               "type":"array",
               "items":{
                 "properties":{
               "RailroadPremiumBasis": {
                 "type":"string",
                 "default":"Total Cost"
                 },
              "PremOpsBIDeductible":{
                "type":"string",
                "default":"No Deductible"
                },
              "GeneralLiabilityClassificationOwnersContractorsCoverage.ELPOverOneHundred":{
                "type":"string",
                "default":"10000"
                },
              "ProdsCompldOpsBIPDDeductibleFactorOverride":{
                "type":"string",
                "default":"0"
                },
              "LiquorExposureOnPremises": {
                 "type":"string",
                "default":"Yes"
                },
              "EDLClassCode": {
                 "type":"string",
                "default":"92900"
                },
              "ProductWithdrawalExposure": {
                 "type":"string",
                "default":"0"
                },
              "OwnersContractorsExposure": {
                 "type":"string",
                "default":"10000000"
                },
              "LeadIsResidentialRiskWithUnitsConstructedPrior1978": {
                "type":"string",
                "default":"No"
                },
              "StopGapIncrdLimitFactorOverride":{ 
               "type":"string",
               "default":"0"
              },
              "PremOpsPDDeductible":{
                 "type":"string",
                "default":"No Deductible"
                },
              "LiquorClassCode":{ 
                 "type":"string",
                "default":"59211"
              },
              "NumPassgrFreightTrains": {
                 "type":"string",
                "default":"21 - 40"
                },
              "IfAnyBasis": {
                 "type":"string",
                "default":"No"
                },
              "UniqueIdentifier":{ 
                 "type":"string",
                "default":""
              },
              "ProdsCompldOpsPremiumBasis":{
                 "type":"string",
                "default":"Total Cost"
                },
              "RiskLicensedOrCertifiedToUsePesticidesInComplianceWithTheStructuralPestControlAct": {
                 "type":"string",
                "default":""
                },
              "PremOpsBIDeductibleFactorOverride":{
                 "type":"string",
                "default":"0"
                },
              "GeneralLiabilityClassificationOwnersContractorsCoverage.ELPOverOneMillion":{ 
                 "type":"string",
                "default":"10000"
                },
              "ProdsCompldOpsCov":{
                 "type":"string",
                "default":"Products/Completed Operations"
                },
              "LiquorPremiumBasis":{
                 "type":"string",
                "default":"Gross Sales"
                },
              "EDLClassDescription": {
                 "type":"string",
                "default":"Payroll Exposure Basis"
                },
              "ProductWithdrawalPremiumBasis": {
                 "type":"string",
                "default":"Gross Sales"
              },
              "OwnersContractorsPremiumBasis": {
               "type":"string",
                "default":"Total Cost"
              },
              "LeadNumUnitsWithLOC": {
                 "type":"string",
                "default":"0"
                },
              "TotalCostWorkTrainsOrOtherRREquipmtAssigned":{
                 "type":"string",
                "default":""
                },
              "PremOpsPDDeductibleFactorOverride": {
                 "type":"string",
                "default":"0"
              },
              "LiquorClassDescription": {
                 "type":"string",
                "default":"Package stores,retail establishment selling alcohol for consumption off premises"
                },
              "ClassCode":{ 
                 "type":"string",
                "default":"10010"
              },
              "OtherThanProdsCompldOpsCov":{
                 "type":"string",
                "default":"Premises/Operations"
                },
              "IfAnyBasisProdsCompldOps":{
                 "type":"string",
                "default":"No"
                },
              "ProductWithdrawalCoverage":{
                 "type":"string",
                "default":"Products/Completed Operations"
                },
              "SpecialProtectiveHighwayClassCode":{
                 "type":"string",
                "default":""
                },
              "PremOpsBIPDDeductible":{
                 "type":"string",
                "default":"No Deductible"
                },
				 "GeneralLiabilityCanoesOrRowboats": { "type": "array","items":{"properties":
			                {
			                  "ManualPremium":{
								   "type": "string",
								   "default": "0"
			                }		              
						  }}},
			              "ProdsCompldOpsELPOverride": {
								   "type": "string",
								   "default":"0"
								   },
			              "LmtdProdsWithdrawalDeductibleFactorOverride": {
								   "type": "string",
								   "default":"0"
								   },
			              "EDLExposure": {
								   "type": "string",
								   "default":"99999"
								   },
			              "PublicOrPrivateSchool":{
								   "type": "string",
								   "default": ""
								   },
			              "PollutionClassCode": {
								   "type": "string",
								   "default":"90100"
								   },
			              "LeadNumUnitsWithLOIC": {
								   "type": "string",
								   "default":"0"
								   },
			              "USTClassCode":{
								   "type": "string",
								   "default": ""
								   },
			              "PremOpsPremiumBasis":{
								   "type": "string",
								   "default": "Total Cost"
								   },
			              "LiquorDedFactorOverride":{
								   "type": "string",
								   "default": "1"
								   },
			              "ClassDescription":{
								   "type": "string",
								   "default": "Contrctrs-sub work connctn w/street,highway constrctn,recons repair-not elevated"
								   },
			              "ProductWithdrawalDeductible":{
								   "type": "string",
								   "default": "No Deductible"
								   },
			              "OwnersContractorsClassCode":{
								   "type": "string",
								   "default": "15192"
								   },
			              "InjurySuprvsrInspctrsOtherEmpsCov":{
								   "type": "string",
								   "default": "Included"
								   },
			              "SpecialProtectiveHighwayClassDescription":{
								   "type": "string",
								   "default": ""
								   },
			              "PremOpsBIPDDeductibleFactorOverride":{
								   "type": "string",
								   "default": "0"
								   },	
                "GeneralLiabilitySnowplowOperationsCoverage":{
                  "type":"array",
                  "items":{
                    "properties":{
                      "ManualPremium":{
                        "type":"string",
                        "default":"0"
                      }
                    }
                  }
                },
                "ProdsCompldOpsExposure":{
                "type":"string",
                "default":"9500000"
                },
              "LmtdProdsWithdrawalPremium":{
                "type":"string",
                "default":""
                },
              "EDLPremiumRatingBase": {
                "type":"string",
                "default":"Payroll"
                },
              "RailroadClassCode": {
                "type":"string",
                "default":"40013"
                },
              "PollutionClassDescription": {
                "type":"string",
                 "default":"Pollution Liability Coverage Form"
                 },
              "LeadNumUnitsWithoutLOCorLOIC": {
                "type":"string",
                "default":"0"
                },
              "USTClassDescription": {
                "type":"string",
                "default":""
                },
              "ProdsCompldOpsBIDeductible": {
                "type":"string",
                 "default":"No Deductible"
                 },
              "LiquorDeductible": {
                "type":"string",
                "default":"500 Per Claim"
                },
              "ClimbingFacilityOperator": {
                "type":"string",
                "default":"No"
                },
              "ProductWithdrawalDeductibleFactorOverride": {
                "type":"string",
                "default":"0"
                },
              "OwnersContractorsClassDescription": {
                "type":"string",
                "default":"Principals Protective Liability-Liability To Independent Contractors-(Cov A)-NOC"
                },
              "SpecialProtectiveHighwayExposure": {
                "type":"string",
                "default":"0"
                },
              "PremOpsELPOverride": {
                "type":"string",
                "default":"0"
                },
                "GeneralLiabilityTerrorism": {
                  "type":"array",
                  "items":{
                    "properties":{
                  "PremisesOperationsTerritory": {
                    "type":"string",
                    "default":"503"
                    },
                  "Territory":{ 
                  "type":"string",
                  "default":"502"
                  }
                    }
                  }
              },
              "ProdsCompldOpsIncrdLimitTableAssignmentOverride": {
                "type":"string",
                  "default":"A"
                  },
              "MedPayCovForStud": {
                "type":"string",
                  "default":"No"
                  },
              "ElevatorContractorsClassCategory": {
                "type":"string",
                  "default":"Class I"
                  },
              "RailroadClassDescription": {
                "type":"string",
                "default":"State or Federal Highway Projects"
                },
              "PollutionExposure": {
                "type":"string",
                  "default":"9999"
                  },
              "USTExposure": {
                "type":"string",
                  "default":"0"
                  },
              "ProdsCompldOpsBIDeductibleFactorOverride": {
                "type":"string",
                  "default":"0"
                  },
              "LiquorELPOverride": {
                "type":"string",
                  "default":"10"
                  },
              "Contractor": {
                "type":"string",
                  "default":"Yes"
                  },
              "ProductWithdrawalELPOverride": {
                "type":"string",
                  "default":"0"
                  },
              "OwnersContractorsELPOverOneMillionOverride": {
                "type":"string",
                  "default":"10000"
                  },
              "LeadCovWithNoLetter": {
                "type":"string",
                  "default":"No"
                  },
              "PremOpsExposure": {
                "type":"string",
                  "default":"9500000"
                  },
              "SpecialProtectiveHighwayPremiumBasis": {
                "type":"string",
                  "default":""
                  },
              "EstdContractCostWORRHzd": {
                "type":"string",
                  "default":"20"
                  },
                   "GeneralLiabilityElevatorsContractors": {
                     "type":"array",
                     "items":{
                       "properties":{
                
                  "BodilyInjuryLimit": {
                    "type":"string",
                  "default":"1,000,000"
                  },
                  "PropertyDamageLimit": {
                    "type":"string",
                  "default":"500,000"
                  }
                     }
                     }
              },
              "ProdsCompldOpsPDDeductible": {
                 "type":"string",
                  "default":"No Deductible"
                  },
              "MiscIfAnyBasis": {
                 "type":"string",
                  "default":"No"
                  },
              "RailroadExposure": {
                 "type":"string",
                  "default":"100000"
                  },
              "PollutionPremiumBasis": {
                 "type":"string",
                  "default":"Number of Tanks"
                  },
              "USTPremiumBasis": {
                 "type":"string",
                  "default":""
                  },
              "ProdsCompldOpsBIPDDeductible": {
                 "type":"string",
                  "default":"No Deductible"
                  },
              "LiquorExposure": {
                 "type":"string",
                  "default":"1000000"
                  },
              "DriverEducationProvider": {
                 "type":"string",
                  "default":"No"
                  },
              "ProductWithdrawalExpensesAndLiabilityIncrdLimitTableAssignmentOverride": {
                 "type":"string",
                  "default":"0"
                  },
              "OwnersContractorsELPOverride": {
                 "type":"string",
                  "default":"1000"
                  },
              "PremOpsIncrdLimitTableAssignmentOverride": {
                 "type":"string",
                  "default":"N/A"
                  },
              "LimitedCovForPersonalAndAdvertisingInjury": {
                 "type":"string",
                  "default":"No"
                  },
              "SprayPainting": {
                 "type":"string",
                  "default":"No"
                  },
              "EstimatedContractCostRatio":{
                 "type":"string",
                  "default":"20"
                  },
                  "GeneralLiabilityMarylandChangesLiabilityForHazardsOfLeadClassLvl": {
                    "type":"array",
                    "items":{
                      "properties":{
                  "NumberOfUnitsDwellingBuilt1979After": {
                    "type":"string",
                    "default":""
                    },
                  "NumberOfUnitsDwellingBuilt1979Before":{
                    "type":"string",
                     "default":""
                  }
                }
                    }
              },
              "ProdsCompldOpsPDDeductibleFactorOverride": {
                 "type":"string",
                  "default":"0"
                  },
              "MunicipalityOperatesAFireDepartment": {
                 "type":"string",
                     "default":"Yes"
                     },
              "LeadConstructedPriorto1978PrimaFacieEvidenceofCompliance": {
                 "type":"string",
                     "default":"No"
                     },
              "LeadHaveAllPremisesConstructedInOrAfter1978": {
                 "type":"string",
                     "default":"Yes"
                     },
              "LeadNumberofUnitsLeadFree": {
                 "type":"string",
                     "default":"0"
                     },
              "LeadNumberofUnitsLeadMitigatedByIndependentClearanceInspection": {
                 "type":"string",
                     "default":"0"
                     },
              "LeadNumberofUnitsLeadMitigatedByPresumptiveCompliance": {
                 "type":"string",
                     "default":"0"
                     },
              "LeadNumberofUnitsLeadMitigatedByVisualInspection": {
                 "type":"string",
                     "default":"0"
                     },
              "LeadNumberofUnitsLeadSafe": {
                 "type":"string",
                     "default":"0"
                     },
              "LeadPredominateStatusOfLeadSafety":{
                 "type":"string",
                     "default":""
                     },
              "LeadPremisesConsideredLeadFree": {
                 "type":"string",
                     "default":"Yes"
                     },
              "LeadRentalPropertyDefinedinRhodeIslandGeneralLaws": {
                 "type":"string",
                     "default":"No"
              }
               }
               }
             },
             "LiquorLiabTerritory": {
             "type":"string",
              "default":"503"
              },
             "RailroadTerritory": {
               "type":"string",
               "default":"999"
               },
               "GeneralLiabilityLimitationOfCoverageToInsuredPremisesLocLvl": {
                 "type":"array",
                 "items":{
                   "properties":{
              "ManualPremium": {
                "type":"string",
              "default":"0"
              }
            }
                 }
          },
          "PremisesOperationsTerritory": {
            "type":"string",
              "default":"503"
          }
		         }
		          }
		          },
		          "GeneralLiabilityExclusionProductTampering": {
		            "type":"array",
		            "items":{
		              "properties":{
          "ManualPremium": {
            "type":"string",
              "default":"0"
          }
        }
		            }
      },
      "GeneralLiabilityExclMedPayCovInmatesPatientsPrisoners": {
        "type":"array",
        "items":{
        "properties":{
          "ManualPremium": {
            "type":"string",
              "default":"0"
          }
        }
        }
      },
      "GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimit": {
        "type":"array",
        "items":{
          "properties":{
          "GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimitDetail": {
            "type":"array",
            "items":{
              "properties":
            {
              "ManualPremium": {
                "type":"string",
              "default":"0"
              }
            }
            }
          }
        }
          
        }
      },
      "GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusWhenReqInConstrctnAgrmtWithYou": {
        "type":"array",
        "items":{
          "properties":
        {
          "ManualPremium": {
            "type":"string",
              "default":"0"
          }
        }
        }
      },
       "SRPLocationExposureOutsidePremisesPct": {
         "type":"string",
              "default":"4%"
              },
      "PollutionRetroactiveDate":{
        "type":"string",
          "default":"2019-01-01"
              },
          "GeneralLiabilityNewYorkChangesNonBindingArbitration": {
            "type":"array",
            "items":{
              "properties":
        {
          "ManualPremium": 
          {
            "type":"string",
          "default":"0"
          }
        }
            }
      },
      "ExperienceRatingApplies":{
         "type":"string",
          "default":"Yes"
        },
        "GeneralLiabilityIllinoisChangesAdditionalInsuredCityOfChicagoScaffolding": {
          "type":"array",
          "items":
          {
            "properties":
        {
          "ManualPremium": {
            "type":"string",
          "default":"0"
          }
        }
          }
      },
      "ERPExposuresOnSpecialUWBasisThirdLatestYearProdCompldOps": {
        "type":"string",
          "default":"1"
        },
        "GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWork": {
          "type":"array",
          "items":{
            "properties":
        {
          "GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWorkDetail": {
            "type":"array",
            "items":
            {
              "properties":
            {
              "ManualPremium": {
              "type":"string",
              "default":"0"
              }
            }
            }
          }
        }
          }
      },
      "GeneralLiabilityExclConstructionMngmtErrorsOmissions": {
        "type":"array",
        "items":{
          "properties":
        {
          "ManualPremium": 
          {
            "type":"string",
              "default":"0"
          }
        }
        }
      },
      "GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccs": {
        "type":"array",
        "items":
        {
          "properties":
        {
          "GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccsDetail": {
            "type":"array",
            "items":{
              "properties":
            {
              "ManualPremium": {
                "type":"string",
              "default":"0"
              }
            }
            }
        }
        }
        }
      },
      "YearInClaimsMade": {
        "type":"string",
         "default":"2"
         },
      "ProdsWithdrawalCoverage": {
        "type":"string",
        "default":"No"
        },
      "ZipCode": {
        "type":"string",
        "default":"35005"
        },
      "LiquorPropertyDamageCommonCauseLimit": {
        "type":"string",
       "default":"10,000"
       },
	   
	    "GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementLiquorClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium":  {
                "type":"string",
              "default":"0"
        }
      }}},
      "ERPSecondLatestYearYIP":  {
                "type":"string",
              "default":"3"},
      "SRPRiskRelativeDegreeOfExposurePct": 
	   {
                "type":"string",
              "default":"0%"},
      "CommercialPesticideApplicators":  {
                "type":"string",
              "default":""},
      "GeneralLiabilityProfessionalLiabExclWebSiteDesigners": { "type": "array","items":{"properties":
        {
          "ManualPremium": 
		   {
                "type":"string",
              "default":"0"
        }
      }}},
      "GeneralLiabilityHazardousMaterialContractors": { "type": "array","items":{"properties":
        {
          "ManualPremium": 
		   {
                "type":"string",
              "default":"0"
        }
      }}},
      "GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocation": { "type": "array","items":{"properties":
        {
          "ManualPremium": 
		   {
                "type":"string",
              "default":"0"
        }
      }}},
		"GeneralLiabilityAddlInsdDesigntdPersonOrg": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdDesigntdPersonOrgDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":  {
                "type":"string",
                "default":"0"
            }
          }}}
        }
      }},
      "SRPClassificationPct": {
                "type":"string",
                "default":"0%"},
      "PackagePolicy": {
                "type":"string",
                "default":"No"},
      "GeneralLiabilityChangesNonBindingArbitration": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "EachPersonLossOfMeansOfSupportLimit": {
                "type":"string",
                "default":"25,000"},
      "GeneralLiabilityInsuredsConsentToExcessRate": { "type": "array","items":{"properties":
        {
          "ExcessRatedPremium": {
                "type":"string",
                "default":"0"},
          "ManualRatedPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisLatestYearProdCompldOps": {
                "type":"string",
                "default":"1"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndtProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedFungiOrBacteriaCoverage": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"},
          "FungiBacteriaLiabAggregateLimit": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionOfCertifiedActsOfNuclearBiologicalChemicalActsTerrorismCapOnLossesFromCertifiedActs": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclFinancialServ": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityConstrctnProjMngmtProtvLiabCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "PremOpsProdsRetroactiveDate": {
                "type":"string",
                "default":"2019-01-01"},
      "LeadIsMultiplePremieseRiskConstructedBefore1978AndInOrAfter1978": {
                "type":"string",
                "default":""},
      "SRPReductionInExpensesPct": {
                "type":"string",
                "default":"0%"},
      "ERPPeriodEnds6MonthsPrior": {
                "type":"string",
                "default":"Yes"},
      "GeneralLiabilityWaiverTransferRightsRecovery": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityPollutionExclLimitedExceptionShortTermEvent": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExtendedReportingPeriodEndtForEmpBenefitsLiabCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclProductsProfessionalServicesOpticalHearingAidEstablishments": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityEmploymentRelatedPracticesExclusion": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmndmtOfCovTerrWorldwideCovWithSpecdExcptns": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},        
				
		      "TRIAExtended": {
                "type":"string",
                "default":"No"},
      "ERPYearsOfExperienceIncurred": {
                "type":"string",
                "default":"3"},
      "GeneralLiabilityStructuralPesticideApplicators": { "type": "array","items":{"properties":
        {
          "BIEachOccurrenceLimit": {
                "type":"string",
                "default":"500,000"},
          "PDEachOccurrenceLimit": {
                "type":"string",
                "default":"500,000"
        }
      }}},
      "ERPActualExpectedLossRatio": {
                "type":"string",
                "default":""},
      "GeneralLiabilitySilicaOrSilicaRelatedDustExclusionPremOpsProds": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedCovForDesignatedUnmannedAircraft": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclYear2000ComputerReltdOtherElectronicProblemsWithExceptionForBIOnYourPrem": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclDesignatedProfessionalServices": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityCollegeSchool": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityDamageToPremisesRentedToYouCoverage.LimitGovernmentalSubdivision": {
                "type":"string",
                "default":""},
      "RailroadCoverageForm": {
                "type":"string",
                "default":"Occurrence"},
      "OwnersContractorsAggregateLimit": {
                "type":"string",
                "default":"50,000"},
      "GeneralLiabilityStateChangesSupplementalExtendedReportingPeriodEndorsement": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityNonBindingArbitration": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionUnmannedAircraft": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclMedPayToChildrenDayCareCenters": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityDruggistsBroadenedCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrg": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrgDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium": {
                "type":"string",
                "default":"0"
            }
          }}}
        }
      }},
      "SRPPremisesPct": {
                "type":"string",
                "default":"0%"},
      "PremOpsBIDeductible": {
                "type":"string",
                "default":"No Deductible"},
      "GeneralAggregateLimit": {
                "type":"string",
                "default":"200,000 CSL"},
      "GeneralLiabilityIllinoisChangesContractorsHomeRepairAndRemodeling": { "type": "array","items":{"properties":
        {
          "Deductible":{
                "type":"string",
                "default": "0"
        }
      }}},
      "ERPLatestYearEffectiveDate": {
                "type":"string",
                "default":"2011-08-01"},
      "GeneralLiabilityTotalPollutionExclusionProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocationProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclDamageToPremRentedToYou": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmndmtTravelAgencyToursLimitationOfCov": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "multistate": {
                "type":"string",
                "default":"No"},
      "ProductWithdrawalCoverageType":{
                "type":"string",
                "default": "Expense"},
      "LiquorRetroactiveDate": {
                "type":"string",
                "default":"2019-01-01"},
      "GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementPremOpsProdsCompldOpsClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "ERPThirdLatestYearEffectiveDate": {
                "type":"string",
                "default":"2009-08-01"},
      "GeneralLiabilityAlaskaChangesAttorneysFeesPolLvl": { "type": "array","items":{"properties":
        {
          "Limit": {
                "type":"string",
                "default":""
        }
      }}},
      "CondominiumAssociation":{
                "type":"string",
                "default": "No"},
      "GeneralLiabilityProflLiabExclSpasOrPersonalEnhancementFacilities": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityInsuredSiteDefinition": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityContractualLiabLimitation": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsd": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsdDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "SRPCooperationMedicalFacilitiesPct": {
                "type":"string",
                "default":"0%"},
      "PerPersonLimit": {
                "type":"string",
                "default":"100,000"},
      "SRPEmployeesSelectionPct": {
                "type":"string",
                "default":"3%"},
      "EachPollutionIncidentLimit": {
                "type":"string",
                "default":"100,000"},
      "GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesOwnersContractorsProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisPremOpsCurrent":{
                "type":"string",
                "default": "1"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocations": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclusionOfCertifiedActsOfTerrorism": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclFuneralServ": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "TRIPTerminatesBeforeExpirationDate": {
                "type":"string",
                "default":"No"},
      "PremiumDiscountPercentage": {
                "type":"string",
                "default":"0"},
      "LeadWishToPurchaseCoverageForPremisesCertifiedAsLeadFree": {
                "type":"string",
                "default":""},
      "GeneralLiabilityPollutantsDefinitionAmendment": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "ERPSecondLatestYearEffectiveDate": {
                "type":"string",
                "default":"2010-08-01"},
      "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclDesigntdLocsOpsProdsSrvcs": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "AggregateLimit": {
                "type":"string",
                "default":"600,000"},
      "GeneralLiabilityPollutionExclNamedPerilLimitedExcptnShortTermPollutionEvent": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExtendedReportingPeriodForTerrorismCoverage": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclProfessionalServicesBloodBanks": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityEmploymentRelatedPracticesExclusionOwnersContrctrsPollution": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAmndmtOfLimitsOfIns": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityStateChangesSupplementalExtendedReportingPeriodEndorsementForPollutionLiability": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "EachCommonCauseBodilyInjuryLimit": {
                "type":"string",
                "default":"100,000"},
      "GeneralLiabilityColoradoAmendmentOfSectionVExtendedReportingPerSpecificAccidentsProdsWorkOrLocClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "ERPDramaticChangeOnExposure": {
                "type":"string",
                "default":"No"},
      "GeneralLiabilitySilicaOrSilicaRelatedDustExclusionRailroad": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovAOnly": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInfoAndDataRelatedLiabLmtdBIExcptnNotInclddCGL": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclDesignatedWork": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityCollegeSchoolLimitedForm": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityMedPayCoverage.Limit": {
                "type":"string",
                "default":"5,000"},
      "RailroadEachOccurrenceLimit":{
                "type":"string",
                "default": "50,000"},
      "OwnersContractorsCoverageForm": {
                "type":"string",
                "default":"Occurrence"},
      "GeneralLiabilityUndergroundResourcesAndEquipmtCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityOpticalHearingAidEstablishments": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionUnmannedAircraftCovAOnly": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclNewEntities": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityEarlierNoticeOfCancellationProvidedByUs": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAddlInsdVendors": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdVendorsDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium": {
                "type":"string",
                "default":"0"
            }
          }}}
        }
      }},
      "ScheduleRatingModificationApplies": {
                "type":"string",
                "default":"Yes"},
      "PremOpsBIPDDeductible": {
                "type":"string",
                "default":"No Deductible"},
      "GeneralAggregateLimitGovernmentalSubdivision": {
                "type":"string",
                "default":"200,000"},
      "GeneralLiabilityMassachusettsResidentialFuelTankCoverage": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "ERPLatestYearLatestValuationDate": {
                "type":"string",
                "default":"2013-02-01"},
      "GeneralLiabilityExclTestingConsultingErrorsOmissions": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalf": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityBindingArbitration": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityCompositeRating.CompositeExposure": {
                "type":"string",
                "default":"1"},
      "ProductWithdrawalDeductible": {
                "type":"string",
                "default":"No Deductible"},
      "LiquorWrittenWithSubLimits": {
                "type":"string",
                "default":"Yes"},
      "GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementProdsCompldOpsClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "ERPThirdLatestYearLatestValuationDate": {
                "type":"string",
                "default":"2013-02-01"},
      "GeneralLiabilityChangesAttorneysFeesProductWithdrawalEDL": { "type": "array","items":{"properties":
        {
          "Limit": {
                "type":"string",
                "default":""
        }
      }}},
      "DoesThisRiskOperateScaffoldBuildingsInChicagoThatRequirePermit": {
                "type":"string",
                "default":"No"},
      "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGermin": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLawnCareServicesCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityContractualLiabRailroads": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAddlInsdGrantorFranchise": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdGrantorFranchiseDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "SRPCooperationSafetyProgramPct": {
                "type":"string",
                "default":"0%"},
      "PerPersonLimitOtherThanPD": {
                "type":"string",
                "default":"287,000"},
      "SRPEmployeesTrainingPct": {
                "type":"string",
                "default":"3%"},
      "ElevatorContractor": {
                "type":"string",
                "default":"No"},
      "GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesPremOpsProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisProdCompldOpsCurrent": {
                "type":"string",
                "default":"1"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocsProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedPollutionLiabExtensionEndt": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionOfNewlyAcquiredOrganizationsAsInsureds": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclInjuryToVolunteerFirefighters": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "TerrorismCoverage": {
                "type":"string",
                "default":"No"},
      "ProdsCompldOpsAggregateLimit":{
                "type":"string",
                "default": "200,000 CSL"},
      "LiquorCoverageForm": {
                "type":"string",
                "default":"Occurrence"},
      "GeneralLiabilityNorthCarolinaExtendedReportingPeriodEndorsementPollutionLiab": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "ERPSecondLatestYearLatestValuationDate": {
                "type":"string",
                "default":"2013-03-01"},
      "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "AnnualRevenue":{
                "type":"string",
                "default": ""},
      "GeneralLiabilityPollutionLiabCovExtension": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityFinancialInstitutionsRptgProvisionLmtnToFiduciaryOrRepInterest": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclProfessionalVeterinarianServices": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExcessProvisionVendors": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmndmtOfLiquorLiabExcl": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "OwnersContractorsEachOccurrenceLimit":{
                "type":"string",
                "default": "25,000"},
      "GeneralLiabilityStateChangesVolunteerWorkersExclusion": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "EachCommonCauseLimit": {
                "type":"string",
                "default":"500,000"},
      "GeneralLiabilityChangesExtendedReportingPeriodForEmployeeBenefitsLiabilityCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "ERPExpenseVariationApplies": {
                "type":"string",
                "default":"No"},
      "GeneralLiabilityStevedoringOperations": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovBOnly": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInformationCovBOnly": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"},
          "ExposureBasis": {
                "type":"string",
                "default":""
        }
      }}},
      "GeneralLiabilityExclDiagnosticTestingLabs": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityCommunicableDiseaseExclusion": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityTerrorismEndorsementCoverage.CertifiedActsofTerrorismExposureClassFactorOverride":{
                "type":"string",
                "default": "0"},
      "ERPLatestYearTotalIncludedLoss": {
                "type":"string",
                "default":"0"},
      "GeneralLiabilityVoluntaryCleanUpCostsReimbursement": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityPersonalInjuryLiab": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionUnmannedAircraftCovBOnly": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclOilGasProducingOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityEarlierNoticeOfCancellationProvidedByUsOwnersContractors": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmendmentOfInsuredContractDefinition": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "State": {
                "type":"string",
                "default":"AL"},
      "PremOpsPDDeductible": {
                "type":"string",
                "default":"No Deductible"},
      "GovernmentalSubdivision":{
                "type":"string",
                "default": "No"},
      "GeneralLiabilityMassachusettsResidentialFuelTankCoverageSeparateDefenseLimit": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLimitationOfCovToDesignatedPremOrProject": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclUndergroundStorageTankIncidents": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                "type":"string",
                "default": "0"
        }
      }}},		
	   	 "GeneralLiabilityExclDescribedHazardsCarnivalsCircusesFairs": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityBoats": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityCompositeRating.CompositeRating":{
                 "type":"string",
                "default": "No"},
      "ProductWithdrawalParticipationPercentage": {
                 "type":"string",
                "default":"0"},
      "LossSupportPerInjuredPerson":{
                 "type":"string",
                "default": "84,061.32"},
      "GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementUST": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPThirdLatestYearTotalIncludedLoss":{
                 "type":"string",
                "default": "1000"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndtElectronicDataLiability": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "DoesThisRiskOperateScaffolds": {
                 "type":"string",
                "default":"No"},
      "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotIncldd": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclIntercompanyProductsSuits": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCovForInjuryLeasedWorkers": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAddlInsdLessorLeasedEquipmt": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdLessorLeasedEquipmtDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                 "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "SRPEmployeesPct": {
                 "type":"string",
                "default":"3%"},
      "PerPersonLimitPD":{
                 "type":"string",
                "default": "68,777.44"},
      "SRPPremisesCarePct":{
                 "type":"string",
                "default": "0%"},
      "ElevatorContractorLimitTypeSplitLimit":{
                 "type":"string",
                "default": "No"},
      "GeneralLiabilityAmendmentOfDefinitionOfPollutants": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisSecondLatestYearPremOps":{
                 "type":"string",
                "default": "1"},
      "GeneralLiabilityTotalPollutionExclEndt": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLimitedProductWithdrawalExpenseEndtPolLvl": { "type": "array","items":{"properties":
        {
          "AggregateLimit":{
                 "type":"string",
                "default": "1,000,000"},
          "Deductible":{
                 "type":"string",
                "default": "No Deductible"},
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclusionOfPunitiveDamagesRelatedToACertifiedActOfTerrorism": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivs": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium": {
                 "type":"string",
                "default":"0"
            }
          }}}
        }
      }},
      "USTAggregateLimit": {
                 "type":"string",
                "default":""},
      "ProdsCompldOpsBIDeductible": {
                 "type":"string",
                "default":"No Deductible"},
      "LiquorDeductible":{
                 "type":"string",
                "default": "500 Per Claim"},
      "GeneralLiabilityNorthCarolinaExtendedReportingPeriodEndorsementPollutionLiabLimited": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "ERPSecondLatestYearTotalIncludedLoss":{
                 "type":"string",
                "default": "91250"},
      "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOption": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOptionDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                 "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "ByLawsCreatedOrAmendedOnOrAfterDate":{
                 "type":"string",
                "default": "Yes"},
      "GeneralLiabilityPrimaryAndNoncontributoryOtherInsuranceCondition": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityFungiOrBacteriaExclusion": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclRiotCivilCommotionMobActionGovtSubdivision": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclAdultDayCareCenters": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityNewJerseyChangesCoverageAndExclusionLiabilityForHazardsLeadMultiplePremises": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "EachCommonCauseLossOfMeansOfSupportLimit": {
                 "type":"string",
                "default":"100,000"},
      "GeneralLiabilityChangesExtendedReportingPeriodForPremOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPExperienceModificationAllOtherSublines": {
                 "type":"string",
                "default":"0"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndorsementCG3057": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedExclContractorsProfessionalLiab": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsOwnersContractors": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclEmployeesAndVolunteerWorkersAsInsureds": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCommunicableDiseaseExclusionProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAbuseMolestationExcl": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "RetroactiveDateApplies":{
                 "type":"string",
                "default": "No"},
      "GeneralLiabilityInspectionAgenciesBoilerAndPressureVesselUnits": { "type": "array","items":{"properties":
        {
          "BIEachOccurrenceLimit": {
                 "type":"string",
                "default":"500,000"},
          "PDEachOccurrenceLimit":{
                 "type":"string",
                "default": "100,000"
        }
      }}},
      "ERPLatestYearTypeOfPolicy": {
                 "type":"string",
                "default":"Claims Made"},
      "GeneralLiabilityWaiverCharitableImmunity": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityPesticideOrHerbicideApplicatorCov": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclusionUnmannedAircraftOwnersAndContractors": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclPersonalAdvertisingInjury": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityElectronicDataLiabEndt": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"},
          "ExposureBasis": {
                 "type":"string",
                "default":""
        }
      }}},
      "GeneralLiabilityAmendmentOfPersonalAndAdvertisingInjuryDefinition": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "StopGap":{
                 "type":"string",
                "default": "No"},
      "PremOpsProdsCoverageForm": {
                 "type":"string",
                "default":"Claims Made"},
      "IncidentLimit": {
                 "type":"string",
                "default":"25,000"},
      "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotInclddProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLimitationOfCoverageForTerrorismSubLimitAnnualAggregateBasis": { "type": "array","items":{"properties":
        {
          "AggregateLimit":{
                 "type":"string",
                "default": "200,000"},
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclVolunteerWorkers": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclDesignatedOngoingOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCapOnLossesFromCertifiedActsOfTerrorism": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCompositeRating.CompositeRatingExposureBasis":{
                 "type":"string",
                "default": "Gross Sales"},
      "ProductsWithdrawalAggregateLimit":{
                 "type":"string",
                "default": "1,000,000"},
      "ManufacturedHomeInstaller":{
                 "type":"string",
                "default": "No"},
      "GeneralLiabilityStopGapEmployersLiabilityCoverageEndorsementPolLvl": { "type": "array","items":{"properties":
        {
          "LimitBodilyInjuryByAccident":{
                 "type":"string",
                "default": ""},
          "LimitBodilyInjuryByDiseaseAggregate": {
                 "type":"string",
                "default":""},
          "LimitBodilyInjuryByDiseaseEachEmployee":{
                 "type":"string",
                "default": ""},
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "ERPThirdLatestYearTypeOfPolicy": {
                 "type":"string",
                "default":"Claims Made"},
      "GeneralLiabilityChangesExtendedReportingPeriodForElectronicDataLiability": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "DoesThisRiskPerformHomeRepairAndRemodeling": {
                 "type":"string",
                "default":"No"},
      "GeneralLiabilityExclInternetServicePrvdrsAndInternetAccessPrvdrsErrorsOmissions": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCovForInjuryLeasedWorkersUndergroundStorageTanks": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAddlInsdLessorOfLeasedEquipmtAutomtcStatusWhenReqdInLeaseAgrmtWithYou": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "SRPEquipmentPct":{
                 "type":"string",
                "default": "0%"},
      "PollutionAggregateLimit":{
                 "type":"string",
                "default": "200,000"},
      "SRPPremisesConditionPct":{
                 "type":"string",
                "default": "0%"},
      "ExistenceHazardAggregateLimit": {
                 "type":"string",
                "default":""},
      "GeneralLiabilityAmendmentOfDefinitionOfPollutantsRailRoadCov": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisSecondLatestYearProdCompldOps": {
                 "type":"string",
                "default":"1"},
      "GeneralLiabilityTotalPollutionExclWithABldgHeatgEquipmtExcptnHostileFireExcptn": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedTerrorismExclOtherThanCertifiedActsOfTerrorismCapOnLossesFromCertifiedActsOfTerrorism": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionOfTerrorismNuclearBiologicalChemicalTerrorism": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "UndergroundStorageTankRetroactiveDate":{
                 "type":"string",
                "default": "2019-01-01"},
      "ProdsCompldOpsBIPDDeductible":{
                 "type":"string",
                "default": "No Deductible"},
      "LiquorEachCommonCauseOtherPecuniaryLossLimit":{
                 "type":"string",
                "default": "100,000"},
      "GeneralLiabilityNorthCarolinaSupplementalExtddRptgPerEndtSpecificAccsProdsWorkLocsPremOpsProdsCompldOpsClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPSecondLatestYearTypeOfPolicy": {
                 "type":"string",
                "default":"Claims Made"},
      "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOps": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOpsDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                 "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "CPPGoverningState": {
                 "type":"string",
                "default":""},
      "GeneralLiabilityPrincipalsProtectiveLiabCov": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"},
          "WorkersCompensationRate": {
                 "type":"string",
                "default":".0001"
        }
      }}},
      "GeneralLiabilityFungiOrBacteriaExclusionOwnersContractorsProductsCompleted": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclRollingStockRailroadConstruction": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclAthleticSportsParticipants": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "RiskType":{
                 "type":"string",
                "default": "Motel/Hotel"},
      "PackageModEligibility": {
                 "type":"string",
                "default":""},
      "GeneralLiabilityNewJerseyChangesCoverageForLiabilityForHazardsLeadWithoutSublimitPolLvl": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "EachElectronicDataIncidentLimit": {
                 "type":"string",
                "default":""},
      "GeneralLiabilityChangesExtendedReportingPeriodForProdCompldOpsLiab": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPExperienceModificationOverride":{
                 "type":"string",
                "default":"0"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndt": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLimitedExclDesignatedOpsCovByConsolidatedWrapUpInsProgram": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsPremOpsProds": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclExistenceOrMaintenanceOfStreetsRdsHwysOrBridges": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityConditionalExclusionOfTerrorismNuclearBiologicalChemicalDispositionOfAct2002": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAbuseOrMolestationExclusionSpecifiedProfessionalServices": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "InspectionAgenciesPerformBoilerPressureVesselInspection": {
                 "type":"string",
                "default":"No"},
      "GeneralLiabilityElevatorsContractorsAndInspectorsChangesCancellationAndSplitLimitsOfInsurance": { "type": "array","items":{"properties":
        {
          "BodilyInjuryLimit":{
                 "type":"string",
                "default": ""},
          "PropertyDamageLimit":{
                 "type":"string",
                "default": ""
        }
      }}},
      "ERPLatestYearWithSameCarrier":{
                 "type":"string",
                "default": "Yes"},
      "GeneralLiabilityWaiverGovernmentalImmunity": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityPesticideOrHerbicideApplicatorCovOwnersContractors": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExtendedReportingPeriodEndorsementForElectronicDataLiabilityCoverage": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclProductsCompletedOperationsHazard": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityElectronicDataLiabilityCoverageForm": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAmndmtOfCovTerrAddlSchddCountries": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAmndmtOfCovTerrAddlSchddCountriesDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                 "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "Subline":{
                 "type":"string",
                "default": "Premises/Operations and Products/Completed Operations"},
      "PremOpsProdsEachOccurrenceLimit": {
                 "type":"string",
                "default":"100,000 CSL"},
      "EDLAggregateLimit":{
                 "type":"string",
                "default": ""},
      "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLimitedContractualLiabCovPersonalAdvertisingInj": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},	
		      "GeneralLiabilityExclYear2000ComputerReltdElectronicProblems": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default":  "0"
        }
      }}},
      "GeneralLiabilityExclDesignatedOpsCovByConsolidatedWrapUpInsProgramPolLvl": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismPremOps": { "type": "array","items":{"properties":
        {
          "AggregateLimit": {
                 "type":"string",
                "default": "100,000"},
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCompositeRating.CompositeRatingExposureBasisOverride":{
                 "type":"string",
                "default": "0"},
      "RadonMeasurementAndMitigationContractors":{
                 "type":"string",
                "default": "No"},
      "NumberOfEmployees":{
                 "type":"string",
                "default": ""},
      "GeneralLiabilityStateAmndmtOfLiquorLiabExclExcptnScheddActivs": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityStateAmndmtOfLiquorLiabExclExcptnScheddActivsDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium":{
                 "type":"string",
                "default": "0"
            }
          }}}
        }
      }},
      "ERPThirdLatestYearWithSameCarrier": {
                 "type":"string",
                "default": "Yes"},
      "GeneralLiabilityChangesExtendedReportingPeriodUST": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclusionProductReplacementRepairOrRepurchase": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityExclLawEnforcementActivities": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityCoverageExtensionCoverageAProductRestorationExpense": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusForOtherPartiesWhenReqInConstrctnAgrmt": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default": "0"
        }
      }}},
      "SRPLocationExposureInsidePremisesPct":{
                 "type":"string",
                "default":"0%"},
      "PollutionCleanUpCoverage":{
                 "type":"string",
                "default": "No"},
      "GeneralLiabilityNewYorkChangesBindingArbitration": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ExperienceBusinessStartDate":{
                 "type":"string",
                "default": "2009-08-01"},
      "GeneralLiabilityExtendedReportingPeriodEndorsementPollutionLiabilityLimited": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisThirdLatestYearPremOps": {
                 "type":"string",
                "default":"1"},
      "GeneralLiabilityTotalPollutionExclWithAHostileFireExcptn": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLiquorLiab": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"},
          "LiquorClassCode":{
                 "type":"string",
                "default": ""
        }
      }}},
      "GeneralLiabilityExclBodilyInjuryToRailroadPassengers": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityAmndmtOfLiquorLiabExclProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "ProdsCompldOpsPDDeductible": {
                 "type":"string",
                "default":"No Deductible"},
      "LiquorEachPersonOtherPecuniaryLossLimit":{
                 "type":"string",
                "default": "50,000"},
      "GeneralLiabilityNorthCarolinaSupplementalExtddRptgPerEndtSpecificAccsProdsWorkLocsProdsCompldOpsClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "ERPSecondLatestYearWithSameCarrier":{
                 "type":"string",
                "default": "Yes"},
      "SRPMedicalFacilitiesandSafetyProgramPct": {
                 "type":"string",
                "default":"0%"},
      "CPPIRPMFactor": {
                 "type":"string",
                "default":"1"},
      "GeneralLiabilityProfessionalLiabExclElectronicDataProcgSrvcCompuConsultingProgrammingSrvc": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityGovernmentalSubdivisions": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclSalineSubstancesContamination": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAddlInsdConcessionaires": { "type": "array","items":{"properties":
        {
          "GeneralLiabilityAddlInsdConcessionairesDetail": { "type": "array","items":{"properties":
            {
              "ManualPremium": {
                 "type":"string",
                "default":"0"
            }
          }}}
        }
      }},
      "RisksLicensedOrCertifiedToUsePesticidesInCompliance": {
                 "type":"string",
                "default":"No"},
      "PackageModFactor": {
                 "type":"string",
                "default":"1"},
      "GeneralLiabilityChangesBindingArbitration": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "EachPersonBodilyInjuryLimit": {
                 "type":"string",
                "default":"50,000"},
      "GeneralLiabilityConnecticutExtendedReportingPeriodEndorsementPollutionLiabLimited": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "ERPExposuresOnSpecialUWBasisLatestYearPremOps": {
                 "type":"string",
                "default":"1"},
      "GeneralLiabilitySupplementalExtendedReportingPeriodEndtLiquorLiab": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityLimitedExclPersonalAdvertisingInjLawyers": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclFiduciaryOrRepLiabOfFinclInstitutions": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityConditionalLimitationOfCoverageTerrorismSublimitAnnualAggregateTerrorismAct2002": { "type": "array","items":{"properties":
        {
          "AggregateLimit": {
                 "type":"string",
                "default":"100,000"},
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "LeadHaveAllPremisesConstructedInOrAfter1978": {
                 "type":"string",
                "default":""},
      "GeneralLiabilityMontanaExtendedReportingPeriodEndorsementEmployeeBenefitsLiabilityCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "ERPLatestYearYIP": {
                 "type":"string",
                "default":"2"},
      "GeneralLiabilityWaiverOfTransferOfRightsOfRecoveryAgainstOthersToUsOwnersContrctrs": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityPollutionExclLimitedExceptionForDesigntdPollutants": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExtendedReportingPeriodEndt": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityExclProductsProfessionalServicesDruggists": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityEmployeeBenefitsLiabCovClaimsMade": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "GeneralLiabilityAmndmtOfCovTerrWorldwideCov": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "TRIAExpirationDate": {
                 "type":"string",
                "default":"2019-01-01"},
      "PremOpsProdsEachOccurrenceLimitGovernmentalSubdivision": {
                 "type":"string",
                "default":"100,000"},
      "GeneralLiabilityExtendedReportingPeriodEndorsementPollutionLiability": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
                "default":"0"
        }
      }}},
      "EDLRetroactiveDate": {
                 "type":"string",
                "default":"2019-01-01"},
      "GeneralLiabilitySilicaOrSilicaRelatedDustExclusionOwnersContractorsProdsCompldOps": { "type": "array","items":{"properties":
        {
          "ManualPremium":{
                 "type":"string",
                "default": "0"
        }
      }}},
      "GeneralLiabilityLimitedContractualLiabilityRailroads": { "type": "array","items":{"properties":
        {
          "ManualPremium": {
                 "type":"string",
[...]
