{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "Solartis Rate API for ISO-GL-V2",
		"description": "To get rate for General Liability from Solartis Rate API with ISO ERC."
	},
	"host": "isoglbkbv4-2.solartis.net",
	"basePath": "/DroolsV4_4/DroolsService/FireEventV3",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/FireEventV3": {
			"post": {
				"description": "Gets Rate for General Liability based on ISO ERC",
				"operationId": "getRates",
				"produces": [
					"application/json"
				],
				"parameters":[
				  {
						"name": "Token",
						"in": "header",
						"description": "Authentication Token",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "QeRXLmUY7xEFSHjHMcCuhauJEl+in5Huh0cS+CLndfy+4m82ZwGrPI58uSH0CYZs4cazG0Em3MQf73wuurBsEeFBdKaiqqfDvabmpEfprzsaw3Q7JHhb1ZEcyCvKND2i6jHI5gOlLpkmJNncsa5FKyUXN0vQkdFsMZckXUjZJOTwN/JZxZbU0Q0pwv/YW6dLcWqUL677bxWW3Suj2AgTmdIwOH0RaC5+E0qUpAAp+2thdJjkopHpT7/cguUUVxNTyKAjDhxHSfSyfeT75v2YN6qfBMiIR9Ry5sQhau90fAC6t9RxzN2iCnn1rTYZMlWjMCiG0yzK/Y9ryC0de83rpGMpmpA70JCx33fcSww89zJoGTgLhPT1LGW1Wickra244f9r0PJF9s/qPMXEUDYFUWmVHnqnu/iGbCzHex2+u5NTZT4XqXxrfxa3rxA6Y5BikR6a7ERwdiXHvaNQlmhS1Vlk4maL91KdL3Cd8tPsuE5cMQc9gwMOMr41v+IEJEehpZbfRQKLWrEKCj7RaIFDHcJJHZSNZteG5vSmHzzCiEdx2Kbl+7l1V6PtNJ6KAvSDABcx/sh3eqadipKV37dZcHw3Ylb65AeKiPLwOAJ3Sf11o+pMDxkZgGpVuoJmIELzYEqGNDO+MDPOLor3RIYPNZTPUZq4JlkVMVzNavSAfC0LOJPTp5Gx6RWz19oKb5pFkT40VSO99ym2a1nXgyz629zG1Mwjrzw+Ei+iOtazKzplbiSGNPBv9mKtbxWhlnRH6HzBcwp+i4x5xBtzPGfCBfqXFbE7HWV0W53OGz4s9mDW7TnQLJnygnry5esOj7JKUK1yj4mIsjGpIb8l/PjYX333NJbABtGboz9YZkDjE9mKG19A6JhRgkPJlObp1C2FHm69NeNsT+Emy9lcGKE39Bgvuz+Jkbfss1meINQ9nrf+QXypF4mn3PqWOv90nSLusvJ0E9tBEemiJoCH5IifmRgvuz+Jkbfss1meINQ9nrdB6fdxQtO0PpsPPo6xUNoyKzKQxu5GFmchkU0ulZ3JGLk3XEFDJ2sMiC4orFYMjpfOVXM7dAWLJYxFGIkB9yhdbHnqZk4HmXQ6EZrrFJpQkU8lIAmbsL3lMDrkYq/mlhtBm+UmQv+S0DH5FOO6wVBQ2kdvsaGk535QmgdKJoY4kk8kKk3qBLD/iRjudOpbH7iAEDfkZmDamKCmDoAVNYTbk61AhSx7XHAon/uG3Jbl9hIkquzLCG79PFGmsQF3qI8Q5O8pmync1rD1ekEwgc+XTh0qFa3PAEWPfjVaHpNpy7thrLOsHp4Yft8mCFQX5zoZFWg+ktiVvyaXLk1CHT9Q9E+hueOvUPyPTThxapYMXN2SF4YfzxQjWbNqC8byXxzw55ECUNlfLucfcYnHw0WYfm1XAPtUAdmaanWRBJ6yvZ8/upvipu33grsX8eE4JmcoAK5OQu1pJJXLrO3sBi27QQhukVAMOodkVW8JA9z6olOY+6z32vdo8KGMJWthl8tI28oPAkZefZxv33QDVMzHJBn5oDvyRJAulYnokHhtmbY/0pGQhciwCEXR8XdsrVZch4Vr1dC3pCTjxpiv4Diu8CSLPa/x/Pi8favKQC6rr4bj6tEuhMlD9EpI568R7J5uAm8sUqbTdGxjtpi6g+l0n0Ix7+8FGpgQiG/2Bi5d1F6SEw9Jf3g34hgp2yGwSIuWhu+4H8IdCjHbDMdVBu9P0n0m9L0OQ0j4RLBIhAlrNQIbXShqjKcHtezTTYyxyEczqSQozijghbtJ2rG02pJLNbEY33zKcgE7Ejpk1QXt/r5mWYeXsiaKEug2C8zbeEn6NSwOr9+tuaG5YOXi/dQKsbUDUr6ClSu1pzX4Dh7zPqmXBSUOLFnuKg+EB4gnS4JhM3RvYhUtapPubeem1sccOf1wEgxWl77bz+eWDydn9Q=="
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content Type",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "application/json"
					},
					{
						"name": "EventName",
						"in": "header",
						"description": "EventName",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "GL_RatingEvent_V1"
					},
					{
						"name": "Rating Request",
						"in": "body",
						"description": "For rating request",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"$ref": "#/definitions/Success_Response"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/errorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Request": {
			"type": "object",
			"properties": {
			"OwnerID":  {
					"type": "string",
					"default":"1"
					},
			"ServiceRequestDetail": {
				"type": "object",
				"properties": {
					"EndClientUserUniqueSessionId": {
							"type": "string",
							"default":"1.0"
							},
					"ServiceRequestVersion": {
							"type": "string",
							"default":"1.0"
							},
					"LanguageCode": {
							"type": "string",
							"default":"en"
							},
					"UserName": {
							"type": "string",
							"default":"isorateadmin"
							},
					"RegionCode": {
							"type": "string",
							"default":""
							},
					"ServiceResponseVersion": {
							"type": "string",
							"default":"1.0"
							},
					"ResponseType": {
							"type": "string",
							"default":"json"
							},
					"Token": {
							"type": "string",
							"default":"QeRXLmUY7xEFSHjHMcCuhauJEl+in5Huh0cS+CLndfy+4m82ZwGrPI58uSH0CYZs4cazG0Em3MQf73wuurBsEeFBdKaiqqfDvabmpEfprzsaw3Q7JHhb1ZEcyCvKND2i6jHI5gOlLpkmJNncsa5FKyUXN0vQkdFsMZckXUjZJOTwN/JZxZbU0Q0pwv/YW6dLcWqUL677bxWW3Suj2AgTmdIwOH0RaC5+E0qUpAAp+2thdJjkopHpT7/cguUUVxNTyKAjDhxHSfSyfeT75v2YN6qfBMiIR9Ry5sQhau90fAC6t9RxzN2iCnn1rTYZMlWjMCiG0yzK/Y9ryC0de83rpGMpmpA70JCx33fcSww89zJoGTgLhPT1LGW1Wickra244f9r0PJF9s/qPMXEUDYFUWmVHnqnu/iGbCzHex2+u5NTZT4XqXxrfxa3rxA6Y5BikR6a7ERwdiXHvaNQlmhS1Vlk4maL91KdL3Cd8tPsuE5cMQc9gwMOMr41v+IEJEehpZbfRQKLWrEKCj7RaIFDHcJJHZSNZteG5vSmHzzCiEdx2Kbl+7l1V6PtNJ6KAvSDABcx/sh3eqadipKV37dZcHw3Ylb65AeKiPLwOAJ3Sf11o+pMDxkZgGpVuoJmIELzYEqGNDO+MDPOLor3RIYPNZTPUZq4JlkVMVzNavSAfC0LOJPTp5Gx6RWz19oKb5pFkT40VSO99ym2a1nXgyz629zG1Mwjrzw+Ei+iOtazKzplbiSGNPBv9mKtbxWhlnRH6HzBcwp+i4x5xBtzPGfCBfqXFbE7HWV0W53OGz4s9mDW7TnQLJnygnry5esOj7JKUK1yj4mIsjGpIb8l/PjYX333NJbABtGboz9YZkDjE9mKG19A6JhRgkPJlObp1C2FHm69NeNsT+Emy9lcGKE39Bgvuz+Jkbfss1meINQ9nrf+QXypF4mn3PqWOv90nSLusvJ0E9tBEemiJoCH5IifmRgvuz+Jkbfss1meINQ9nrdB6fdxQtO0PpsPPo6xUNoyKzKQxu5GFmchkU0ulZ3JGLk3XEFDJ2sMiC4orFYMjpfOVXM7dAWLJYxFGIkB9yhdbHnqZk4HmXQ6EZrrFJpQkU8lIAmbsL3lMDrkYq/mlhtBm+UmQv+S0DH5FOO6wVBQ2kdvsaGk535QmgdKJoY4kk8kKk3qBLD/iRjudOpbH7iAEDfkZmDamKCmDoAVNYTbk61AhSx7XHAon/uG3Jbl9hIkquzLCG79PFGmsQF3qI8Q5O8pmync1rD1ekEwgc+XTh0qFa3PAEWPfjVaHpNpy7thrLOsHp4Yft8mCFQX5zoZFWg+ktiVvyaXLk1CHT9Q9E+hueOvUPyPTThxapYMXN2SF4YfzxQjWbNqC8byXxzw55ECUNlfLucfcYnHw0WYfm1XAPtUAdmaanWRBJ6yvZ8/upvipu33grsX8eE4JmcoAK5OQu1pJJXLrO3sBi27QQhukVAMOodkVW8JA9z6olOY+6z32vdo8KGMJWthl8tI28oPAkZefZxv33QDVMzHJBn5oDvyRJAulYnokHhtmbY/0pGQhciwCEXR8XdsrVZch4Vr1dC3pCTjxpiv4Diu8CSLPa/x/Pi8favKQC6rr4bj6tEuhMlD9EpI568R7J5uAm8sUqbTdGxjtpi6g+l0n0Ix7+8FGpgQiG/2Bi5d1F6SEw9Jf3g34hgp2yGwSIuWhu+4H8IdCjHbDMdVBu9P0n0m9L0OQ0j4RLBIhAlrNQIbXShqjKcHtezTTYyxyEczqSQozijghbtJ2rG02pJLNbEY33zKcgE7Ejpk1QXt/r5mWYeXsiaKEug2C8zbeEn6NSwOr9+tuaG5YOXi/dQKsbUDUr6ClSu1pzX4Dh7zPqmXBSUOLFnuKg+EB4gnS4JhM3RvYhUtapPubeem1sccOf1wEgxWl77bz+eWDydn9Q=="
							},
					"OwnerId": {
							"type": "string",
							"default":"1"
							}
			}
			},
			  "ProductNumber": {
							"type": "string",
							"default":"ISOGL"
							},
			  "ProductVerNumber": {
							"type": "string",
							"default":"ISO_GL_V2"
							},
			  "EventName": {
							"type": "string",
							"default":"GL_RatingEvent_V1"
							},
			  "EffectiveDate": {
							"type": "string",
							"default":"2019-02-01"
							},
			  "ExpirationDate": {
							"type": "string",
							"default":"2019-02-01"
							},
			  "LastRateLookUpDate": {
							"type": "string",
							"default":"2019-03-12"
							},
			  "State":{
							"type": "string",
							"default":"AL"
							},
				
			
			
			"GeneralLiability": {
					"type": "array",
					"items": {
						"properties": {
						
							  "State": {
								"type": "string"
								},
							  "City": {
								"type": "string"
								},
							  "ZipCode": {
								"type": "string"
								},
							  "County": {
								"type": "string"
								},
							  "GeneralLiabilityDamageToPremisesRentedToYouCoverage.LimitGovernmentalSubdivision": {
								"type": "string"
								},
							  "GeneralLiabilityMedPayCoverage.Limit": {
								"type": "string"
								},
							  "GeneralLiabilityCompositeRating.CompositeExposure": {
								"type": "string"
								},
							  "GeneralLiabilityTerrorismEndorsementCoverage.CertifiedActsofTerrorismExposureClassFactorOverride": {
								"type": "string"
								},
							  "AggregateLimit": {
								"type": "string"
								},
							  "CPPGoverningState": {
								"type": "string"
								},
							  "GeneralLiabilityCompositeRating.CompositeRating": {
								"type": "string"
								},
							  "CPPIRPMFactor":{
								"type": "string"
								},
							  "GeneralLiabilityCompositeRating.CompositeRatingExposureBasis": {
								"type": "string"
								},
							  "EachCommonCauseLimit": {
								"type": "string"
								},
							  "GeneralLiabilityCompositeRating.CompositeRatingExposureBasisOverride": {
								"type": "string"
								},
							  "GeneralLiabilityCompositeRating.FinalAdjustedCompositeExposure":{
								"type": "string"
								},
							  "EachElectronicDataIncidentLimit": {
								"type": "string"
								},
							  "EachPollutionIncidentLimit": {
								"type": "string"
								},
							  "EDLAggregateLimit": {
								"type": "string"
								},
							  "EDLRetroactiveDate": {
								"type": "string"
								},
							  "ERPActualExpectedLossRatio": {
								"type": "string"
								},
							  "ERPDramaticChangeOnExposure":{
								"type": "string"
								},
							  "ERPExpenseVariationApplies":{
								"type": "string"
								},
							  "ERPExperienceModificationAllOtherSublines": {
								"type": "string"
								},
							  "ERPExperienceModificationOverride": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisLatestYearPremOps": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisLatestYearProdCompldOps": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisPremOpsCurrent": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisProdCompldOpsCurrent": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisSecondLatestYearPremOps": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisSecondLatestYearProdCompldOps": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisThirdLatestYearPremOps": {
								"type": "string"
								},
							  "ERPExposuresOnSpecialUWBasisThirdLatestYearProdCompldOps": {
								"type": "string"
								},
							  "ERPLatestYearEffectiveDate": {
								"type": "string"
								},
							  "ERPLatestYearLatestValuationDate": {
								"type": "string"
								},
							  "ERPLatestYearTotalIncludedLoss": {
								"type": "string"
								},
							  "ERPLatestYearTypeOfPolicy": {
								"type": "string"
								},
							  "ERPLatestYearWithSameCarrier":{
								"type": "string"
								},
							  "ERPLatestYearYIP": {
								"type": "string"
								},
							  "ERPPeriodEnds6MonthsPrior": {
								"type": "string"
								},
							  "ERPSecondLatestYearEffectiveDate": {
								"type": "string"
								},
							  "ERPSecondLatestYearLatestValuationDate": {
								"type": "string"
								},
							  "ERPSecondLatestYearTotalIncludedLoss": {
								"type": "string"
								},
							  "ERPSecondLatestYearTypeOfPolicy": {
								"type": "string"
								},
							  "ERPSecondLatestYearWithSameCarrier":{
								"type": "string"
								},
							  "ERPSecondLatestYearYIP": {
								"type": "string"
								},
							  "ERPThirdLatestYearEffectiveDate": {
								"type": "string"
								},
							  "ERPThirdLatestYearLatestValuationDate": {
								"type": "string"
								},
							  "ERPThirdLatestYearTotalIncludedLoss": {
								"type": "string"
								},
							  "ERPThirdLatestYearTypeOfPolicy": {
								"type": "string"
								},
							  "ERPThirdLatestYearWithSameCarrier": {
								"type": "string"
								},
							  "ERPThirdLatestYearYIP":{
								"type": "string"
								},
							  "ERPYearsOfExperienceIncurred": {
								"type": "string"
								},
							  "ExperienceBusinessStartDate": {
								"type": "string"
								},
							  "ExperienceRatingApplies": {
								"type": "string"
								},
							  "GeneralAggregateLimit": {
								"type": "string"
								},
							  "IncidentLimit": {
								"type": "string"
								},
							  "LiquorCoverageForm": {
								"type": "string"
								},
							  "LiquorDeductible": {
								"type": "string"
								},
							  "LiquorRetroactiveDate": {
								"type": "string"
								},
							  "multistate": {
								"type": "string"
								},
							  "OwnersContractorsAggregateLimit": {
								"type": "string"
								},
							  "OwnersContractorsCoverageForm": {
								"type": "string"
								},
							  "OwnersContractorsEachOccurrenceLimit":{
								"type": "string"
								},
							  "PackageModEligibility": {
								"type": "string"
								},
							  "PackageModFactor": {
								"type": "string"
								},
							  "PackagePolicy": {
								"type": "string"
								},
							  "PollutionAggregateLimit": {
								"type": "string"
								},
							  "PollutionCleanUpCoverage": {
								"type": "string"
								},
							  "PollutionRetroactiveDate": {
								"type": "string"
								},
							  "PremiumDiscountPercentage": {
								"type": "string"
								},
							  "PremOpsBIDeductible": {
								"type": "string"
								},
							  "PremOpsBIPDDeductible": {
								"type": "string"
								},
							  "PremOpsPDDeductible": {
								"type": "string"
								},
							  "PremOpsProdsCoverageForm": {
								"type": "string"
								},
							  "PremOpsProdsEachOccurrenceLimit": {
								"type": "string"
								},
							  "PremOpsProdsRetroactiveDate": {
								"type": "string"
								},
							  "ProdsCompldOpsAggregateLimit":{
								"type": "string"
								},
							  "ProdsCompldOpsBIDeductible": {
								"type": "string"
								},
							  "ProdsCompldOpsBIPDDeductible": {
								"type": "string"
								},
							  "ProdsCompldOpsPDDeductible": {
								"type": "string"
								},
							  "ProdsWithdrawalCoverage": {
								"type": "string"
								},
							  "ProductsWithdrawalAggregateLimit": {
								"type": "string"
								},
							  "ProductWithdrawalCoverageType": {
								"type": "string"
								},
							  "ProductWithdrawalDeductible": {
								"type": "string"
								},
							  "ProductWithdrawalParticipationPercentage": {
								"type": "string"
								},
							  "RailroadAggregateLimit": {
								"type": "string"
								},
							  "RailroadCoverageForm": {
								"type": "string"
								},
							  "RailroadEachOccurrenceLimit": {
								"type": "string"
								},
							  "RetroactiveDateApplies": {
								"type": "string"
								},
							  "RiskType": {
								"type": "string"
								},
							  "ScheduleRatingModificationApplies": {
								"type": "string"
								},
							  "SRPClassificationPct": {
								"type": "string"
								},
							  "SRPCooperationMedicalFacilitiesPct": {
								"type": "string"
								},
							  "SRPCooperationSafetyProgramPct": {
								"type": "string"
								},
							  "SRPEmployeesPct": {
								"type": "string"
								},
							  "SRPEquipmentPct": {
								"type": "string"
								},
							  "SRPLocationExposureInsidePremisesPct":{
								"type": "string"
								},
							  "SRPLocationExposureOutsidePremisesPct": {
								"type": "string"
								},
							  "SRPPremisesPct": {
								"type": "string"
								},
							  "Subline": {
								"type": "string"
								},
							  "TerrorismCoverage": {
								"type": "string"
								},
							  "TRIAExpirationDate":{
								"type": "string"
								},
							  "TRIAExtended": {
								"type": "string"
								},
							  "TRIPTerminatesBeforeExpirationDate": {
								"type": "string"
								},
							  "UndergroundStorageTankRetroactiveDate": {
								"type": "string"
								},
							  "USTAggregateLimit":{
								"type": "string"
								},
							  "YearInClaimsMade":{
								"type": "string"
								},
								
							 "GeneralLiabilityAbuseMolestationExcl": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAbuseOrMolestationExclusionSpecifiedProfessionalServices": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAddlInsdLessorOfLeasedEquipmtAutomtcStatusWhenReqdInLeaseAgrmtWithYou": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusForOtherPartiesWhenReqInConstrctnAgrmt": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusWhenReqInConstrctnAgrmtWithYou": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmendmentOfInsuredContractDefinition": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmendmentOfPersonalAndAdvertisingInjuryDefinition": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtOfCovTerrWorldwideCov": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtOfCovTerrWorldwideCovWithSpecdExcptns": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtOfLimitsOfIns": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtOfLiquorLiabExcl": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtOfLiquorLiabExclProdsCompldOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityAmndmtTravelAgencyToursLimitationOfCov": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityBindingArbitration": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityBoats": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCapOnLossesFromCertifiedActsOfTerrorism": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismPremOps": {"type": "array","items":{"properties":
								{
								  "AggregateLimit": 	{	"type": "string"	},
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismProdsCompldOps": {"type": "array","items":{"properties":
								{
								  "AggregateLimit": 	{	"type": "string"	},
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCollegeSchool": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCollegeSchoolLimitedForm": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCommunicableDiseaseExclusion": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCommunicableDiseaseExclusionProdsCompldOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityConditionalExclusionOfTerrorismNuclearBiologicalChemicalDispositionOfAct2002": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityConditionalLimitationOfCoverageTerrorismSublimitAnnualAggregateTerrorismAct2002": {"type": "array","items":{"properties":
								{
								  "AggregateLimit": {	"type": "string"	},
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityConstrctnProjMngmtProtvLiabCov": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityContractualLiabLimitation": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityContractualLiabRailroads": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCoverageExtensionCoverageAProductRestorationExpense": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCovForInjuryLeasedWorkers": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityCovForInjuryLeasedWorkersUndergroundStorageTanks": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityDruggistsBroadenedCov": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityEarlierNoticeOfCancellationProvidedByUs": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityEarlierNoticeOfCancellationProvidedByUsOwnersContractors": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityElectronicDataLiabEndt": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityElectronicDataLiabilityCoverageForm": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityEmployeeBenefitsLiabCovClaimsMade": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityEmploymentRelatedPracticesExclusion": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityEmploymentRelatedPracticesExclusionOwnersContrctrsPollution": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExcessProvisionVendors": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclAdultDayCareCenters": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclAthleticSportsParticipants": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclBodilyInjuryToRailroadPassengers": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclConstructionMngmtErrorsOmissions": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDamageToPremRentedToYou": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalf": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDescribedHazardsCarnivalsCircusesFairs": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDesignatedOngoingOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDesignatedOpsCovByConsolidatedWrapUpInsProgramPolLvl": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDesignatedProducts": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDesignatedProfessionalServices": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDesignatedWork": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclDiagnosticTestingLabs": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclEmployeesAndVolunteerWorkersAsInsureds": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclExistenceOrMaintenanceOfStreetsRdsHwysOrBridges": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclFiduciaryOrRepLiabOfFinclInstitutions": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclFinancialServ": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclFuneralServ": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclInjuryToVolunteerFirefighters": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclIntercompanyProductsSuits": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclInternetServicePrvdrsAndInternetAccessPrvdrsErrorsOmissions": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclLawEnforcementActivities": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclMedPayCovInmatesPatientsPrisoners": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclMedPayToChildrenDayCareCenters": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclNewEntities": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclOilGasProducingOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclPersonalAdvertisingInjury": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclProductsCompletedOperationsHazard": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclProductsProfessionalServicesDruggists": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclProductsProfessionalServicesOpticalHearingAidEstablishments": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclProfessionalServicesBloodBanks": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclProfessionalVeterinarianServices": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclRiotCivilCommotionMobActionGovtSubdivision": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclRollingStockRailroadConstruction": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclSalineSubstancesContamination": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocation": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocationProdsCompldOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclTestingConsultingErrorsOmissions": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclUndergroundStorageTankIncidents": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInfoAndDataRelatedLiabLmtdBIExcptnNotInclddCGL": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInformationCovBOnly": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsOwnersContractors": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsPremOpsProds": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsProdsCompldOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionOfCertifiedActsOfNuclearBiologicalChemicalActsTerrorismCapOnLossesFromCertifiedActs": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionOfCertifiedActsOfTerrorism": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionOfNewlyAcquiredOrganizationsAsInsureds": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionOfPunitiveDamagesRelatedToACertifiedActOfTerrorism": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionOfTerrorismNuclearBiologicalChemicalTerrorism": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionProductReplacementRepairOrRepurchase": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionProductTampering": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionUnmannedAircraft": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionUnmannedAircraftCovAOnly": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionUnmannedAircraftCovBOnly": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclusionUnmannedAircraftOwnersAndContractors": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclVolunteerWorkers": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclYear2000ComputerReltdElectronicProblems": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclYear2000ComputerReltdOtherElectronicProblemsProdsCompldOps": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExclYear2000ComputerReltdOtherElectronicProblemsWithExceptionForBIOnYourPrem": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExtendedReportingPeriodEndorsementForElectronicDataLiabilityCoverage": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExtendedReportingPeriodEndt": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExtendedReportingPeriodEndtForEmpBenefitsLiabCov": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityExtendedReportingPeriodForTerrorismCoverage": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityFinancialInstitutionsRptgProvisionLmtnToFiduciaryOrRepInterest": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityFungiOrBacteriaExclusion": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityFungiOrBacteriaExclusionOwnersContractorsProductsCompleted": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityGovernmentalSubdivisions": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityHazardousMaterialContractors": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityInsuredSiteDefinition": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLawnCareServicesCov": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitationOfCoverageForTerrorismSubLimitAnnualAggregateBasis": {"type": "array","items":{"properties":
								{
								  "AggregateLimit": {	"type": "string"	},
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitationOfCovToDesignatedPremOrProject": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedContractualLiabCovPersonalAdvertisingInj": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedContractualLiabilityRailroads": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedCovForDesignatedUnmannedAircraft": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovAOnly": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovBOnly": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedExclContractorsProfessionalLiab": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedExclDesignatedOpsCovByConsolidatedWrapUpInsProgram": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedExclPersonalAdvertisingInjLawyers": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedFungiOrBacteriaCoverage": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedPollutionLiabExtensionEndt": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedProductWithdrawalExpenseEndtPolLvl": {"type": "array","items":{"properties":
								{
								  "AggregateLimit": 	{	"type": "string"	},
								  "Deductible": {	"type": "string"	},
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLimitedTerrorismExclOtherThanCertifiedActsOfTerrorismCapOnLossesFromCertifiedActsOfTerrorism": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityLiquorLiab": {"type": "array","items":{"properties":
								{
								  "ManualPremium":	{	"type": "string"	}
								}
							  }},
							  
							"GeneralLiabilityLocation": 
							{
							"type": "array",
										"items": {
											"properties": {
												"GeneralLiabilityClassification":
												{
												"type": "array",
												"items": {
													"properties": {
														"GeneralLiabilityClassificationOwnersContractorsCoverage.ELPOverOneHundred": {
														"type": "string"
														},
														
														 "GeneralLiabilityCanoesOrRowboats":{
														 "type": "array",
														 "items": {
														 "properties": {
															"ManualPremium":{
															"type": "string"
															}
														 }
														 }
														 
														 },
														 
												  "State": {
															"type": "string"
															},
												  "ZipCode": {
															"type": "string"
															},
												  "GeneralLiabilityClassificationOwnersContractorsCoverage.ELPOverOneMillion": {
															"type": "string"
															},
												  "ClassCode": {
															"type": "string"
															},
												  "ClassDescription": {
															"type": "string"
															},
												  "EDLClassCode": {
															"type": "string"
															},
												  "EDLClassDescription": {
															"type": "string"
															},
												  "EDLExposure": {
															"type": "string"
															},
												  "EDLPremiumRatingBase": {
															"type": "string"
															},
												  "EstdContractCostWORRHzd": {
															"type": "string"
															},
												  "EstimatedContractCostRatio": {
															"type": "string"
															},
												  "IfAnyBasis": {
															"type": "string"
															},
												  "IfAnyBasisProdsCompldOps": {
															"type": "string"
															},
												  "InjurySuprvsrInspctrsOtherEmpsCov": {
															"type": "string"
															},
												  "LimitedCovForPersonalAndAdvertisingInjury": {
															"type": "string"
															},
												  "LiquorClassCode":{
															"type": "string"
															},
												  "LiquorClassDescription": {
															"type": "string"
															},
												  "LiquorDedFactorOverride":{
															"type": "string"
															},
												  "LiquorDeductible": {
															"type": "string"
															},
												  "LiquorELPOverride": {
															"type": "string"
															},
												  "LiquorExposure": {
															"type": "string"
															},
												  "LiquorPremiumBasis": {
															"type": "string"
															},
												  "LmtdProdsWithdrawalDeductibleFactorOverride": {
															"type": "string"
															},
												  "LmtdProdsWithdrawalPremium": {
															"type": "string"
															},
												  "MedPayCovForStud": {
															"type": "string"
															},
												  "MiscIfAnyBasis": {
															"type": "string"
															},
												  "MunicipalityOperatesAFireDepartment": {
															"type": "string"
															},
												  "NumPassgrFreightTrains": {
															"type": "string"
															},
												  "OtherThanProdsCompldOpsCov": {
															"type": "string"
															},
												  "OwnersContractorsClassCode": {
															"type": "string"
															},
												  "OwnersContractorsClassDescription": {
															"type": "string"
															},
												  "OwnersContractorsELPOverOneMillionOverride": {
															"type": "string"
															},
												  "OwnersContractorsELPOverride": {
															"type": "string"
															},
												  "OwnersContractorsExposure": {
															"type": "string"
															},
												  "OwnersContractorsPremiumBasis": {
															"type": "string"
															},
												  "PollutionClassCode": {
															"type": "string"
															},
												  "PollutionClassDescription": {
															"type": "string"
															},
												  "PollutionExposure": {
															"type": "string"
															},
												  "PollutionPremiumBasis": {
															"type": "string"
															},
												  "PremOpsBIDeductible": {
															"type": "string"
															},
												  "PremOpsBIDeductibleFactorOverride": {
															"type": "string"
															},
												  "PremOpsBIPDDeductible": {
															"type": "string"
															},
												  "PremOpsBIPDDeductibleFactorOverride": {
															"type": "string"
															},
												  "PremOpsELPOverride": {
															"type": "string"
															},
												  "PremOpsExposure": {
															"type": "string"
															},
												  "PremOpsIncrdLimitTableAssignmentOverride": {
															"type": "string"
															},
												  "PremOpsPDDeductible":{
															"type": "string"
															},
												  "PremOpsPDDeductibleFactorOverride": {
															"type": "string"
															},
												  "PremOpsPremiumBasis": {
															"type": "string"
															},
												  "ProdsCompldOpsBIDeductible": {
															"type": "string"
															},
												  "ProdsCompldOpsBIDeductibleFactorOverride": {
															"type": "string"
															},
												  "ProdsCompldOpsBIPDDeductible": {
															"type": "string"
															},
												  "ProdsCompldOpsBIPDDeductibleFactorOverride": {
															"type": "string"
															},
												  "ProdsCompldOpsCov":{
															"type": "string"
															},
												  "ProdsCompldOpsELPOverride": {
															"type": "string"
															},
												  "ProdsCompldOpsExposure": {
															"type": "string"
															},
												  "ProdsCompldOpsIncrdLimitTableAssignmentOverride":{
															"type": "string"
															},
												  "ProdsCompldOpsPDDeductible": {
															"type": "string"
															},
												  "ProdsCompldOpsPDDeductibleFactorOverride": {
															"type": "string"
															},
												  "ProdsCompldOpsPremiumBasis": {
															"type": "string"
															},
												  "ProductWithdrawalCoverage": {
															"type": "string"
															},
												  "ProductWithdrawalDeductible": {
															"type": "string"
															},
												  "ProductWithdrawalDeductibleFactorOverride": {
															"type": "string"
															},
												  "ProductWithdrawalELPOverride": {
															"type": "string"
															},
												  "ProductWithdrawalExpensesAndLiabilityIncrdLimitTableAssignmentOverride": {
															"type": "string"
															},
												  "ProductWithdrawalExposure":{
															"type": "string"
															},
												  "ProductWithdrawalPremiumBasis": {
															"type": "string"
															},
												  "RailroadClassCode": {
															"type": "string"
															},
												  "RailroadClassDescription": {
															"type": "string"
															},
												  "RailroadExposure": {
															"type": "string"
															},
												  "RailroadPremiumBasis": {
															"type": "string"
															},
												  "SprayPainting": {
															"type": "string"
															},
												  "TotalCostWorkTrainsOrOtherRREquipmtAssigned": {
															"type": "string"
															},
												  "USTClassCode": {
															"type": "string"
															},
												  "USTClassDescription": {
															"type": "string"
															},
												  "USTExposure": {
															"type": "string"
															},
												  "USTPremiumBasis":{
															"type": "string"
															},
												 "GeneralLiabilitySnowplowOperationsCoverage": {
														"type": "array",
														 "items": {
														 "properties": {
															"ManualPremium":{
															"type": "string"
															}
														 }
														 }
												 },
											  "PublicOrPrivateSchool": {
															"type": "string"
															},
											  "Contractor": {
															"type": "string"
															},
											  "ElevatorContractorsClassCategory": {
															"type": "string"
															},
											  "RiskLicensedOrCertifiedToUsePesticidesInComplianceWithTheStructuralPestControlAct": {
															"type": "string"
															},
											  "GeneralLiabilityElevatorsContractors": 
											  {
												"type": "array",
														 "items": {
														 "properties": {
															"BodilyInjuryLimit": {
															"type": "string"
															},
															"PropertyDamageLimit": {
															"type": "string"
															}
														 }
														 }
											  },
											  
											"LiquorExposureOnPremises": {
															"type": "string"
															},
											 "GeneralLiabilityTerrorism": {
													 "type": "array",
													 "items": {
													 "properties": {
												
												  "PremisesOperationsTerritory":{
															"type": "string"
															},
												  "Territory": {
															"type": "string"
															}
												}
												}
											  },	
												
											  "LeadCovWithNoLetter": {
															"type": "string"
															},
											  "LeadIsResidentialRiskWithUnitsConstructedPrior1978": {
															"type": "string"
															},
											  "LeadNumUnitsWithLOC":{
															"type": "string"
															},
											  "LeadNumUnitsWithLOIC": {
															"type": "string"
															},
											  "LeadNumUnitsWithoutLOCorLOIC":{
															"type": "string"
															}, 
												
											  "GeneralLiabilityMarylandChangesLiabilityForHazardsOfLeadClassLvl": {
													"type": "array",
													 "items": {
													 "properties":{
													  "NumberOfUnitsDwellingBuilt1979After":{
															"type": "string"
															}, 
													  "NumberOfUnitsDwellingBuilt1979Before": {
															"type": "string"
															}
													}
													}
												  },
													
													
												  "StopGapIncrdLimitFactorOverride": {
															"type": "string"
															}, 
												  "DriverEducationProvider":{
															"type": "string"
															}, 
												  "SpecialProtectiveHighwayClassCode": {
															"type": "string"
															}, 
												  "SpecialProtectiveHighwayClassDescription": {
															"type": "string"
															}, 
												  "SpecialProtectiveHighwayExposure": {
															"type": "string"
															}, 
												  "SpecialProtectiveHighwayPremiumBasis":{
															"type": "string"
															}, 
												  "ClimbingFacilityOperator":{
															"type": "string"
															}
													}
													}
												},
												

										  "LiquorDeductible": {
															"type": "string"
															}, 
										  "LiquorLiabTerr": {
															"type": "string"
															}, 
										  "LiquorLiabTerritory":{
															"type": "string"
															}, 
										  "OwnersContractorsTerritory": {
															"type": "string"
															}, 
										  "PollutionTerritory": {
															"type": "string"
															}, 
										  "PremisesOperationsTerr": {
															"type": "string"
															}, 
										  "PremisesOperationsTerritory": {
															"type": "string"
															}, 
										  "PremOpsBIDeductible":{
															"type": "string"
															}, 
										  "PremOpsBIPDDeductible": {
															"type": "string"
															}, 
										  "PremOpsPDDeductible": {
															"type": "string"
															}, 
										  "ProdsCompldOpsBIDeductible": {
															"type": "string"
															}, 
										  "ProdsCompldOpsBIPDDeductible": {
															"type": "string"
															}, 
										  "ProdsCompldOpsPDDeductible": {
															"type": "string"
															}, 
										  "ProdsCompldOpsTerritory": {
															"type": "string"
															}, 
										  "ProductWithdrawalDeductible": {
															"type": "string"
															}, 
										  "RailroadTerritory": {
															"type": "string"
															}, 
										  "CertifiedActsOfTerrorismTerr": {
															"type": "string"
															}, 
										  "TerrorismTerritory": {
															"type": "string"
															}, 
										  "CertifiedActsOfTerrorismManhattan": {
															"type": "string"
															}																	
											}
											}
							},
							 "GeneralLiabilityNonBindingArbitration": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityOpticalHearingAidEstablishments": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPersonalInjuryLiab": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPesticideOrHerbicideApplicatorCov": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPesticideOrHerbicideApplicatorCovOwnersContractors": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPollutionExclLimitedExceptionForDesigntdPollutants": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPollutionExclLimitedExceptionShortTermEvent": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPollutionExclNamedPerilLimitedExcptnShortTermPollutionEvent": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPollutionLiabCovExtension": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPrimaryAndNoncontributoryOtherInsuranceCondition": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityPrincipalsProtectiveLiabCov": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	},
								  "WorkersCompensationRate": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityProfessionalLiabExclElectronicDataProcgSrvcCompuConsultingProgrammingSrvc": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityProfessionalLiabExclWebSiteDesigners": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityProflLiabExclSpasOrPersonalEnhancementFacilities": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGermin": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotIncldd": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotInclddProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySilicaOrSilicaRelatedDustExclusionOwnersContractorsProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySilicaOrSilicaRelatedDustExclusionPremOpsProds": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySilicaOrSilicaRelatedDustExclusionRailroad": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityStevedoringOperations": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySupplementalExtendedReportingPeriodEndorsementCG3057": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySupplementalExtendedReportingPeriodEndt": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySupplementalExtendedReportingPeriodEndtLiquorLiab": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySupplementalExtendedReportingPeriodEndtProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocations": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocsProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityTotalPollutionExclEndt": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityTotalPollutionExclusionProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityTotalPollutionExclWithABldgHeatgEquipmtExcptnHostileFireExcptn": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityTotalPollutionExclWithAHostileFireExcptn": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityUndergroundResourcesAndEquipmtCov": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityVoluntaryCleanUpCostsReimbursement": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityWaiverCharitableImmunity": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityWaiverGovernmentalImmunity": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityWaiverOfTransferOfRightsOfRecoveryAgainstOthersToUsOwnersContrctrs": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityWaiverTransferRightsRecovery": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclDesigntdLocsOpsProdsSrvcs": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							  "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclProdsCompldOps": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }},
							 "GeneralLiabilityAddlInsdConcessionaires": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdConcessionairesDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAddlInsdDesigntdPersonOrg": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdDesigntdPersonOrgDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsd": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsdDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAddlInsdGrantorFranchise": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdGrantorFranchiseDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAddlInsdLessorLeasedEquipmt": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdLessorLeasedEquipmtDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrg": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrgDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAddlInsdVendors": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAddlInsdVendorsDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAmndmtOfCovTerrAddlSchddCountries": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAmndmtOfCovTerrAddlSchddCountriesDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivs": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccs": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccsDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimit": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimitDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWork": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWorkDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOption": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOptionDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
						  "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOps": { "type": "array","items":{"properties":
							{
							  "GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOpsDetail": { "type": "array","items":{"properties":
								{
								  "ManualPremium": {	"type": "string"	}
								}
							  }}
							}
						  }},
		
						 "SRPMedicalFacilitiesandSafetyProgramPct": {	"type": "string"	},
						 "SRPRiskRelativeDegreeOfExposurePct":{	"type": "string"	},
						  "GeneralLiabilityAlaskaChangesAttorneysFeesPolLvl": { "type": "array","items":{"properties":
							{
							  "Limit": {	"type": "string"	}
							}
						  }},
						  "GeneralLiabilityChangesAttorneysFeesProductWithdrawalEDL": { "type": "array","items":{"properties":
							{
							  "Limit": {	"type": "string"	}
							}
						  }},
						  "GeneralLiabilitySupplementalExtendedReportingPeriodEndtElectronicDataLiability": { "type": "array","items":{"properties":
							{
							  "ManualPremium": {	"type": "string"	}
							}
						  }},
    
						"ByLawsCreatedOrAmendedOnOrAfterDate": {	"type": "string"	},
						"CondominiumAssociation":  {	"type": "string"	},
						"GeneralLiabilityExtendedReportingPeriodEndorsementPollutionLiability":  { "type": "array","items":{"properties":
							{
							  "ManualPremium": {	"type": "string"	}
							}
						  }},
						"CommercialPesticideApplicators":{	"type": "string"	},
						"GeneralLiabilityStructuralPesticideApplicators":  { "type": "array","items":{"properties":
						{
						  "BIEachOccurrenceLimit": {	"type": "string"	},
						  "PDEachOccurrenceLimit": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityChangesExtendedReportingPeriodForEmployeeBenefitsLiabilityCov":  { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityChangesExtendedReportingPeriodForPremOps":  { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityChangesExtendedReportingPeriodForProdCompldOpsLiab":  { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityChangesExtendedReportingPeriodUST":  { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityConnecticutExtendedReportingPeriodEndorsementPollutionLiabLimited":  { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					 "ManufacturedHomeInstaller": {	"type": "string"	},
					"GeneralLiabilityColoradoAmendmentOfSectionVExtendedReportingPerSpecificAccidentsProdsWorkOrLocClaimsMade":  { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityInsuredsConsentToExcessRate":  { "type": "array","items":{"properties":
						{
						  "ExcessRatedPremium":  {	"type": "string"	},
						  "ManualRatedPremium":  {	"type": "string"	}
						}
					  }},
					  "AnnualRevenue": {	"type": "string"	},
					  "NumberOfEmployees": {	"type": "string"	},
					  "GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesOwnersContractorsProdsCompldOps": { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesPremOpsProdsCompldOps": { "type": "array","items":{"properties":
						{
						  "ManualPremium": {	"type": "string"	}
						}
					  }},
					  "EachCommonCauseBodilyInjuryLimit":  {	"type": "string"	},
					  "EachCommonCauseLossOfMeansOfSupportLimit":  {	"type": "string"	},
					  "EachPersonBodilyInjuryLimit":  {	"type": "string"	},
					  "EachPersonLossOfMeansOfSupportLimit":  {	"type": "string"	},
					  "GeneralAggregateLimitGovernmentalSubdivision":  {	"type": "string"	},
					  "GovernmentalSubdivision": {	"type": "string"	},
					  "PerPersonLimit":  {	"type": "string"	},
					  "PremOpsProdsEachOccurrenceLimitGovernmentalSubdivision":  {	"type": "string"	}
						}
						}
						}
			}
		},
		"Success_Response": {
			"type": "object",
			"properties": {
				"messageDetail": {
					"type": "object"
				},
				"ResponseStatus": {
					"type": "string"
				},
				"Policy": {
					"type": "object"
				}
			}
		},
		"errorModel": {
			"type": "object",
			"required": [
				"RequestStatus",
				"MessageDetail"
			],
			"properties": {
				"RequestStatus": {
					"type": "string"
				},
				"MessageDetail": {
					"type": "object",
					"properties": {
						"MessageCode": {
							"type": "string"
						},
						"MessageType": {
							"type": "string"
						},
						"UserMessage": {
							"type": "string"
						},
						"MessageLevel": {
							"type": "string"
						},
						"MessageSeverity": {
							"type": "string"
						},
						"MessageList": {
							"type": "object",
							"properties": {
								"Message": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
