{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "Solartis Rate API for ISO-GL",
		"description": "To get rate for General Liability from Solartis Rate API with ISO ERC. General Liability Insurance is a business insurance policy that is applicable to most contractors and business owners because it protects them. When a business has this type of insurance policy, they're covered when it comes to claims of bodily injury, associated medical costs and damage to property that occurred as a result of your business operations."
	},
	"host": "isoglkbv4-2.solartis.net",
	"basePath": "/DroolsV4_2/DroolsService",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/FireEventV2": {
			"post": {
				"description": "Gets Rate for General Liability based on ISO ERC",
				"operationId": "getRates",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "Token",
						"in": "header",
						"description": "Authentication Token",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "cgHkrayYxCQUELzjteEsxZP32zou6UWFXKryWyV7StxpCXrv4Wrw5AgstHJauqCYxIwmtIjmQm1gAaFftpBW9+9fDequY+K/u0MvHxFxBpLbESXeQL46dz2Ady6iMvcNJ2xQAvAICVPMKGXbQNU+m0ElteQl51/LSPYsFHka6314zLAyXr1iifE21KN5M4KPuj9BeyB02zPGKGO+3S7yojnIPpfpamzEmQMR5XY2iB4UEyLtWCuR9wtM5FtbWHIbzj/bnmLCK6pb8HpH9fDqD3/NUXwW9f8LB/d+oCPp3dUsnCP5Awut2j7mq3nQhacg7xN56OlEJTqV+byM4WsBSYUu+RCiXbic0kx+kBFEW0zB3ahSzo9l23f2dqI051gXd/YRH090RvwO9XpFkmMrxYCoi4MB4x6dvKmhUsgRY80chdGFe6NaXRz5QHH9Ghhtq50njM6Vr2lOJFh8PUPJzbZG2Ecu9vbW5khPB8jeVHKHMwlQswycTzbVogwTTGlvkr0TZgGmgdhmMTzAqe0NTlUoh7CxFto9YYnsQ9eJYRfMUJsg8DOC93m69wudKk1Wu872JSbEKfULE3+hfzAll8W8jF1O8ak3UoBq1qIf/8jytZ9VAQ/L8jhq8mz7Szs5P7yI4K6jdJOzfUWfYeiflteVrPvYVaeXirqCiX8CueLmHmQuan4NsfYl2ws5dZ03SDDvvGZ+/2cwDeXfUTdjaG0IReHMCzI8TUeSoKgniUqIdEWAZvDVT+4dfy964U7httS0iXn/5bYTBwOWgG4YFXXpJj1nd+hMt+DTuJFG2iJS9yCsl+g3HbrW8jjVWuGNw3qMIl92ECSBuAujK6DqEzQVuGnvyP385edvTPMwGAcx2bcKemqTnS/xlog+IUx8vY0RE64FXkwjVhndjLWFxfcXoh04wm/SeWg/Gu0atqYwZ6zz/ELelvOlvddhWJ9OIFN2WcrxuBJox11v2C6GhPwwevhs+xC1WlhKBUkQduC1kqf1U/TEDS2FMmRJIQU2TtWbBVhXDuEEAPDAWxLE3Q0wOgMkgIi0d0ATOk4lp7KmyLzGRjrtZ5GLCp9igKhDrNOt6/r47Q+BN4J2Qie+tjn7JHPeEyme8agVLPvNW0jGl61EwmcoeVHvVHnnGcHnDt1wxx6JWxZE6/FTCLGhTZ9hJ59Z1Hyqzd0bdBKdlTCyeXH+YYd8E6KXdXR2mZLgmvlfjSIeCARWzpU6BJDzdebsJAzzQGaJtopkkyFAwh/nBagajHYhS/1A38t/8pvO+35WgKQCrv9Wq206+AwhGSjM9ANEoNIJb/PMhtIVAgmo5AE5xKz4Du3xEwUCl9IQUwkIAUiLvuyAF9v5+MDZp3JSsw2BRFShIWKyCb39aGjnOczcDJrTX3XHPwhV+l4PK9tE+CLXIBCymsq1xelWZCK2SXWiZzFzq0g9iSJrs1xpL9ES+g4ig5hM7HpujgrCBmUTCvj+VEil3uel+wADNcsz9wHTO/mwRMiD+INLXz1FTK+E5UsjdjQNo3QWL3EkYOEJIvneIjmrr8idyI3WTyELxlMqwIrTb4339qvrpbPc9IsCUhFZCzC7pI/KjiHSnimnmr7qCNPVDKRGR2A6aD/doZZUgmVyi9760e/v1m2/SrUL7DuiQTfxs3UqW6IMURpPXdyZaR8SjBByeLKDHjevMn51EJ8glGgjW9K2k2t1JppHFc920NUvC5cH6vDfj1gnAyTauBeFCleEs1TEe1SO/draOOTvTNK9PYtxC6h/xI/H9+sGq2T8yPI+BGOgffJ72/sZIDhSf3cyftv7t2i3kggt/KprE6bX3iKIrDaYsH+EuX7HtZ5fADGy4cAD6XxEup9YstwtzlGfVQqTCV0pNKbFbIKUi9p0FVwqLhdGJawncRfA2kG9NUG/iQexnYBoQSxctUSGt7BTrAVX7RubDTSkxLODsZ+QD2n9YQIgU3ZZyvG4EmjHXW/YLoaEngq7tOddfEz4y/tURqDA2g=="
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content Type",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "application/json"
					},
					{
						"name": "EventName",
						"in": "header",
						"description": "EventName",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "ISOGLQuote"
					},
					{
						"name": "Rating Request",
						"in": "body",
						"description": "For rating request",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Rating_Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"$ref": "#/definitions/Rating_Success_Response"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/errorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Rating_Request": {
			"type": "object",
			"properties": {
				"EndClientUserUniqueSessionId": {
					"type": "string",
					"default": "Uniquesession"
				},
				"Policy": {
					"type": "object",
					"properties": {
						"ProductNumber": {
							"type": "string",
							"default": "ISOGL"
						},
						"ProductVerNumber": {
							"type": "string",
							"default": "ISO_GL_V1"
						},
						"EventName": {
							"type": "string",
							"default": "ISOGLQuoteV5"
						},
						"EffectiveDate": {
							"type": "string",
							"default": "2018-03-01"
						},
						"ExpirationDate": {
							"type": "string",
							"default": "2019-03-01"
						},
						"LastRateLookUpDate":{
								"type": "string",
							  "default": "2018-04-01"
						},  
						"InsuredName": {
							"type": "string",
							"default": "John Smith"
						},
						"AddressLine1": {
							"type": "string",
							"default": "Address1"
						},
						"AddressLine2": {
							"type": "string",
							"default": "Address2"
						},
						"City": {
							"type": "string",
							"default": "Phoenix"
						},
						"County": {
							"type": "string",
							"default": "Maricopa County"
						},
						"ZipCode": {
							"type": "string",
							"default": "85001"
						},
						"State": {
							"type": "string",
							"default": "AL"
						},
						"Subline": {
							"type": "string",
							"default": "Premises/Operations and Products/Completed Operations"
						},
						"GLCoverageExtensionCoverageAProductRestorationExpenseManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLEmployeeBenefitsLiabCovClaimsMadeManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLElectronicDataLiabilityCoverageFormManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLEmploymentRelatedPracticesExclusionCoverageManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLExtendedReportingPeriodEndorsementForElectronicDataLiabilityCoverageManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLExtendedReportingPeriodEndtForEmpBenefitsLiabCovManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLExclusionProductTamperingManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLExclusionProductReplacementRepairOrRepurchaseManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLExclusionOfNewlyAcquiredOrganizationsAsInsuredsManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLLiquorLiabManualPremium": {
							"type": "string",
							"default": "10"
						},
						"GLSupplementalExtendedReportingPeriodEndtLiquorLiabManualPremium": {
							"type": "string",
							"default": "10"
						},
					  "GeneralAggregateLimit": {
							"type": "string",
							"default": "200,000 CSL"
						},
						"PremOpsProdsEachOccurrenceLimit": {
							"type": "string",
							"default": "100,000 CSL"
						},
						"PremOpsProdsCoverageForm": {
							"type": "string",
							"default": "Occurrence"
						},
						"PackageModFactor": {
							"type": "string",
							"default": "1"
						},
						"MedPayCoverageLimit": {
							"type": "string",
							"default": "10,000"
						},
						"GeneralLiabilityAmndmtOfLiquorLiabExcl": {
							"type": "string",
							"default": "Yes"
						},
						"RetroactiveDateApplies": 
						{
						  "type": "string",
							"default": "Yes"
						  },
            "PremOpsProdsRetroactiveDate": 
            {
              "type": "string",
							"default": "2017-08-01"
              },
            "CommercialPesticideApplicators": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLStructuralPesticideApplicators_BIEachOccurrenceLimit": 
            {
              "type": "string",
							"default": "500,000"
              },
            "GLStructuralPesticideApplicators_PDEachOccurrenceLimit": 
            {
              "type": "string",
							"default": "500,000"
              },
            "InspectionAgenciesPerformBoilerPressureVesselInspection": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLInspectionAgenciesBoilerAndPressureVesselUnits_BIEachOccurrenceLimit": 
            {
              "type": "string",
							"default": "500,000"
              },
            "GLInspectionAgenciesBoilerAndPressureVesselUnits_PDEachOccurrenceLimit": 
            {
              "type": "string",
							"default": "100,000"
              },
            "GLElevatorsContractorsAndInspectorsChangesCancellationAndSplitLimitsOfInsurance": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLElevatorsContractorsAndInspectorsChangesCancellationAndSplitLimitsOfInsurance_BodilyInjuryLimit": 
            {
              "type": "string",
							"default": "1,000,000"
              },
            "GLElevatorsContractorsAndInspectorsChangesCancellationAndSplitLimitsOfInsurance_PropertyDamageLimit": 
            {
              "type": "string",
							"default": "500,000"
              },
            "GovernmentalSubdivision": 
            {
              "type": "string",
							"default": "No"
              },
            "GLExclusionOfCertifiedActsOfNuclearBiologicalChemicalActsTerrorismCapOnLossesFromCertifiedActs": 
            {
              "type": "string",
							"default": "No"
              },
            "GLConditionalExclusionOfTerrorismNuclearBiologicalChemicalDispositionOfAct2002": 
            {
              "type": "string",
							"default": "No"
              },
            "GLExclusionOfTerrorismNuclearBiologicalChemicalTerrorism": 
            {
              "type": "string",
							"default": "No"
              },
            "GLCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismPremOps": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLConditionalLimitationOfCoverageTerrorismSublimitAnnualAggregateTerrorismAct2002": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLLimitationOfCoverageForTerrorismSubLimitAnnualAggregateBasis": 
            { 
              "type": "string",
							"default": "Yes"
              },
            "PolicyInEffectTRIA": 
            {
              "type": "string",
							"default": "Yes"
              },
            "TerrorismCoverage": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismPremOps_AggregateLimit": 
            {
              "type": "string",
							"default": "100,000"
              },
            "GLConditionalLimitationOfCoverageTerrorismSublimitAnnualAggregateTerrorismAct2002_AggregateLimit": 
            {
              "type": "string",
							"default": "100,000"
              },
            "GLLimitationOfCoverageForTerrorismSubLimitAnnualAggregateBasis_AggregateLimit": 
            {
              "type": "string",
							"default": "200,000"
              },
            "TRIAExtended": 
            {
              "type": "string",
							"default": "No"
              },
            "TRIAExpirationDate": 
            {
              "type": "string",
							"default": "2018-08-01"
              },
            "ISOERCVersion": 
            {
              "type": "string",
							"default": ""
              },
            "PerPersonLimit": 
            {
              "type": "string",
							"default": "100,000"
              },
            "PremOpsProdsEachOccurrenceLimitGovernmentalSubdivision": 
            {
              "type": "string",
							"default": "100,000"
              },
            "GeneralAggregateLimitGovernmentalSubdivision": 
            {
              "type": "string",
							"default": "200,000"
              },
            "PerPersonLimitOtherThanPD": 
            {
              "type": "string",
							"default": "100,000"
              },
            "PDLimitPerOccurrence": 
            {
              "type": "string",
							"default": "100,000"
              },
            "ProdsCompldOpsAggregateLimitGovernmentalSubdivision": 
            {
              "type": "string",
							"default": "100,000"
              },
            "GLCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismProdsCompldOps": 
            {
              "type": "string",
							"default": "Yes"
              },
            "GLCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismProdsCompldOps_AggregateLimit": 
            {
              "type": "string",
							"default": "100,000"
              },
            "ProdsCompldOpsAggregateLimit": 
            {
              "type": "string",
			  "default": "200,000 CSL"
              },
			   	"PackagePolicy": {
 		"type": "string",
 		"default": "No"
 	},
 	"Multistate": {
 		"type": "string",
 		"default": "No"
 	},
 	"PremOpsMinPremiumOverride": {
 		"type": "string",
 		"default": "320"
 	},
 	"GeneralLiabilityAddlInsdCharitableInstitns": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdChurchMbrOffcrVolunWrkr": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdClubMembers": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdConcessionaires": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdControllingInt": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdDesigntdPersonOrg": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdElectiveOrAppointiveExecutiveOfficersOfPublicCorps": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdEngrsArchsSrvyrs": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsd": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdEngrsArchsSrvyrsOwnersContractors": {
 		"type": "string",
 		"default": "No"
 	},
 	"GeneralLiabilityAddlInsdExecsAdminsTrstesBenefics": {
 		"type": "string",
 		"default": "No"
 	},
 	"GeneralLiabilityAddlInsdGrantorFranchise": {
 		"type": "string",
 		"default": "No"
 	},
 	"GeneralLiabilityAddlInsdGrantorLicenses": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdGrantorOfLicensesAutomaticStatusReqdLicensor": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdLessorLeasedEquipmt": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdLessorOfLeasedEquipmtAutomtcStatusWhenReqdInLeaseAgrmtWithYou": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusWhenReqInConstrctnAgrmtWithYou": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrg": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdStatePolitlSubdPermits": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdStatePolitlSubdPermitsOwnersContractors": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdStatePolitlSubdPermitsRelatingPrem": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdTownhouseAssocs": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdUsersGolfmobiles": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdUsersOfTeamsDraftOrSaddleAnimals": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"GeneralLiabilityAddlInsdVendors": {
 		"type": "string",
 		"default": "Yes"
 	},
 	"ProdsCompldOpsMinPremiumOverride": {
 		"type": "string",
 		"default": "62"
 	},
 	"SpecialCombinedMinPremiumOverride": {
 		"type": "string",
 		"default": "30"
 	},
 	"GeneralLiabilityAbuseMolestationExclManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAbuseOrMolestationExclusionSpecifiedProfessionalServicesManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAddlInsdLessorOfLeasedEquipmtAutomtcStatusWhenReqdInLeaseAgrmtWithYouManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusForOtherPartiesWhenReqInConstrctnAgrmtManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAddlInsdOwnersLesseesContrctrsAutomtcStatusWhenReqInConstrctnAgrmtWithYouManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmendmentOfInsuredContractDefinitionManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmendmentOfPersonalAndAdvertisingInjuryDefinitionManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtOfCovTerrWorldwideCovManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtOfCovTerrWorldwideCovWithSpecdExcptnsManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtOfLimitsOfInsManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtOfLiquorLiabExclManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOpsManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtOfLiquorLiabExclProdsCompldOpsManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityAmndmtTravelAgencyToursLimitationOfCovManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityBindingArbitrationManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityBoatsManualPremium": {
 		"type": "string",
 		"default": "0"
 	},
 	"GeneralLiabilityCapOnLossesFromCertifiedActsOfTerrorismManualPremium": {
 		"type": "string",
 		"default": "0"
	},
 	"GeneralLiabilityCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismPremOpsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCertifiedActsOfTerrorismAggregateLimitCapOnLossesFromCertifiedActsOfTerrorismProdsCompldOpsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCollegeSchoolManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCollegeSchoolLimitedFormManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCommunicableDiseaseExclusionManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCommunicableDiseaseExclusionProdsCompldOpsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityConditionalExclusionOfTerrorismNuclearBiologicalChemicalDispositionOfAct2002ManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityConditionalLimitationOfCoverageTerrorismSublimitAnnualAggregateTerrorismAct2002ManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityConstrctnProjMngmtProtvLiabCovManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityContractualLiabLimitationManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityContractualLiabRailroadsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCovForInjuryLeasedWorkersManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityCovForInjuryLeasedWorkersUndergroundStorageTanksManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityDruggistsBroadenedCovManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityEarlierNoticeOfCancellationProvidedByUsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityEarlierNoticeOfCancellationProvidedByUsOwnersContractorsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityElectronicDataLiabEndtManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityEmploymentRelatedPracticesExclusionOwnersContrctrsPollutionManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExcessProvisionVendorsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclAdultDayCareCentersManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclAthleticSportsParticipantsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclBodilyInjuryToRailroadPassengersManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclConstructionMngmtErrorsOmissionsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDamageToPremRentedToYouManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalfManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDescribedHazardsCarnivalsCircusesFairsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDesignatedOngoingOpsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDesignatedOpsCovByConsolidatedWrapUpInsProgramPolLvlManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDesignatedProductsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDesignatedProfessionalServicesManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDesignatedWorkManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclDiagnosticTestingLabsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclEmployeesAndVolunteerWorkersAsInsuredsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclExistenceOrMaintenanceOfStreetsRdsHwysOrBridgesManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclFiduciaryOrRepLiabOfFinclInstitutionsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclFinancialServManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclFuneralServManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclInjuryToVolunteerFirefightersManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclIntercompanyProductsSuitsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclInternetServicePrvdrsAndInternetAccessPrvdrsErrorsOmissionsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclLawEnforcementActivitiesManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclMedPayCovInmatesPatientsPrisonersManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclMedPayToChildrenDayCareCentersManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclNewEntitiesManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclOilGasProducingOpsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclPersonalAdvertisingInjuryManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclProductsCompletedOperationsHazardManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclProductsProfessionalServicesDruggistsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclProductsProfessionalServicesOpticalHearingAidEstablishmentsManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclProfessionalServicesBloodBanksManualPremium": {
 			"type": "string",
 			"default": "0"
 		},
 		"GeneralLiabilityExclProfessionalVeterinarianServicesManualPremium": {
 			"type": "string",
 			"default": "0"
		},
 			"GeneralLiabilityExclRiotCivilCommotionMobActionGovtSubdivisionManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclRollingStockRailroadConstructionManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclSalineSubstancesContaminationManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocationManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclSpecificAccidentsProdsWorkOrLocationProdsCompldOpsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclTestingConsultingErrorsOmissionsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclUndergroundStorageTankIncidentsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclVolunteerWorkersManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclYear2000ComputerReltdElectronicProblemsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclYear2000ComputerReltdOtherElectronicProblemsProdsCompldOpsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclYear2000ComputerReltdOtherElectronicProblemsWithExceptionForBIOnYourPremManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInfoAndDataRelatedLiabLmtdBIExcptnNotInclddCGLManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionAccessOrDisclosureOfConfidentialOrPersonalInformationCovBOnlyManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsOwnersContractorsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsPremOpsProdsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionExteriorInsulationAndFinishSystemsProdsCompldOpsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionOfCertifiedActsOfNuclearBiologicalChemicalActsTerrorismCapOnLossesFromCertifiedActsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionOfCertifiedActsOfTerrorismManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionOfPunitiveDamagesRelatedToACertifiedActOfTerrorismManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionOfTerrorismNuclearBiologicalChemicalTerrorismManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionUnmannedAircraftManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionUnmannedAircraftCovAOnlyManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionUnmannedAircraftCovBOnlyManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExclusionUnmannedAircraftOwnersAndContractorsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExtendedReportingPeriodEndtManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityExtendedReportingPeriodForTerrorismCoverageManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityFinancialInstitutionsRptgProvisionLmtnToFiduciaryOrRepInterestManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityFungiOrBacteriaExclusionManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityFungiOrBacteriaExclusionOwnersContractorsProductsCompletedManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityGovernmentalSubdivisionsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityHazardousMaterialContractorsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityInsuredSiteDefinitionManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLawnCareServicesCovManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitationOfCovToDesignatedPremOrProjectManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitationOfCoverageForTerrorismSubLimitAnnualAggregateBasisManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedContractualLiabCovPersonalAdvertisingInjManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedContractualLiabilityRailroadsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovAOnlyManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedCovForDesignatedUnmannedAircraftCovBOnlyManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedExclContractorsProfessionalLiabManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedExclDesignatedOpsCovByConsolidatedWrapUpInsProgramManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedExclPersonalAdvertisingInjLawyersManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedFungiOrBacteriaCoverageManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedFungiOrBacteriaCoverageOwnersContractorsProductsCompletedManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedPollutionLiabExtensionEndtManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLimitedTerrorismExclOtherThanCertifiedActsOfTerrorismCapOnLossesFromCertifiedActsOfTerrorismManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityLiquorLiabManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityNonBindingArbitrationManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityOpticalHearingAidEstablishmentsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPersonalInjuryLiabManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPesticideOrHerbicideApplicatorCovManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPesticideOrHerbicideApplicatorCovOwnersContractorsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPollutionExclLimitedExceptionForDesigntdPollutantsManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPollutionExclLimitedExceptionShortTermEventManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPollutionExclNamedPerilLimitedExcptnShortTermPollutionEventManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPollutionLiabCovExtensionManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPrimaryAndNoncontributoryOtherInsuranceConditionManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityPrincipalsProtectiveLiabCovManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityProfessionalLiabExclElectronicDataProcgSrvcCompuConsultingProgrammingSrvcManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityProfessionalLiabExclWebSiteDesignersManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilityProflLiabExclSpasOrPersonalEnhancementFacilitiesManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotInclddManualPremium": {
 				"type": "string",
 				"default": "0"
 			},
 			"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminNotInclddProdsCompldOpsManualPremium": {
 				"type": "string",
 				"default": "0"
				},
 				"GeneralLiabilitySeedMerchantsCovForErroneousDeliveryMixtureAndRsltgFailrOfSeedGerminProdsCompldOpsManualPremium": {
 					"type": "string",
 					"default": "0"
					},
 					"GeneralLiabilitySilicaOrSilicaRelatedDustExclusionOwnersContractorsProdsCompldOpsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySilicaOrSilicaRelatedDustExclusionPremOpsProdsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySilicaOrSilicaRelatedDustExclusionRailroadManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityStevedoringOperationsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySupplementalExtendedReportingPeriodEndorsementCG3057ManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySupplementalExtendedReportingPeriodEndtManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySupplementalExtendedReportingPeriodEndtProdsCompldOpsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocationsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySupplementalExtendedReportingPeriodEndtSpecificAccsProdsWorkOrLocsProdsCompldOpsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityTotalPollutionExclEndtManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityTotalPollutionExclWithABldgHeatgEquipmtExcptnHostileFireExcptnManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityTotalPollutionExclWithAHostileFireExcptnManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityTotalPollutionExclusionProdsCompldOpsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityUndergroundResourcesAndEquipmtCovManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityVoluntaryCleanUpCostsReimbursementManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityWaiverCharitableImmunityManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityWaiverGovernmentalImmunityManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityWaiverOfTransferOfRightsOfRecoveryAgainstOthersToUsOwnersContrctrsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityWaiverTransferRightsRecoveryManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclDesigntdLocsOpsProdsSrvcsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsExclProdsCompldOpsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilitySupplementalExtendedReportingPeriodEndtElectronicDataLiabilityManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityExtendedReportingPeriodEndorsementPollutionLiabilityManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityColoradoAmendmentOfSectionVExtendedReportingPerSpecificAccidentsProdsWorkOrLocClaimsMadeManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityChangesExtendedReportingPeriodForEmployeeBenefitsLiabilityCovManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityChangesExtendedReportingPeriodForPremOpsManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityChangesExtendedReportingPeriodForProdCompldOpsLiabManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityChangesExtendedReportingPeriodUSTManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityConnecticutExtendedReportingPeriodEndorsementPollutionLiabLimitedManualPremium": {
 						"type": "string",
 						"default": "0"
 					},
 					"GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesOwnersContractorsProdsCompldOpsManualPremium": {
 						"type": "string",
 						"default": "0"
						},
 						"GeneralLiabilityGeorgiaLimitedFungiOrBacteriaCoverageSmallBusinessesPremOpsProdsCompldOpsManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityIllinoisChangesAdditionalInsuredCityOfChicagoScaffoldingManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityAmendmentOfDefinitionOfPollutantsManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityAmendmentOfDefinitionOfPollutantsRailRoadCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityMassachusettsResidentialFuelTankCoverageManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityMassachusettsResidentialFuelTankCoverageSeparateDefenseLimitManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityPollutantsDefinitionAmendmentManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityMontanaExtendedReportingPeriodEndorsementEmployeeBenefitsLiabilityCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaExtendedReportingPeriodEndorsementPollutionLiabManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaExtendedReportingPeriodEndorsementPollutionLiabLimitedManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaSupplementalExtddRptgPerEndtSpecificAccsProdsWorkLocsPremOpsProdsCompldOpsClaimsMadeManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaSupplementalExtddRptgPerEndtSpecificAccsProdsWorkLocsProdsCompldOpsClaimsMadeManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementLiquorClaimsMadeManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementPremOpsProdsCompldOpsClaimsMadeManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementProdsCompldOpsClaimsMadeManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNorthCarolinaSupplementalExtendedReportingPeriodEndorsementUSTManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityStateChangesSupplementalExtendedReportingPeriodEndorsementManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityStateChangesSupplementalExtendedReportingPeriodEndorsementForPollutionLiabilityManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityStateChangesVolunteerWorkersExclusionManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityNewJerseyChangesCoverageAndExclusionLiabilityForHazardsLeadMultiplePremisesManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityChangesBindingArbitrationManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityChangesNonBindingArbitrationManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityTexasChangesAirportLiabilityManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityTexasChangesPesticideOrHerbicideApplicatorCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityTexasChangesPesticideOrHerbicideApplicatorCoverageOwnersAndContractorsManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityChangesSupplementalExtendedReportingPeriodEndtForEmployeeBenefitsLiabCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityChangesSuppllExtendedReportingPeriodForExcldOrRemovedElectronicDataLiabilityCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilitySupplementalExtendedReportingPeriodEndtForProdCompldOpsLiabManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilitySupplementalExtendedReportingPeriodEndtTerrorismManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilitySupplementalExtendedReportingPeriodForExcldCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilitySupplementalExtendedReportingPeriodForExcldLiquorLiabCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilitySupplementalExtendedReportingPeriodForExcldProdCompldOpsLiabCovManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
 						"GeneralLiabilityExtendedReportingPeriodEndorsementPollutionLiabilityLimitedManualPremium": {
 							"type": "string",
 							"default": "0"
 						},
						"GLAddlInsdConcessionaires":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdConcessionairesDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdConcessionairesDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLAddlInsdDesigntdPersonOrg":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdDesigntdPersonOrgDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdDesigntdPersonOrgDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLAddlInsdGrantorFranchise":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdGrantorFranchiseDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdGrantorFranchiseDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLAddlInsdEngrsArchsSrvyrsNotEngagedInsd":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdEngrsArchsSrvyrsNotEngagedInsdDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdEngrsArchsSrvyrsNotEngagedInsdDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},	
						"GLAddlInsdLessorLeasedEquipmt":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdLessorLeasedEquipmtDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdLessorLeasedEquipmtDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},			
						"GLAddlInsdOwnersLesseesContrctrsScheddPersonOrg":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdOwnersLesseesContrctrsScheddPersonOrgDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdOwnersLesseesContrctrsScheddPersonOrgDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},						
						"GLAddlInsdVendors":{
							"type": "array",
							"items":{
								"properties":{
								"GLAddlInsdVendorsDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAddlInsdVendorsDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLAmndmtOfCovTerrAddlSchddCountries":{
							"type": "array",
							"items":{
								"properties":{
								"GLAmndmtOfCovTerrAddlSchddCountriesDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAmndmtOfCovTerrAddlSchddCountriesDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLAmndmtOfLiquorLiabExclExcptnScheddActivs":{
							"type": "array",
							"items":{
								"properties":{
								"GLAmndmtOfLiquorLiabExclExcptnScheddActivsDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAmndmtOfLiquorLiabExclExcptnScheddActivsDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLAmndmtOfSectVExtddRptgPeriodsSpecificAccs":{
							"type": "array",
							"items":{
								"properties":{
								"GLAmndmtOfSectVExtddRptgPeriodsSpecificAccsDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityAmndmtOfSectVExtddRptgPeriodsSpecificAccsDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLDesignatedConstrctnProjGeneralAggregateLimit":{
							"type": "array",
							"items":{
								"properties":{
								"GLDesignatedConstrctnProjGeneralAggregateLimitDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityDesignatedConstrctnProjGeneralAggregateLimitDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLTotalPollutionExclusionForDesignatedProdsOrWork":{
							"type": "array",
							"items":{
								"properties":{
								"GLTotalPollutionExclusionForDesignatedProdsOrWorkDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityTotalPollutionExclusionForDesignatedProdsOrWorkDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOption":{
							"type": "array",
							"items":{
								"properties":{
								"GLYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOptionDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLimitedCovOptionDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOps":{
							"type": "array",
							"items":{
								"properties":{
								"GLYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOpsDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityYear2000CompuReltdAndOtherElectronicProblemsLmtdCovOptionsProdsCompldOpsDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLStateAmndmtOfLiquorLiabExclExcptnScheddActivs":{
							"type": "array",
							"items":{
								"properties":{
								"GLStateAmndmtOfLiquorLiabExclExcptnScheddActivsDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityStateAmndmtOfLiquorLiabExclExcptnScheddActivsDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLStateAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOps":{
							"type": "array",
							"items":{
								"properties":{
								"GLStateAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOpsDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityStateAmndmtOfLiquorLiabExclExcptnScheddActivsProductsCompletedOpsDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"GLVermontCoverageForInjurytoCoEmployees":{
							"type": "array",
							"items":{
								"properties":{
								"GLVermontCoverageForInjurytoCoEmployeesDetail":{
									"type": "object",
									"properties": {
										"GeneralLiabilityVermontCoverageForInjurytoCoEmployeesDetailManualPremium": {
											"type": "string",
											"default": "0"
											}
									}
								}
							}
						}
						},
						"Location": {
							"type": "array",
							"items": {
								"properties": {
									"LocationDetail": {
										"type": "object",
										"properties": {
											"GLAddlInsdMgrsLessorsPrem":{
												"type": "array",
												"items":{
													"properties":{
													"GLAddlInsdMgrsLessorsPremDetail":{
														"type": "object",
														"properties": {
															"GeneralLiabilityAddlInsdMgrsLessorsPremDetailManualPremium": {
																"type": "string",
																"default": "0"
																}
														}
													}
												}
											}
											},
											"GLAddlInsdOwnersLesseesContrctrsCompldOpsLocLvl":{
												"type": "array",
												"items":{
													"properties":{
													"GLAddlInsdOwnersLesseesContrctrsCompldOpsLocLvlDetail":{
														"type": "object",
														"properties": {
															"GeneralLiabilityAddlInsdOwnersLesseesContrctrsCompldOpsLocLvlDetailManualPremium": {
																"type": "string",
																"default": "0"
																}
														}
													}
												}
											}
											},
											"Classification": {
												"type": "array",
												"items": {
													"properties": {
														"ClassificationDetail": {
															"type": "object",
															"properties": {
																"PremOpsExposure": {
																	"type": "string",
																	"default": "300000"
																},
																"ClassCode": {
																	"type": "string",
																	"default": "54077"
																},
																"PremOpsELPOverride": {
																	"type": "string",
																	"default": "2"
																},
																"GeneralLiabilityExclCovCMedPayLocClassLvl": {
																	"type": "string",
																	"default": "No"
																},
																"PremOpsAddlCovFactor": {
																	"type": "string",
																	"default": "1"
																},
																"PremOpsIncrdLimitFactorOverride": {
																   "type": "string",
																	"default": "10"
																},
                                "PremOpsIncrdLimitTableAssignmentOverride": {
                                  "type": "string",
																	"default": "N/A"
                                },
                                "PremOpsBIPDDeductibleFactorOverride": {
                                  "type": "string",
																	"default": "0"
                                },
                                "PremOpsBIDeductibleFactorOverride": {
                                  "type": "string",
																	"default": "0"
                                },
                                "PremOpsPDDeductibleFactorOverride": {
                                  "type": "string",
																	"default": "0"
                                },
                                "Contractor": {
                                  "type": "string",
																	"default": "Yes"
                                },
                                "GLElevatorsContractors_BodilyInjuryLimit": {
                                  "type": "string",
																	"default": "500,000"
                                },
                                "GLElevatorsContractors_PropertyDamageLimit": { "type": "string",
																	"default": "500,000"
                                },
                                "ElevatorContractorsClassCategory": {
                                  "type": "string",
																	"default": "Class I"
                                },
                              "PremOpsBIDeductible": {
                    							"type": "string",
                    							"default": "No Deductible"
                    						},
                    					"PremOpsPDDeductible": {
                    							"type": "string",
                    							"default": "1,000 Per Claim"
                    						},
                    					"PremOpsBIPDDeductible": {
                    							"type": "string",
                    							"default": "No Deductible"
                    						},
                              "SprayPainting": {
                                "type": "string",
                    						"default": "No"
                                },
                              "ProdsCompldOpsExposure": {
                                "type": "string",
                    						"default": "1000"
                                },
                              "ProdsCompldOpsELPOverride": {
                                "type": "string",
                    						"default": "3"
                                },
                              "ProdsCompldOpsAddlCovFactor": {
                                "type": "string",
                    						"default": "10"
                                },
                              "ProdsCompldOpsBIDeductible": {
                  							"type": "string",
                  							"default": "250 Per Claim"
                  						},
                  						"ProdsCompldOpsPDDeductible": {
                  							"type": "string",
                  							"default": "250 Per Claim"
                  						},
                  						"ProdsCompldOpsBIPDDeductible": {
                  							"type": "string",
                  							"default": "No Deductible"
                  						},
                              "ProdsCompldOpsBIDeductibleFactorOverride": 
                              {
                                "type": "string",
                  							"default": "0"
                                },
                              "ProdsCompldOpsPDDeductibleFactorOverride": 
                              {
                                "type": "string",
                  							"default": "0"
                                },
                              "ProdsCompldOpsBIPDDeductibleFactorOverride": 
                              {
                                "type": "string",
                  							"default": "0"
                              },
                              "ProdsCompldOpsIncrdLimitFactorOverride": 
                              {
                                "type": "string",
                  							"default": "20"
                              },
                              "ProdsCompldOpsIncrdLimitTableAssignmentOverride": {
                                "type": "string",
                  							"default": "C"
                                },
												"IfAnyBasis": {
					"type": "string",
					"default":"No"},
                "IfAnyBasisProdsCompldOps": {
					"type": "string",
					"default":"No"},
                "GeneralLiabilityCanoesOrRowboatsManualPremium": {
					"type": "string",
					"default":"0"},
                "GeneralLiabilitySnowplowOperationsCoverageManualPremium":{
					"type": "string", 
					"default":"0"}
															}
														}
													}
												}
											},
											"AddressLine1": {
												"type": "string",
												"default": "Addr1"
											},
											"AddressLine2": {
												"type": "string",
												"default": "Addr2"
											},
											"City": {
												"type": "string",
												"default": "Phoenix"
											},
										  "County": {
										    "type": "string",
												"default": "Maricopa County"
										    },
											"ZipCode": {
												"type": "string",
												"default": "85001"
											},
											"State": {
												"type": "string",
												"default": "AL"
											},
											"PremisesOperationsTerritory": {
												"type": "string",
												"default": "502"
											},
											"GLExclCovCMedPayLocClassLvl": 
											{
											  "type": "string",
												"default": "Yes"
											 },
                      "CertifiedActsOfTerrorismTerr": 
                      {
                        "type": "string",
												"default": "Yes"
                      },
                      "CertifiedActsOfTerrorismManhattan": 
                      {
                        "type": "string",
												"default": "Yes"
                      },
                      "ProdsCompldOpsTerritory": 
                      {
                        "type": "string",
												"default": "999"
                      },
					  		  "GeneralLiabilityAddlInsdCoOwnerInsdPrem": {
                        "type": "string",
						"default":"Yes"},
          "GeneralLiabilityAddlInsdMgrsLessorsPrem": {
                        "type": "string", 
						"default":"Yes"},
          "GeneralLiabilityAddlInsdMortgageeAssigneeOrRecvr": {
                        "type": "string", 
						"default":"Yes"},
          "GeneralLiabilityAddlInsdOwnersLesseesContrctrsCompldOpsLocLvl": {
                        "type": "string", 
						"default":"Yes"},
          "GeneralLiabilityAddlInsdOwnersOrOtherIntsFromWhomLandLeased": {
                        "type": "string", 
						"default":"No"},
          "GeneralLiabilityExclAllHazardsInConnectionWithDesignatedPremManualPremium": {
                        "type": "string", 
						"default":"0"},
          "GeneralLiabilityDesignatedLocGeneralAggLimitManualPremium": {
                        "type": "string", 
						"default":"0"},
          "GeneralLiabilityDesignatedLocLiquorAggLimitManualPremium": {
                        "type": "string", 
						"default":"0"},
          "GeneralLiabilityExclDamageToWorkPerformedBySubcontractorsOnYourBehalfDesignSitesOpsManualPremium": {
                        "type": "string", 
						"default":"0"},
          "GeneralLiabilityExclExplosionCollapseUndrgrdPropDmgHazardSpecifiedOpsManualPremium": {
                        "type": "string", 
						"default":"0"},
          "GeneralLiabilityExclExplosionCollapseUndrgrdPropDmgHazardSpecifiedOpsExceptedManualPremium":  {
                        "type": "string",
						"default":"0"},
          "GeneralLiabilityLimitationOfCoverageToInsuredPremisesLocLvlManualPremium": {
                        "type": "string", 
						"default":"0"}
					  
										}
									}
								}
							}
						}
					}
				},
				"OwnerId": {
					"type": "string",
					"default": "1"
				},
				"ServiceRequestDetail": {
					"type": "object",
					"properties": {
						"ResponseType": {
							"type": "string",
							"enum": [
								"JSON",
								"XML"
							],
							"default": "JSON"
						},
						"OwnerId": {
							"type": "string",
							"default": "1"
						},
						"UserName": {
							"type": "string",
							"default": "isorateadmin"
						},
						"Token": {
							"type": "string",
							"default": "cgHkrayYxCQUELzjteEsxZP32zou6UWFXKryWyV7StxpCXrv4Wrw5AgstHJauqCYxIwmtIjmQm1gAaFftpBW9+9fDequY+K/u0MvHxFxBpLbESXeQL46dz2Ady6iMvcNJ2xQAvAICVPMKGXbQNU+m0ElteQl51/LSPYsFHka6314zLAyXr1iifE21KN5M4KPuj9BeyB02zPGKGO+3S7yojnIPpfpamzEmQMR5XY2iB4UEyLtWCuR9wtM5FtbWHIbzj/bnmLCK6pb8HpH9fDqD3/NUXwW9f8LB/d+oCPp3dUsnCP5Awut2j7mq3nQhacg7xN56OlEJTqV+byM4WsBSYUu+RCiXbic0kx+kBFEW0zB3ahSzo9l23f2dqI051gXd/YRH090RvwO9XpFkmMrxYCoi4MB4x6dvKmhUsgRY80chdGFe6NaXRz5QHH9Ghhtq50njM6Vr2lOJFh8PUPJzbZG2Ecu9vbW5khPB8jeVHKHMwlQswycTzbVogwTTGlvkr0TZgGmgdhmMTzAqe0NTlUoh7CxFto9YYnsQ9eJYRfMUJsg8DOC93m69wudKk1Wu872JSbEKfULE3+hfzAll8W8jF1O8ak3UoBq1qIf/8jytZ9VAQ/L8jhq8mz7Szs5P7yI4K6jdJOzfUWfYeiflteVrPvYVaeXirqCiX8CueLmHmQuan4NsfYl2ws5dZ03SDDvvGZ+/2cwDeXfUTdjaG0IReHMCzI8TUeSoKgniUqIdEWAZvDVT+4dfy964U7httS0iXn/5bYTBwOWgG4YFXXpJj1nd+hMt+DTuJFG2iJS9yCsl+g3HbrW8jjVWuGNw3qMIl92ECSBuAujK6DqEzQVuGnvyP385edvTPMwGAcx2bcKemqTnS/xlog+IUx8vY0RE64FXkwjVhndjLWFxfcXoh04wm/SeWg/Gu0atqYwZ6zz/ELelvOlvddhWJ9OIFN2WcrxuBJox11v2C6GhPwwevhs+xC1WlhKBUkQduC1kqf1U/TEDS2FMmRJIQU2TtWbBVhXDuEEAPDAWxLE3Q0wOgMkgIi0d0ATOk4lp7KmyLzGRjrtZ5GLCp9igKhDrNOt6/r47Q+BN4J2Qie+tjn7JHPeEyme8agVLPvNW0jGl61EwmcoeVHvVHnnGcHnDt1wxx6JWxZE6/FTCLGhTZ9hJ59Z1Hyqzd0bdBKdlTCyeXH+YYd8E6KXdXR2mZLgmvlfjSIeCARWzpU6BJDzdebsJAzzQGaJtopkkyFAwh/nBagajHYhS/1A38t/8pvO+35WgKQCrv9Wq206+AwhGSjM9ANEoNIJb/PMhtIVAgmo5AE5xKz4Du3xEwUCl9IQUwkIAUiLvuyAF9v5+MDZp3JSsw2BRFShIWKyCb39aGjnOczcDJrTX3XHPwhV+l4PK9tE+CLXIBCymsq1xelWZCK2SXWiZzFzq0g9iSJrs1xpL9ES+g4ig5hM7HpujgrCBmUTCvj+VEil3uel+wADNcsz9wHTO/mwRMiD+INLXz1FTK+E5UsjdjQNo3QWL3EkYOEJIvneIjmrr8idyI3WTyELxlMqwIrTb4339qvrpbPc9IsCUhFZCzC7pI/KjiHSnimnmr7qCNPVDKRGR2A6aD/doZZUgmVyi9760e/v1m2/SrUL7DuiQTfxs3UqW6IMURpPXdyZaR8SjBByeLKDHjevMn51EJ8glGgjW9K2k2t1JppHFc920NUvC5cH6vDfj1gnAyTauBeFCleEs1TEe1SO/draOOTvTNK9PYtxC6h/xI/H9+sGq2T8yPI+BGOgffJ72/sZIDhSf3cyftv7t2i3kggt/KprE6bX3iKIrDaYsH+EuX7HtZ5fADGy4cAD6XxEup9YstwtzlGfVQqTCV0pNKbFbIKUi9p0FVwqLhdGJawncRfA2kG9NUG/iQexnYBoQSxctUSGt7BTrAVX7RubDTSkxLODsZ+QD2n9YQIgU3ZZyvG4EmjHXW/YLoaEngq7tOddfEz4y/tURqDA2g=="						},
						"BrowserIp": {
							"type": "string",
							"default": "182.74.73.146"
						},
						"ServiceRequestVersion": {
							"type": "string",
							"default": "1.0"
						}
					}
				}
			}
		},
		"Rating_Success_Response": {
			"type": "object",
			"properties": {
				"messageDetail": {
					"type": "object"
				},
				"ResponseStatus": {
					"type": "string"
				},
				"Policy": {
					"type": "object"
				}
			}
		},
		"errorModel": {
			"type": "object",
			"required": [
				"RequestStatus",
				"MessageDetail"
			],
			"properties": {
				"RequestStatus": {
					"type": "string"
				},
				"MessageDetail": {
					"type": "object",
					"properties": {
						"MessageCode": {
							"type": "string"
						},
						"MessageType": {
							"type": "string"
						},
						"UserMessage": {
							"type": "string"
						},
						"MessageLevel": {
							"type": "string"
						},
						"MessageSeverity": {
							"type": "string"
						},
						"MessageList": {
							"type": "object",
							"properties": {
								"Message": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
