{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "Solartis Rate API for ISO-WC",
		"description": " To get rate for Workers Compensation from Solartis Rate API with ISO ERC."
	},
	"host": "isowckbv6-4.ga.solartis.net",
	"basePath": "/KnowledgeEngineV6_4/KnowledgeBase",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/FireEventV3": {
			"post": {
				"description": "Gets Rate for  Workers Compensation based on ISO ERC",
				"operationId": "getRates",
				"produces": [
					"application/json"
				],
				"parameters":[
				  {
						"name": "Token",
						"in": "header",
						"description": "Authentication Token",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "cgHkrayYxCQUELzjteEsxZP32zou6UWFXKryWyV7StxpCXrv4Wrw5AgstHJauqCY7++XaFRUXUJVxSc8mdGTW7BZXgdldhbqxce+RgNfChnxZj+GjhPZvfcYe0SoVbmVZIsrUnlS2S72OkwSHw0gMSVifDv3QpKBG9IOio5jsvB4zLAyXr1iifE21KN5M4KPuj9BeyB02zPGKGO+3S7yojnIPpfpamzEmQMR5XY2iB4UEyLtWCuR9wtM5FtbWHIbzj/bnmLCK6pb8HpH9fDqD3/NUXwW9f8LB/d+oCPp3dUsnCP5Awut2j7mq3nQhacg7xN56OlEJTqV+byM4WsBSYUu+RCiXbic0kx+kBFEW0zB3ahSzo9l23f2dqI051gXd/YRH090RvwO9XpFkmMrxYCoi4MB4x6dvKmhUsgRY80chdGFe6NaXRz5QHH9Ghhtq50njM6Vr2lOJFh8PUPJzbZG2Ecu9vbW5khPB8jeVHKHMwlQswycTzbVogwTTGlvkr0TZgGmgdhmMTzAqe0NTlUoh7CxFto9YYnsQ9eJYRfMUJsg8DOC93m69wudKk1Wu872JSbEKfULE3+hfzAll8W8jF1O8ak3UoBq1qIf/8jytZ9VAQ/L8jhq8mz7Szs5P7yI4K6jdJOzfUWfYeiflteVrPvYVaeXirqCiX8CueLmHmQuan4NsfYl2ws5dZ03SDDvvGZ+/2cwDeXfUTdjaG0IReHMCzI8TUeSoKgniUqIdEWAZvDVT+4dfy964U7httS0iXn/5bYTBwOWgG4YFXXpJj1nd+hMt+DTuJFG2iJS9yCsl+g3HbrW8jjVWuGNw3qMIl92ECSBuAujK6DqEzQVuGnvyP385edvTPMwGAcx2bcKemqTnS/xlog+IUx8vY0RE64FXkwjVhndjLWFxfcXoh04wm/SeWg/Gu0atqYwZ6zz/ELelvOlvddhWJ9OIFN2WcrxuBJox11v2C6GhPwwevhs+xC1WlhKBUkQduC1kqf1U/TEDS2FMmRJIQU2TtWbBVhXDuEEAPDAWxLE3Q0wOgMkgIi0d0ATOk4lp7KmyLzGRjrtZ5GLCp9igKhDrNOt6/r47Q+BN4J2Qie+tjn7JHPeEyme8agVLPvNW0jGl61EwmcoeVHvVHnnGcHnDt1wxx6JWxZE6/FTCLGhTZ9hJ59Z1Hyqzd0bdBKdlTCyeXH+YYd8E6KXdXR2mZLgmvlfjSIeCARWzpU6BJDzdebsJAzzQGaJtopkkyFAwh/nBagajHYhS/1A38t/8pvO+35WgKQCrv9Wq206+AwhGSjM9ANEoNIJb/PMhtIVAgmo5AE5xKz4Du3xEwUCl9IQUwkIAUiLvuyAF9v5+MDZp3JSsw2BRFShIWKyCb39aGjnOczcDJrTX3XHPwhV+l4PK9tE+CLXIBCymsq1xelWZCK2SXWiZzFzq0g9iSJrs1xpL9ES+g4ig5hM7HpujgrCBmUTCvj+VEil3uel+wADNcsz9wHTO/mwRMiD+INLXz1FTK+E5UsjdjQNo3QWL3EkYOEJIvneIjmrr8idyI3WTyELxlMqwIrTb4339qvrpbPc9IsCUhFZCzC7pI/KjiHSnimnmr7qCNPVDKRGR2A6aD/doZZUgmVyi9760e/v1m2/SrUL7DuiQTfxs3UqW6IMURpPXdyZaR8SjBByeLKDHjevMn51EJ8glGgjW9K2k2t1JppHFc920NUvC5cH6vDfj1gnAyTauBeFCleEs1TEe1SO/draOOTvTNK9PYtxC6h/xI/H9+sGq2T8yPI+BGOgffJ72/sZIDhSf3cyftv7t2i3kggt/KprE6bX3iKIrDaYsH+EuX7HtZ5fADGy4cAD6XxEup9YstwtzlGfVQqTCV0pNKbFbIKUi9p0FVwqLhdGJawncRfA2kG9NUG/iQexjsUB5442pXiRib+ULwgFiebR3tJ3vaSvl76x1kIHTA1ID6aBYSie9Q1o6zpRrl1POpnHrIcUTFJWIvGCByH2dBubDTSkxLODsZ+QD2n9YQIgU3ZZyvG4EmjHXW/YLoaEngq7tOddfEz4y/tURqDA2g=="
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content Type",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "application/json"
					},
					{
						"name": "EventName",
						"in": "header",
						"description": "EventName",
						"required": true,
						"type": "string",
						"format": "string",
						"default": "WC_RatingEvent_V1"
					},
					{
						"name": "Rating Request",
						"in": "body",
						"description": "For rating request",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"$ref": "#/definitions/Success_Response"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/errorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Request": {
			"type": "object",
			"properties": {
			"ServiceRequestDetail": {
				"type": "object",
				"properties": {
					"EndClientUserUniqueSessionId": {
							"type": "string",
							"default":"1.0"
							},
					"ServiceRequestVersion": {
							"type": "string",
							"default":"1.0"
							},
					"LanguageCode": {
							"type": "string",
							"default":"en"
							},
					"UserName": {
							"type": "string",
							"default":"isorateadmin"
							},
					"RegionCode": {
							"type": "string",
							"default":""
							},
					"ServiceResponseVersion": {
							"type": "string",
							"default":"1.0"
							},
					"ResponseType": {
							"type": "string",
							"default":"json"
							},
					"Token": {
							"type": "string",
							"default":"cgHkrayYxCQUELzjteEsxZP32zou6UWFXKryWyV7StxpCXrv4Wrw5AgstHJauqCY7++XaFRUXUJVxSc8mdGTW7BZXgdldhbqxce+RgNfChnxZj+GjhPZvfcYe0SoVbmVZIsrUnlS2S72OkwSHw0gMSVifDv3QpKBG9IOio5jsvB4zLAyXr1iifE21KN5M4KPuj9BeyB02zPGKGO+3S7yojnIPpfpamzEmQMR5XY2iB4UEyLtWCuR9wtM5FtbWHIbzj/bnmLCK6pb8HpH9fDqD3/NUXwW9f8LB/d+oCPp3dUsnCP5Awut2j7mq3nQhacg7xN56OlEJTqV+byM4WsBSYUu+RCiXbic0kx+kBFEW0zB3ahSzo9l23f2dqI051gXd/YRH090RvwO9XpFkmMrxYCoi4MB4x6dvKmhUsgRY80chdGFe6NaXRz5QHH9Ghhtq50njM6Vr2lOJFh8PUPJzbZG2Ecu9vbW5khPB8jeVHKHMwlQswycTzbVogwTTGlvkr0TZgGmgdhmMTzAqe0NTlUoh7CxFto9YYnsQ9eJYRfMUJsg8DOC93m69wudKk1Wu872JSbEKfULE3+hfzAll8W8jF1O8ak3UoBq1qIf/8jytZ9VAQ/L8jhq8mz7Szs5P7yI4K6jdJOzfUWfYeiflteVrPvYVaeXirqCiX8CueLmHmQuan4NsfYl2ws5dZ03SDDvvGZ+/2cwDeXfUTdjaG0IReHMCzI8TUeSoKgniUqIdEWAZvDVT+4dfy964U7httS0iXn/5bYTBwOWgG4YFXXpJj1nd+hMt+DTuJFG2iJS9yCsl+g3HbrW8jjVWuGNw3qMIl92ECSBuAujK6DqEzQVuGnvyP385edvTPMwGAcx2bcKemqTnS/xlog+IUx8vY0RE64FXkwjVhndjLWFxfcXoh04wm/SeWg/Gu0atqYwZ6zz/ELelvOlvddhWJ9OIFN2WcrxuBJox11v2C6GhPwwevhs+xC1WlhKBUkQduC1kqf1U/TEDS2FMmRJIQU2TtWbBVhXDuEEAPDAWxLE3Q0wOgMkgIi0d0ATOk4lp7KmyLzGRjrtZ5GLCp9igKhDrNOt6/r47Q+BN4J2Qie+tjn7JHPeEyme8agVLPvNW0jGl61EwmcoeVHvVHnnGcHnDt1wxx6JWxZE6/FTCLGhTZ9hJ59Z1Hyqzd0bdBKdlTCyeXH+YYd8E6KXdXR2mZLgmvlfjSIeCARWzpU6BJDzdebsJAzzQGaJtopkkyFAwh/nBagajHYhS/1A38t/8pvO+35WgKQCrv9Wq206+AwhGSjM9ANEoNIJb/PMhtIVAgmo5AE5xKz4Du3xEwUCl9IQUwkIAUiLvuyAF9v5+MDZp3JSsw2BRFShIWKyCb39aGjnOczcDJrTX3XHPwhV+l4PK9tE+CLXIBCymsq1xelWZCK2SXWiZzFzq0g9iSJrs1xpL9ES+g4ig5hM7HpujgrCBmUTCvj+VEil3uel+wADNcsz9wHTO/mwRMiD+INLXz1FTK+E5UsjdjQNo3QWL3EkYOEJIvneIjmrr8idyI3WTyELxlMqwIrTb4339qvrpbPc9IsCUhFZCzC7pI/KjiHSnimnmr7qCNPVDKRGR2A6aD/doZZUgmVyi9760e/v1m2/SrUL7DuiQTfxs3UqW6IMURpPXdyZaR8SjBByeLKDHjevMn51EJ8glGgjW9K2k2t1JppHFc920NUvC5cH6vDfj1gnAyTauBeFCleEs1TEe1SO/draOOTvTNK9PYtxC6h/xI/H9+sGq2T8yPI+BGOgffJ72/sZIDhSf3cyftv7t2i3kggt/KprE6bX3iKIrDaYsH+EuX7HtZ5fADGy4cAD6XxEup9YstwtzlGfVQqTCV0pNKbFbIKUi9p0FVwqLhdGJawncRfA2kG9NUG/iQexjsUB5442pXiRib+ULwgFiebR3tJ3vaSvl76x1kIHTA1ID6aBYSie9Q1o6zpRrl1POpnHrIcUTFJWIvGCByH2dBubDTSkxLODsZ+QD2n9YQIgU3ZZyvG4EmjHXW/YLoaEngq7tOddfEz4y/tURqDA2g=="
							},
					"OwnerId": {
							"type": "string",
							"default":"1"
							}
			}
			},
			 
			  "OwnerID": {
							"type": "string",
							"default":"1"
							},
			  "ProductNumber": {
							"type": "string",
							"default":"ISOWC"
							},
			  "ProductVerNumber": {
							"type": "string",
							"default":"ISO_WC_V1"
							},
			  "EventName": {
							"type": "string",
							"default":"WC_RatingEvent_V1"
							},
			  "EffectiveDate": {
							"type": "string",
							"default":"2019-04-01"
							},
			  "ExpirationDate": {
							"type": "string",
							"default":"2020-02-01"
							},
			  "LastRateLookUpDate": {
							"type": "string",
							"default":"2019-04-01"
							},
			  "State":{
							"type": "string",
							"default":"PA"
							},
			  "City": {
							"type": "string",
							"default":"Abbottstown"
							},
			  "ZipCode": {
							"type": "string",
							"default":"17301"
							},
			  "County": {
							"type": "string",
							"default":"Adams"
							},
							
				"WorkersComp":{
							"type": "array",
							"items": {
								"properties": {
									"State": {
										"type": "string"
									},
									"WorkersCompAuditNoncomplianceChargeEndorsement":{
									"type": "array",
									"items":{
										"properties":{
											"NoncomplianceChargeMultiplier":{
											"type": "string"
											}
										}
									}
									},
									"WorkersCompLocation":{
									"type": "array",
									"items":{
										"properties":{
											"WorkersCompClass":{
											"type": "array",
											"items":{
												"properties":{
													  "WorkersCompAtomicEnergyRadiation.FlatChargePremium": {
														"type": "string"
														},
													  "ClassCodeByClassDescription": {
														"type": "string"
														},
													  "ClassCodeForClassDescription": {
														"type": "string"
														},
													  "IfAny": {
														"type": "string"
														},
													  "Payroll": {
														"type": "string"
														},
													  "SelectBy":{
														"type": "string"
														},
													  "WorkersCompClassCoverage.ARate": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.ClassCode": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.DiseaseLoading": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.NumberFullTimeEmployees": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.NumberPartTimeEmployees": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.PartialDiseaseAdjustment":{
														"type": "string"
														},
													  "WorkersCompClassCoverage.USLHAdjustment": {
														"type": "string"
														},
													  "WorkersCompSupplementalDiseasePremiumCoverage.ManualPremium": {
														"type": "string"
														},
													  "WorkersCompSupplementalDiseasePremiumCoverage.SupplementalDiseaseLoading": {
														"type": "string"
														},
													  "WorkersCompSupplementaryDiseasePremiumCoverage.SubjectPayroll": {
														"type": "string"
														},
													  "WorkersCompSupplementaryDiseasePremiumCoverage.SupplementaryDiseaseType": {
														"type": "string"
														},
													  "WorkersCompUSLHPremiumCoverage.SubjectPayroll": {
														"type": "string"
														},
													  "NumberOfApparatus": {
														"type": "string"
														},
													  "WorkersCompClassTransportationWagesMaintenanceAndCureCoverage.TWMCAdjustment": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.NumberOfAmbulances": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.NumberOfEmployees": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.NumberOfHazardousMaterialsResponseTeams": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.NumberOfWeeksInTheProgram": {
														"type": "string"
														},
													  "WorkersCompClassCoverage.VolunteerFirefightersPopulation":{
														"type": "string"
														}
												}
											}
											
											},
											
											"City": {
												"type": "string",
												"default":"Abbottstown"
												},
											"ZipCode": {
												"type": "string",
												"default":"17301"
												}
										}
										}
									},
									"WorkersCompWaiverOfOurRightToRecoverFromOthersEndorsement":{
									"type": "array",
									"items":{
										"properties":{
											 "WorkersCompWaiverOfOurRightToRecoverFromOthersEndorsementDetail":{
												"type": "array",
												"items":{
													"properties":{
													  "ManualPremium": {
														"type": "string"
														},
													  "FlatCharge":{
														"type": "string"
														},
													  "FlatChargePremium": {
														"type": "string"
														}
													}
													}
											 }
										}
										}
									},
									
									  "AdmiraltyLimit": {
												"type": "string",
												"default":"200,000"
												},
									  "DeductibleAmount": {
												"type": "string",
												"default":"1000"
												},
									  "DeductibleType": {
												"type": "string",
												"default":"Per Claim"
												},
									  "DiseaseEachEmployeeLimit": {
												"type": "string",
												"default":""
												},
									  "DiseasePolicyLimit": {
												"type": "string",
												"default":"500,000"
												},
									  "EachAccidentLimit": {
												"type": "string",
												"default":"500,000"
												},
									  "EmployersLiabilityOnlyPolicy": {
												"type": "string",
												"default":"Yes"
												},
									  "ExperienceModIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "FederalEmployersLiabilityActCoverageLimit": {
												"type": "string",
												"default":"200,000"
												},
									  "ScheduleModIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "TotalPayroll": {
												"type": "string",
												"default":"100"
												},
									  "WorkersCompPackageAdmiraltyIncrLimitsMinimumPremiumCoveragePremium": {
												"type": "string",
												"default":"100"
												},
									  "WorkersCompPackageBalanceToMinimumCoveragePremium": {
												"type": "string",
												"default":"100"
												},
									  "WorkersCompPackageEmployersLiabilityIncrLimitsBalanceToMinimumCoveragePremium": {
												"type": "string",
												"default":"2000"
												},
									  "WorkersCompPackageExpenseConstant": {
												"type": "string",
												"default":"10"
												},
									  "WorkersCompPackageFederalEmployersLiabililtyActIncrLimitsMinimumPremiumCoveragePremium": {
												"type": "string",
												"default":"120"
												},
									  "WorkersCompPackageTotalStandardPremium": {
												"type": "string",
												"default":"5"
												},
									  "XMLRatingRequest": {
												"type": "string",
												"default":"Yes"
												},
									  "XMLStateRatingRequest": {
												"type": "string",
												"default":"Yes"
												},
									  "WorkersCompAuditNoncomplianceChargeCoverage.AuditNoncomplianceChargeIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "WorkersCompExperienceModCoverage.ExperienceMod": {
												"type": "string",
												"default":"1"
												},
									  "WorkersCompExperienceModCoveragePostARD.ExperienceMod": {
												"type": "string",
												"default":"1"
												},
									  "WorkersCompPremiumDiscountCoverage.PremiumDiscountTable": {
												"type": "string",
												"default":""
												},
									  "WorkersCompPremiumDiscountCoverage.PremiumDiscountType": {
												"type": "string",
												"default":"Schedule X"
												},
									  "WorkersCompScheduleModCoverage.ScheduleMod": {
												"type": "string",
												"default":"1"
												},
									  "ConstructionClassIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "ManagedCareIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "OccasionalPrivateResidenceExposureIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "WorkersCompConstructionClassCoverage.Factor": {
												"type": "string",
												"default":"10"
												},
									  "WorkersCompConstructionClassCoveragePostARD.Factor": {
												"type": "string",
												"default":"5"
												},
									  "WorkersCompManagedCareCoverage.Factor": {
												"type": "string",
												"default":"5"
												},
									  "CertifiedSafetyIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "MeritRatingIndicator": {
												"type": "string",
												"default":"Yes"
												},
									  "WorkersCompMeritRatingCoverage.NumberOfClaims": {
												"type": "string",
												"default":"No compensable employee lost-time injuries"
												}
									
									
								}
							}
				}						
			}

		},
		"Success_Response": {
			"type": "object",
			"properties": {
				"messageDetail": {
					"type": "object"
				},
				"ResponseStatus": {
					"type": "string"
				},
				"Policy": {
					"type": "object"
				}
			}
		},
		"errorModel": {
			"type": "object",
			"required": [
				"RequestStatus",
				"MessageDetail"
			],
			"properties": {
				"RequestStatus": {
					"type": "string"
				},
				"MessageDetail": {
					"type": "object",
					"properties": {
						"MessageCode": {
							"type": "string"
						},
						"MessageType": {
							"type": "string"
						},
						"UserMessage": {
							"type": "string"
						},
						"MessageLevel": {
							"type": "string"
						},
						"MessageSeverity": {
							"type": "string"
						},
						"MessageList": {
							"type": "object",
							"properties": {
								"Message": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			}
		}

	}
}
